{% extends 'staff_base.html' %}

{% load staff_templatetags %}

{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb_item_url 'rewards:reward_point_redemption_events' %}
        {% translate 'Reward Point Redemption Events' %}
    {% endbreadcrumb_item_url %}
    {% breadcrumb_item %}
        {% translate 'Edit event' %}
    {% endbreadcrumb_item %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <form id="reward-point-redemption-event-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                {% include 'bootstrap_form.html' with form=form %}
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% translate 'Save event' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    {% include 'bootstrap_datetimepicker.html' %}
{% endblock %}
