<div class="card-header">
    {% translate title %}
</div>
<div class="card-body table-responsive">
    {% if events %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="width-percent-20">{% translate 'Event date' %}</th>
                    <th class="width-percent-20">{% translate 'Redemption end date' %}</th>
                    <th class="width-percent-30">{% translate 'Event name' %}</th>
                    <th class="width-percent-15">{% translate 'Redemptions' %}</th>
                    <th class="width-percent-15 text-end">{% translate 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr id="event-row-{{ event.id }}">
                        <td>{{ event.date }}</td>
                        <td>{{ event.redeem_end_date }}</td>
                        <td>{{ event.name }}</td>
                        <td><span class="fas fa-user"></span> {{ event.redemptions_by_user|length }}</td>
                        <td class="d-flex justify-content-end gap-1">
                            <a href="{% url 'rewards:reward_point_redemption_event_export' event.id %}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Export Redemptions' %}"><span class="fas fa-download"></span></a>
                            <a href="{% url 'rewards:reward_point_redemption_event_edit' event.id %}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Edit' %}"><span class="fas fa-pencil"></span></a>
                            {% if event.can_delete %}
                                <confirmation-modal type="submit" form="event-deletion-form" name="event_id" value="{{ event.id }}" confirm-button-class="btn-danger">
                                    <span slot="title">{% translate 'Delete event' %}</span>
                                    <span slot="action-text">{% translate 'Delete event' %}</span>
                                    <span slot="question">
                                        {% blocktranslate trimmed with event_name=event.name %}
                                            Do you really want to delete the event <strong>{{ event_name }}</strong>?
                                        {% endblocktranslate %}
                                    </span>

                                    <button slot="show-button" type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Delete' %}">
                                        <span class="fas fa-trash"></span>
                                    </button>
                                </confirmation-modal>
                            {% else %}
                                <button disabled type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="{% translate 'This event cannot be deleted because some users already redeemed points for it.' %}">
                                    <span class="fas fa-trash"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="fst-italic">{% translate 'No events exist.' %}</span>
    {% endif %}
</div>
