{% extends "staff_base.html" %}

{% load i18n %}

{% block subtitle %}
    {{ block.super }}
    <li><a href="{% url "evap.rewards.views.reward_point_redemption_events" %}">{% trans "Reward Point Redemption Events" %}</a></li>
    <li>{% trans "Delete event" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        <p>{% blocktrans with name=event.name %}Do you really want to delete the event <em>{{ name }}</em>?{% endblocktrans %}</p>
        <input type="submit" value="{% trans "Yes" %}"/>
    </form>
    <form method="GET" action="{% url "evap.rewards.views.reward_point_redemption_events" %}" style="display: inline;">
        <input type="submit" value="{% trans "No" %}"/>
    </form>
{% endblock %}
