<div class="card-header">
    {% trans title %}
</div>
<div class="card-body">
    {% if events %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20%">{% trans 'Event date' %}</th>
                    <th style="width: 20%">{% trans 'Redemption end date' %}</th>
                    <th style="width: 30%">{% trans 'Event name' %}</th>
                    <th style="width: 15%">{% trans 'Redemptions' %}</th>
                    <th style="width: 15%">{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr id="event-row-{{ event.id }}">
                        <td>{{ event.date }}</td>
                        <td>{{ event.redeem_end_date }}</td>
                        <td>{{ event.name }}</td>
                        <td><span class="fas fa-user"></span> {{ event.redemptions_by_user|length }}
                        <td>
                            <a href="{% url 'rewards:reward_point_redemption_event_export' event.id %}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="{% trans 'Export Redemptions' %}"><span class="fas fa-download"></span></a>
                            <a href="{% url 'rewards:reward_point_redemption_event_edit' event.id %}" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}"><span class="fas fa-pencil-alt"></span></a>
                            {% if event.can_delete %}
                                <button type="button" onclick="deleteEventModalShow({{ event.id }}, '{{ event.name|escapejs }}');" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}">
                                    <span class="fas fa-trash"></span>
                                </button>
                            {% else %}
                                <button disabled type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                                    title="{% trans 'This event cannot be deleted because some users already redeemed points for it.' %}">
                                    <span class="fas fa-trash"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="font-italic">{% trans 'No events exist.' %}</span>
    {% endif %}
</div>
