{% extends 'base.html' %}

{% load evaluation_filters %}

{% block title %}{% translate 'Rewards' %} - {{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="callout callout-info small">
        {% blocktranslate %}You will get reward points by taking part in evaluations. These points can be redeemed for different events. You will receive vouchers for food and drinks at the event you selected below. We'll inform you about any upcoming event where you can redeem your reward points.{% endblocktranslate %}
    </div>

    <div class="card card-outline-primary mb-3">
        <div class="card-header">
            {% translate 'Redeem points' %}
        </div>
        <div class="card-body table-responsive">
            <p><b>{% translate 'Total points available' %}: {{ total_points_available }}</b></p>
            {% if total_points_available > 0 %}
                {% if events %}
                    <form id="reward-redemption-form" action="#" method="POST" class="form-horizontal multiselect-form">
                        {% csrf_token %}

                        {% include 'bootstrap_form_errors.html' with errors=formset.non_form_errors %}
                        {{ formset.management_form }}

                        <input type="hidden" name="previous_redeemed_points" value="{{ total_points_spent }}">
                        <table class="table table-striped table-vertically-aligned mb-3">
                            <thead>
                                <tr>
                                    <th class="width-percent-20">{% translate 'Date' %}</th>
                                    <th class="width-percent-40">{% translate 'Event' %}</th>
                                    <th class="width-percent-20">{% translate 'Available until' %}</th>
                                    <th class="width-percent-20">{% translate 'Redeem points' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form, event in forms %}
                                    <tr>
                                        <td>{{ event.date }}</td>
                                        <td>{{ event.name }}</td>
                                        <td>{{ event.redeem_end_date }}</td>
                                        <td>
                                            {{ form.event }}
                                            {% include 'bootstrap_form_field_widget.html' with field=form.points %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <span class="d-flex">
                            <button type="submit" class="btn btn-primary ms-auto">{% translate 'Redeem' %}</button>
                        </span>
                    </form>
                {% else %}
                    <p class="fst-italic">{% blocktranslate %}Currently there are no events available for which you can redeem points. We'll send you a message when this changes.{% endblocktranslate %}</p>
                {% endif %}
            {% else %}
                <p class="fst-italic">{% blocktranslate %}You don't have any reward points that you could redeem.{% endblocktranslate %}</p>
            {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            {% translate 'Reward points history' %}
        </div>
        <div class="card-body table-responsive">
            {% if reward_point_actions %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="width-percent-20">{% translate 'Date' %}</th>
                            <th class="width-percent-40">{% translate 'Action' %}</th>
                            <th class="width-percent-20 text-end">{% translate 'Granted points' %}</th>
                            <th class="width-percent-20 text-end">{% translate 'Redeemed points' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action_time, event_name, granting_value, redemption_value in reward_point_actions %}
                            <tr>
                                <td>{{ action_time }}</td>
                                <td>{{ event_name }}</td>
                                <td class="text-end">{{ granting_value }}</td>
                                <td class="text-end">{{ redemption_value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="fst-italic">{% translate 'No reward points earned yet.' %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
