<div class="card-header">
    {% trans title %}
</div>
<div class="card-body">
    {% if events %}
        <form id="event-deletion-form" method="POST" action="{% url 'rewards:reward_point_redemption_event_delete' %}">
            {% csrf_token %}
        </form>

        <script defer>
            const form = document.getElementById("event-deletion-form");
            form.addEventListener("submit", event => {
                event.preventDefault();
                const body = new FormData(form);
                const request = fetch(
                    form.action,
                    { method: form.method, body },
                );
                request.then(response => {
                    assert(response.ok);
                    fadeOutThenRemove(document.querySelector(`#event-row-${body.get("event_id")}`));
                }).catch(error => {
                    window.alert("{% trans 'The server is not responding.' %}");
                });;
            });
        </script>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20%">{% trans 'Event date' %}</th>
                    <th style="width: 20%">{% trans 'Redemption end date' %}</th>
                    <th style="width: 30%">{% trans 'Event name' %}</th>
                    <th style="width: 15%">{% trans 'Redemptions' %}</th>
                    <th class="text-end" style="width: 15%">{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr id="event-row-{{ event.id }}">
                        <td>{{ event.date }}</td>
                        <td>{{ event.redeem_end_date }}</td>
                        <td>{{ event.name }}</td>
                        <td><span class="fas fa-user"></span> {{ event.redemptions_by_user|length }}</td>
                        <td class="d-flex justify-content-end gap-1">
                            <a href="{% url 'rewards:reward_point_redemption_event_export' event.id %}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Export Redemptions' %}"><span class="fas fa-download"></span></a>
                            <a href="{% url 'rewards:reward_point_redemption_event_edit' event.id %}" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Edit' %}"><span class="fas fa-pencil"></span></a>
                            {% if event.can_delete %}
                                <confirmation-modal type="submit" form="event-deletion-form" name="event_id" value="{{ event.id }}" confirm-button-class="btn-danger">
                                    <span slot="title">{% trans 'Delete event' %}</span>
                                    <span slot="action-text">{% trans 'Delete event' %}</span>
                                    <span slot="question">
                                        {% blocktrans with event_name=event.name %}
                                            Do you really want to delete the event {{ event_name }}?
                                        {% endblocktrans %}
                                    </span>

                                    <button slot="show-button" type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Delete' %}">
                                        <span class="fas fa-trash"></span>
                                    </button>
                                </confirmation-modal>
                            {% else %}
                                <button disabled type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="{% trans 'This event cannot be deleted because some users already redeemed points for it.' %}">
                                    <span class="fas fa-trash"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="fst-italic">{% trans 'No events exist.' %}</span>
    {% endif %}
</div>
