{% extends "rewards_semester_reward_points_base.html" %}

{% load i18n %}
{% load static %}
{% load evaluation_templatetags %}
{% load morefilters %}

{% block content %}
    {{ block.super }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-3">{% trans "Name" %}</th>
                <th class="col-sm-6">{% trans "Evaluated" %}</th>
                <th class="col-sm-3 text-center">{% trans "Reward points earned" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user, number_of_courses_voted_for, number_of_courses, earned_reward_points in data %}                
                <tr>
                    <td>{{ user.full_name }}</td>
                    <td>{% include_progress_bar number_of_courses_voted_for number_of_courses large %}</td>
                    <td class="text-center">{% if earned_reward_points %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
