{% extends "contributor_base.html" %}

{% load i18n %}
{% load static %}
{% load morefilters %}

{% block subtitle %}
    {{ block.super }}
    <li>{{ course.name }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST" class="form-horizontal multiselect-form">
        {% csrf_token %}
        <fieldset>
            <legend>{{ course.name }} ({{ course.semester.name }})</legend>
            {{ form.as_div }}
        </fieldset>

        <fieldset>
            {{ formset.management_form }}
            <legend>{% trans "Contributors" %}</legend>
            {{ formset.non_form_errors }}
            <table id="contribution_table" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Contributor" %}</th>
                        <th>{% trans "Questionnaires" %}</th>
                        <th>{% trans "Can edit course" %}</th>
                        <th>{% trans "Remove?" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form_element in formset %}
                        {% if form_element.non_field_errors %}
                            <tr><td colspan=100>{{ form_element.non_field_errors }}</td></tr>
                        {% endif %}

                        <tr class="moveable">
                            {% for field in form_element.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            <td style="width: 10px; cursor:move"><span style="font-size: 16px; top: 8px;" class="glyphicon glyphicon-move"></span></td>
                            {{ form_element.responsible.as_hidden }}
                            <td>
                                {{form_element.contributor.errors}}
                                
                                {% if form_element.responsible.value == True %}
                                    <input value='{{ responsible }} ({% trans "responsible" %})' disabled='True'/>
                                    {{ form_element.contributor.as_hidden }}
                                {% else %}
                                    <input list="contributor_list" style="width:80%"/>
                                    <datalist id='contributor_list'>
                                    {% for contributor in contributors %}
                                        <option>{{ contributor }}</option>
                                    {% endfor %}
                                    </datalist>
                                {% endif %}
                            </td>
                            <td>{{form_element.questionnaires.errors}} {{ form_element.questionnaires }}</td>
                            <td>
                                {{form_element.can_edit.errors}}
                                <div class="checkbox">
                                {% if form_element.responsible.value == True %}
                                    <input checked="checked" type="checkbox" disabled="True" />
                                    {{ form_element.can_edit.as_hidden }}
                                {% else %}
                                    {{ form_element.can_edit }}
                                {% endif %}
                                </div>
                            </td>
                            <td>{% if not form_element.responsible.value == True %}<div class="checkbox">{{ form_element.DELETE }}</div>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>{% trans "Students" %}</legend>
            <p>{% trans "These students should be participating in your course. If this data is not correct, e.g. when students are missing from the list, please contact the student representatives." %}</p>
            <ul>
                {% for p in course.participants.all|dictsort:"last_name" %}
                    <li>{{ p.full_name }}</li>
                {% endfor %}
            </ul>
        </fieldset>
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                {% if edit %}
                    <button name="operation" value="save" type="submit" class="btn btn-primary">{% trans "Save"%}</button>
                    <button name="operation" value="approve" type="submit" class="btn btn-success">{% trans "Save and approve"%}</button>
                {% endif %}
                <a href="{% url "evap.contributor.views.index" %}" class="btn btn-default">{% if edit|is_false %} {% trans "Back" %} {% else %} {% trans "Cancel" %} {% endif %}</a>
            </div>
        </div>
    </form>
{% endblock %}

{# deactivate the default twipsification. this is handled in evap_course_edit_js.html. #}
{% block activate_twipsify %} {% endblock %}

{% block additional_javascript %}
    {% include "evap_course_edit_js.html" %}
{% endblock %}
