{% extends 'contributor_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{{ course.name }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="bs-callout bs-callout-info small">
        {% blocktrans %}Please review the course's details below, add all contributors and select suitable questionnaires. Once everything is okay, please approve the course on the bottom of the page.{% endblocktrans %}
    </div>

    <form method="POST" class="form-horizontal multiselect-form select2form" id="course-form">
        {% csrf_token %}

        <div class="card mb-3">
            <div class="card-body">
                {% include 'course_form_general_questions.html' with course=course course_form=form %}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                {% include 'contribution_formset.html' with formset=formset staff=False editable=editable %}
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <fieldset>
                    <div class="d-flex">
                        <h5 class="card-title mr-auto">{% trans 'Students' %}</h5>
                        <div>
                            <a role="button" class="btn btn-sm btn-light" onclick="changeParticipantRequestModalShow();" id="changeParticipantRequestModalButton">
                                {% trans 'Request changes' %}
                            </a>
                        </div>
                    </div>
                    <p>{% trans 'These students should be participating in your course. Please let us know if this data is not correct.' %}</p>
                    <ul>
                        {% for p in course.participants.all|dictsort:'last_name' %}
                            <li>{{ p.full_name }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </div>
        </div>
        <div class="card card-submit-area card-submit-area-3 text-center mb-3">
            <div class="card-body">
                {% if editable %}
                    <button name="operation" value="preview" type="submit" class="btn btn-light">{% trans 'Preview' %}</button>
                    <button name="operation" value="save" type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    {# webtest does not allow submission with value "approve" if no such button exists #}
                    <button style="display: none" name="operation" value="approve" type="submit"></button>
                    <a onclick="approveCourseModalShow(0, '');" role="button" class="btn btn-success">{% trans 'Save and approve' %}</a>
                {% endif %}
                <a href="{% url 'contributor:index' %}" class="btn btn-light">{% if edit %}{% trans 'Cancel' %}{% else %}{% trans 'Back' %}{% endif %}</a>
            </div>
        </div>
    </form>

    {% if preview_html %}
        <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="previewModalLabel">{% trans 'Preview' %}</h5>
                        <a role="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fas fa-times"></span></a>
                    </div>
                    <div class="modal-body">
                        {{ preview_html|safe }}
                    </div>
                    <div class="modal-footer">
                        <a role="button" class="btn btn-light" data-dismiss="modal">{% trans 'Close' %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Approve course' as title %}
    {% blocktrans asvar question%}Do you want to approve this course? This will allow the evaluation team to proceed with the preparation, but you won't be able to make any further changes.{% endblocktrans %}
    {% trans 'Approve course' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='approveCourseModal' title=title question=question action_text=action_text btn_type='primary' %}
    <script type="text/javascript">
        function approveCourseModalAction(dataId) {
            $('#course-form').append('<input type="hidden" name="operation" value="approve" />');
            $('#course-form').submit();
        };
    </script>
    {% blocktrans asvar title %}Request participant changes for {{ course }}{% endblocktrans %}
    {% trans 'Please tell us what changes to the participants list we should make.' as teaser %}
    {% include 'contact_modal.html' with modal_id='changeParticipantRequestModal' user=request.user title=title teaser=teaser %}
    {% trans 'Request account creation' as title %}
    {% trans 'Please tell us which new account we should create. We need the name and email for all new accounts.' as teaser %}
    {% include 'contact_modal.html' with modal_id='createAccountRequestModal' user=request.user title=title teaser=teaser %}
{% endblock %}

{% block additional_javascript %}
    {% include 'evap_course_edit_js.html' %}

    {% if preview_html %}
        <script type="text/javascript">
            $('#previewModal').modal();
        </script>
    {% endif %}
{% endblock %}
