{% extends "contributor_base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans "Settings" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>{% trans "Settings" %}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{% trans "Personal information" %}
                <span data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-info-sign pull-right"
                title="{% trans "To change any of these settings, please contact the student representatives." %}">
                </span>
            </span>
        </div>
        <div class="panel-body">
            <table class="table table-striped vertically-aligned">
                <tr>
                    <td class="col-sm-2"><strong>{% trans "Username" %}</strong></td>
                    <td class="col-sm-10">{{ form.instance.username }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Title" %}</strong></td>
                    <td>{{ form.instance.title }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "First name" %}</strong></td>
                    <td>{{ form.instance.first_name }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Last name" %}</strong></td>
                    <td>{{ form.instance.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Email" %}</strong></td>
                    <td>{{ form.instance.email }}</td>
                </tr>
            </table>
        </div>
    </div>

    <form method="POST" class="form-horizontal multiselect-form settings-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Delegates and CC users" %}
                    <span data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-info-sign pull-right"
                    title="{% blocktrans %}You can only change your own delegates. To become a delegate of another person this person has to add you.
                    Please contact the student representatives to change the CC settings.{% endblocktrans %}">
                    </span>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">{% trans "Own delegates" %}</span>
                            </div>
                            <div class="panel-body">
                                {{ form.delegates.errors }}
                                {{ form.delegates }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">{% trans "You are a delegate of" %}</span>
                            </div>
                            <div class="panel-body">
                                {{ form.delegate_of.errors }}
                                {{ form.delegate_of }}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">{% trans "Emails sent to you will be CC'ed to" %}</span>
                            </div>
                            <div class="panel-body">
                                {{ form.cc_users.errors }}
                                {{ form.cc_users }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">{% trans "Emails sent to these users will be CC'ed to you" %}</span>
                            </div>
                            <div class="panel-body">
                                {{ form.cc_user_of.errors }}
                                {{ form.cc_user_of }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form.cc_users.as_hidden }} {# disabled elements are not sent in the post and select2 doesn't work with readonly #}

        <div class="well submit-area text-center">
            <input type="submit" value="{% trans "Save changes" %}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}
