{% extends "contributor_base.html" %}

{% load i18n %}
{% load morefilters %}

{% block content %}
    {{ block.super }}
    
    <h3>{% trans "Own Courses" %}</h3>
    {% if own_courses %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="maximize">{% trans "Name" %}</th>
				<th class="maximize">{% trans "State" %}</th>
                <th class="minimize">{% trans "Evaluation Period" %}</th>
                <th class="minimize">{% trans "Participants" %}</th>
                <th class="minimize">{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for course in own_courses %}
                <tr>
                    <td class="maximize">
                        <div>
                            {{ course.name }}
                        </div>
                        <span class="label label-info">{{ course.state|statename }}</span>
                    </td>
					<td class="minimize">
						{{ course.state|statename }}
					</td>
                    <td class="minimize">
                        {{ course.vote_start_date|date:'SHORT_DATE_FORMAT' }} &ndash; {{ course.vote_end_date|date:'SHORT_DATE_FORMAT' }}
                    </td>
                    <td class="minimize">{{ course.num_participants }}</td>
                    <td class="minimize">
                        {% if course.state == 'prepared' %}
                            <a href="{% url "evap.contributor.views.course_edit" course.id %}" class="btn btn-sm btn-default">{% trans "Edit" %}</a>
                        {% else %}
                            <a href="{% url "evap.contributor.views.course_view" course.id %}" class="btn btn-sm btn-default">{% trans "View" %}</a>
                        {% endif %}
                        <a href="{% url "evap.contributor.views.course_preview" course.id %}" class="btn btn-sm btn-default">{% trans "Preview" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no courses for you this semester yet. You will get informed by Email, as soon as your courses are approved for your review by the student representatives." %}</p>
    {% endif %}
    <br/>
    <h3>{% trans "Courses for which you are a delegate" %}</h3>
    {% if delegated_courses %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="maximize">{% trans "Name" %}</th>
				<th class="maximize">{% trans "State" %}</th>
                <th class="minimize">{% trans "Evaluation Period" %}</th>
                <th class="minimize">{% trans "Participants" %}</th>
                <th class="minimize">{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for course in delegated_courses %}
                <tr>
                    <td class="maximize">
                        <div>
                            {{ course.name }}
                        </div>
                        <span class="label label-default">{{ course.kind }}</span>
                        <span class="label label-info">{{ course.state|statename }}</span>
                    </td>
					<td class="minimize">
						{{ course.state|statename }}
					</td>
                    <td class="minimize">
                        {{ course.vote_start_date|date:'SHORT_DATE_FORMAT' }} &ndash; {{ course.vote_end_date|date:'SHORT_DATE_FORMAT' }}
                    </td>
                    <td class="minimize">{{ course.num_participants }}</td>
                    <td class="minimize">
                        {% if course.state == 'prepared' %}
                            <a href="{% url "evap.contributor.views.course_edit" course.id %}" class="btn btn-sm btn-default">{% trans "Edit" %}</a>
                        {% else %}
                            <a href="{% url "evap.contributor.views.course_view" course.id %}" class="btn btn-sm btn-default">{% trans "View" %}</a>
                        {% endif %}
                        <a href="{% url "evap.contributor.views.course_preview" course.id %}" class="btn btn-sm btn-default">{% trans "Preview" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>{% trans "There are no courses for you this semester yet." %}</p>
    {% endif %}

    {% if user.userprofile.is_editor %}
        <h3>{% trans "Own Profile"%}</h3>
        <p>{% trans "You can edit your own user profile here:" %} <a href="{% url "evap.contributor.views.profile_edit" %}" class="btn btn-default">{% trans "Edit own Profile" %}</a></p>
    {% endif %}
{% endblock %}
