{% extends "contributor_base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans "Settings" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>{% trans "Settings" %}</h2>

    <div class="card mb-3">
        <div class="card-header">
            {% trans "Personal information" %}
            <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="left"
            title="{% trans 'To change any of these settings, please contact the student representatives.' %}" />
        </div>
        <div class="card-body">
            <table class="table table-striped vertically-aligned">
                <tr>
                    <td class="col-sm-2"><strong>{% trans "Username" %}</strong></td>
                    <td class="col-sm-10">{{ form.instance.username }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Title" %}</strong></td>
                    <td>{{ form.instance.title }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "First name" %}</strong></td>
                    <td>{{ form.instance.first_name }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Last name" %}</strong></td>
                    <td>{{ form.instance.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Email" %}</strong></td>
                    <td>{{ form.instance.email }}</td>
                </tr>
            </table>
        </div>
    </div>

    <form id="settings-form" method="POST" class="form-horizontal multiselect-form settings-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "bootstrap_form_errors.html" with errors=form.non_field_errors %}
        <div class="card">
            <div class="card-header d-flex">
                <div class="mr-auto">{% trans "Delegates and CC users" %}</div>
                <div class="fa fa-info-circle" data-toggle="tooltip" data-placement="left"
                    title="{% blocktrans %}You can only change your own delegates. To become a delegate of another person this person has to add you.
                    Please contact the student representatives to change the CC settings.{% endblocktrans %}">
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-outline-primary">
                            <div class="card-header">
                                {% trans "Own delegates" %}
                            </div>
                            <div class="card-body">
                                {% include "bootstrap_form_errors.html" with errors=form.delegates.errors %}
                                {{ form.delegates }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                {% trans "You are a delegate of" %}
                            </div>
                            <div class="card-body">
                                {% include "bootstrap_form_errors.html" with errors=form.delegate_of.errors %}
                                {{ form.delegate_of }}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                {% trans "Emails sent to you will be CC'ed to" %}
                            </div>
                            <div class="card-body">
                                {% include "bootstrap_form_errors.html" with errors=form.cc_users.errors %}
                                {{ form.cc_users }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                {% trans "Emails sent to these users will be CC'ed to you" %}
                            </div>
                            <div class="card-body">
                                {% include "bootstrap_form_errors.html" with errors=form.cc_user_of.errors %}
                                {{ form.cc_user_of }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form.cc_users.as_hidden }} {# disabled elements are not sent in the post and select2 doesn't work with readonly #}

        <div class="well submit-area text-center">
            <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
        </div>
    </form>
{% endblock %}
