{% extends "contributor_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li>{% trans "Profile" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST" class="form-horizontal multiselect-form" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Profile" %}</legend>
        {{ form.as_div }}
    </fieldset>
    <fieldset>
        <legend>{% trans "People for which you are a delegate" %}</legend>
        <ul>
            {% for puser in form.instance.represented_users.all %}
                <li>{{ puser.full_name }}</li>
            {% endfor %}
        </ul>
    </fieldset>
    <div class="form-group well">
        <div class="col-sm-offset-2 col-sm-6">
           <input type="submit" value="{% trans "Save your profile" %}" class="btn btn-primary"/>
        </div>
    </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            if ($.fn.button.noConflict != undefined) {
                $.fn.button.noConflict();
            }

            $("select[multiple='multiple']").each(function(i,e) {
                //$(e).width($(e).width());
                $(e).multiselect({ locale: "{{ LANGUAGE_CODE }}" });
            });
        });
    </script>
{% endblock %}
