db_url = jdbc:postgresql://evap-dev:5433/evap_production
db_user = evap
db_password = asdf
db_course_table = evaluation_course_copy
db_user_table = auth_user_copy
db_comment_table = evaluation_textanswer_copy

input_first_names = data/first_names.txt
input_last_names = data/last_names.txt
input_ignores = data/ignores.txt
input_lorem_ipsum = data/lorem_ipsum.txt

output_users = user_changes.txt
output_courses = course_changes.txt
