version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"
    labels:
      - "[T] Dependencies"
    versioning-strategy: "increase-if-necessary"
    ignore:
      - dependency-name: "django-stubs"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "ruff"
        update-types: ["version-update:semver-patch"]
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "*puppeteer*"
        update-types: ["version-update:semver-minor"]
    labels:
      - "[T] Dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns: ["*"]
    labels:
      - "[T] Dependencies"
  - package-ecosystem: "github-actions"
    directory: "/.github/setup_nodejs"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns: ["*"]
    labels:
      - "[T] Dependencies"
  - package-ecosystem: "github-actions"
    directory: "/.github/setup_python"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns: ["*"]
    labels:
      - "[T] Dependencies"
