[submodule "puppetlabs-concat"]
    path = deployment/modules/concat
    url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppetlabs-stdlib"]
    path = deployment/modules/stdlib
    url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppetlabs-apache"]
    path = deployment/modules/apache
    url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppetlabs-mysql"]
    path = deployment/modules/mysql
    url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppetlabs-postgresql"]
    path = deployment/modules/postgresql
    url = https://github.com/karyon/puppetlabs-postgresql.git
