# editor leftovers
*~
*.bak
*.orig
*.swp
TAGS
.*
!.gitignore
!.github
*.kpf
*.komodoproject

*.sublime-workspace

# python files
*.py[cod]

# gettext binaries
*.mo

# operating system junk
.DS_Store
thumbs.db

evap/localsettings.py
evap/static/css/evap.css
evap/static/css/evap.css.map
evap/static/ts/rendered
evap/static_collected
evap/media
evap/database.sqlite3
evap/upload

evap/evaluation/templates/legal_notice_text.html

docs/_build

coverage.xml
htmlcov

# pip puts editable packages here
src
!evap/static/ts/.prettierrc.json
!evap/static/ts/src

node_modules

# python env subdir
env/
venv/

# notes to self
todo.txt
todo

# flake8 configuration
setup.cfg

# User specific vagrant overrides (needs extra config)
.Vagrantfile.local
