language: python
python:
  - "2.7"
  - "pypy"
matrix:
  allow_failures:
    - python: "pypy"
install:
  - pip install -r requirements.txt --use-mirrors
  - pip install coveralls --use-mirrors
script:
  - coverage run manage.py test evap.evaluation evap.fsr evap.contributor evap.results evap.student
after_success:
  - coveralls
