language: python
python:
  - "3.4"
install:
  - npm install -g less
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run manage.py test evap.evaluation evap.staff evap.contributor evap.results evap.student evap.grades evap.rewards evap.staff.tests.tests_general.TestDataTest.load_test_data
after_success:
  - coveralls
sudo: false
cache:
  directories:
  - $HOME/.cache/pip
