-r requirements.txt
black~=24.8.0
coverage[toml]~=7.6.0
django-debug-toolbar~=4.0
django-stubs==5.1.0
django-webtest~=1.9.10
isort~=5.13.1
model-bakery~=1.19.5
mypy~=1.11.0
openpyxl-stubs~=0.1.25
pylint-django~=2.5.4
pylint~=3.3.0
ruff==0.6.2
tblib~=3.0.0
xlrd~=2.0.1
typeguard~=4.3.0
