-r requirements.txt
black==22.6.0
coverage[toml]
django-debug-toolbar>=1.6
django-stubs==1.10.1
django-webtest==1.9.10
isort==5.10.1
model-bakery==1.7.0
mypy
openpyxl-stubs==0.1.21
pylint-django==2.5.3
pylint==2.14.5
tblib
xlrd==2.0.1
