django >= 1.11, < 1.12
xlrd == 1.0.0
xlwt == 1.2.0
xlutils == 2.0.0
git+https://github.com/ticosax/django-fsm.git@4720bbeb27467319feff10bb6ddd02e43f876b16
django-webtest == 1.9.2
WebTest == 2.0.24
model_mommy == 1.3.1
django-extensions == 1.7.9
django-sendfile == 0.3.11
django-compressor == 2.1
django-bootstrap3 == 8.2.3
