.slider-inner {
    display: flex;
    overflow: hidden;
}
.slider-side {
    width: 3rem;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // slider controls should not be overlapped by sliding slides
    z-index: 5;
    visibility: hidden;
    .fas {
        margin: 0.2rem 0;
        font-size: 2rem;
        color: grey;
        cursor: pointer;
    }
}
.slider-items {
    height: 24rem;
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider-item {
    width: 100%;
    flex: none;
    position: absolute;
    display: none;
    overflow-y: auto;
    opacity: 0;
    transition: transform, opacity;
    transition-duration: 0.2s;
    &.alert, &[data-layer="2"] {
        flex: auto;
    }
    &.alert {
        margin: 0;
        justify-content: center;
    }
    &.to-left, &.to-right, &.active {
        display: flex;
        flex-direction: column;
    }
    &.to-left {
        transform: translateX(-10%);
    }
    &.to-right {
        transform: translateX(10%);
    }
    &.active {
        position: static;
        transform: translateX(0);
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
    &[data-layer="0"] {
        flex-direction: row;
    }
}
[data-layer="0"] {
    @extend .card-header, .border, .rounded-top;
}
[data-layer="1"] {
    @extend .card-body, .bg-light, .border-left, .border-right;
}
[data-layer="2"] {
    @extend .card-body, .border, .rounded-bottom;
}
.hotkey-btn {
    float: right;
    cursor: pointer;
}
.key {
    background: $darker-gray;
    color: $white;
    border-radius: 0.2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}
