p, ul {
	margin: 0;}

body {
	background: #fff;
	font-family: Tahoma;}

body a {
	text-decoration: none;}

body a,  body a:focus,  body a:link,  body a:visited {
	color: #af0034;}

body a:active,  body a:hover {
	color: #c74c71;}

#page-wrap {
	margin: 5px auto;
	width: 960px;}

#header {
	margin: 15px auto 0;
	height: 100px;
	width: 960px;
	position: relative;
	background: #fff;
	border-bottom: 1px dotted #aeb3b4;}

#header a {
	text-decoration: none;}

#header a,  #header a:focus,  #header a:link,  #header a:visited {
	color: #5e676a;}

#header a:active,  #header a:hover {
	color: #8e9496;}

#header #header_left {
	position: absolute;
	bottom: 0;
	font-size: 200%;
	line-height: 150%;}

#header #header_right {
	position: absolute;
	bottom: 0;
	right: 0;}

#main-content {
	float: right;
	width: 790px;}

#main-content ul#actions {
	display: block;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #aeb3b4;
	width: 790px;}

#main-content ul#actions li {
	display: inline-block;
	margin: 0;
	padding: 2px 5px 2px 2px;
	font-size: 80%;}

#main-sidebar {
	float: left;
	width: 160px;
	background: #eaecec;}

#main-sidebar #main-sidebar-wrapper {
	padding: 5px;
	font-size: 80%;}

#main-sidebar ul {
	padding-left: 0;
	margin-bottom: 1em;}

#main-sidebar ul li {
	list-style: none;
	margin-left: 1em;}

#main-sidebar ul li:before {
	content: '\25AA';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -0.7em;
	top: 0;
	color: #5e676a;}

#main-sidebar hr {
	background: #5e676a;
	color: #5e676a;
	border: 0;
	height: 1px;}

#footer {
	width: 960px;
	margin: 0 auto 15px;}

#footer {
	border-top: 1px dotted #aeb3b4;
	font-size: 80%;}

ul.messages {
	background: #cce4ec;}

form.textform {
	display: inline;}

form.textform input[type=submit], form.textform input[type=button] {
	background: transparent;
	border: none;
	display: inline;
	font: inherit;
	margin: 0;
	padding: 0;}

