// HPI color definitions
$hpiGray100:    #5e676a;
$hpiGray70:     #8e9496;
$hpiGray50:     #aeb3b4;
$hpiGray20:     #dfe1e1;
$hpiYellow100:  #f8a800;
$hpiYellow70:   #fac24c;
$hpiYellow50:   #fbd37f;
$hpiYellow20:   #feeecc;
$hpiOrange100:  #dd6108;
$hpiOrange70:   #e79052;
$hpiOrange50:   #eeb083;
$hpiOrange20:   #f8dfce;
$hpiRed100:     #af0034;
$hpiRed70:      #c74c71;
$hpiRed50:      #d77f99;
$hpiRed20:      #efccd6;
$hpiBlue100:    #007a9e;
$hpiBlue70:     #4ca2bb;
$hpiBlue50:     #7fbcce;
$hpiBlue20:     #cce4ec;

// Vote color definitions
$vote1: hsl(0.300, 80%, 80%);
$vote2: hsl(0.225, 80%, 80%);
$vote3: hsl(0.150, 80%, 80%);
$vote4: hsl(0.075, 80%, 80%);
$vote5: hsl(0.000, 80%, 80%);

@mixin link-colors($normal, $active) {
    // a mixin set sets all link colors
     a {
        text-decoration: none;
        &, &:focus, &:link, &:visited {
            color: $normal;
        }
        &:active, &:hover {
            color: $active;
        }
    }
}

@mixin enhanced-bullets {
    // use lighter-gray squares as list bullets
    list-style: none;
    margin-left: 1em;
    &:before {
        content:'\25AA';
        display: block;
        position: relative;
        max-width: 0px;
        max-height: 0px;
        left: -0.7em;
        top: 0px;
        color: $hpiGray100;
    }
}

// reset some default margins
p, ul {
    margin: 0;
}

fieldset {
    border: none;
    padding: 5px 0;
}

body {
    background: white;
    font-family: Tahoma;
    margin: 0;
    
    @include link-colors($hpiRed100, $hpiRed70);
}

#page-wrap {
    margin: 5px auto;
    width: 940px;     
}

#header { 
    margin: 15px auto 0;
    height: 100px;
    width: 940px; 
    position: relative;
    
    background: white;
    border-bottom: 1px dotted $hpiGray50;
    
    @include link-colors($hpiGray100, $hpiGray70);
    
    #header_left {
        position: absolute;
        bottom: 10px;
        font-size: 200%;
        
        .subtitle {
            color: $hpiGray70;
            font-size: 60%;
        }
    }
    
    #header_right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#main-content {
    float: right;
    width: 780px;
    
    ul#actions {
        display: block;
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px dotted $hpiGray50;
        width: 100%;
        li {
            display: inline-block;
            margin: 0;
            padding: 2px 5px 2px 2px;
            font-size: 80%;
        }
    }
}

#main-sidebar {
    float: left;
    width: 150px;
    
    background: $hpiGray20 * 1.05;
    
    #main-sidebar-wrapper {
        padding: 5px;
        font-size: 80%;
    }
    
    ul {
        padding-left: 0;
        margin-bottom: 1em;
        li {
            @include enhanced-bullets;
        }
    }
    
    hr {
        background: $hpiGray100;
        color: $hpiGray100;
        border: 0;
        height: 1px;
    }
}
                      
#footer {
    width: 940px;
    margin: 0 auto 15px;
}

#footer {
    border-top: 1px dotted $hpiGray50;
    font-size: 80%;
}

ul.messages {
    margin: 0 0 10px 0;
    padding: 0;
    li {
        @include enhanced-bullets;
        color: $hpiBlue100;
    }
}

form.textform {
    display: inline;
    
    input[type=submit], input[type=button] {
        background: transparent;
        border: none;
        display: inline;
        font: inherit;
        margin: 0;
        padding: 0;
    }
}

form.vote {
    ul {
        margin: 0;
        padding: 0;
        li {
            background: $hpiGray20;
            border-radius: 5px;
            padding: 4px;
            display: inline-block;
            min-width: 3.5em;
            text-align: center;
        }
        
        li:first-child { background: $vote1; }
        li:first-child+li { background: $vote2; }
        li:first-child+li+li { background: $vote3; }
        li:first-child+li+li+li { background: $vote4; }
        li:first-child+li+li+li+li { background: $vote5; }
    }
}