p, ul {
	margin: 0;}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	margin: 0;}

h1 {
	font-size: 180%;}

h2 {
	font-size: 140%;}

h3 {
	font-size: 130%;}

h4 {
	font-size: 115%;}

h5 {
	font-size: 110%;}

h6 {
	font-size: 105%;}

fieldset {
	border: none;
	padding: 5px 0;}

body {
	background: #fff;
	font: 10pt Verdana;
	margin: 0;}

body a {
	text-decoration: none;}

body a,  body a:focus,  body a:link,  body a:visited {
	color: #007a9e;}

body a:active,  body a:hover {
	color: #4ca2bb;}

#page-wrap {
	margin: 5px auto;
	width: 940px;}

#header {
	margin: 15px auto 0;
	height: 100px;
	width: 940px;
	position: relative;
	background: #fff;
	border-bottom: 1px dotted #aeb3b4;}

#header a {
	text-decoration: none;}

#header a,  #header a:focus,  #header a:link,  #header a:visited {
	color: #5e676a;}

#header a:active,  #header a:hover {
	color: #8e9496;}

#header #header_left {
	position: absolute;
	bottom: 10px;}

#header #header_left h1 {
	color: #5e676a;}

#header #header_left h2 {
	color: #8e9496;}

#header #header_right {
	position: absolute;
	bottom: 0;
	right: 0;}

#main-content {
	float: right;
	width: 780px;}

#main-content p, #main-content ul, #main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
	margin: 5px 0;}

#main-content ul#actions {
	display: block;
	font: 9pt Tahoma;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #aeb3b4;
	width: 100%;}

#main-content ul#actions li {
	display: inline-block;
	margin: 0;
	padding: 2px 5px 2px 2px;}

#main-content ul#actions li.disabled {
	color: #7fbcce;}

#main-content table {
	border-spacing: 0;}

#main-content table td, #main-content table th {
	padding: 2px;}

#main-content table.full-width {
	width: 100%;}

#main-content table tr.even {
	background: #eaecec;}

#main-content table td.expand {
	width: 100%;}

#main-content table td.dontbreak {
	white-space: nowrap;}

#main-content table td.center {
	text-align: center;}

#main-content table td.right {
	text-align: right;}

#main-content table img {
	vertical-align: middle;}

#main-sidebar {
	float: left;
	width: 150px;
	font: 9pt Tahoma;
	background: #eaecec;}

#main-sidebar a {
	text-decoration: none;}

#main-sidebar a,  #main-sidebar a:focus,  #main-sidebar a:link,  #main-sidebar a:visited {
	color: #000;}

#main-sidebar a:active,  #main-sidebar a:hover {
	color: #8e9496;}

#main-sidebar #main-sidebar-wrapper {
	padding: 5px;}

#main-sidebar div.menu-title {
	font-variant: small-caps;
	margin: 3px 0;
	text-align: center;}

#main-sidebar ul {
	padding-left: 0;}

#main-sidebar ul li {
	list-style: none;
	margin-left: 1em;}

#main-sidebar ul li:before {
	content: '\25AA';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -0.7em;
	top: 0;
	color: #5e676a;}

#main-sidebar hr {
	background: #fff;
	color: #fff;
	border: 0;
	height: 2px;
	width: 100%;}

#footer {
	width: 940px;
	margin: 0 auto 15px;}

#footer {
	border-top: 1px dotted #aeb3b4;
	font-size: 80%;}

ul.messages {
	margin: 0 0 10px 0;
	background: #feeecc;
	border-radius: 4px;
	border: 1px solid #aeb3b4;
	padding: 4px;}

ul.messages li {
	list-style: none;
	margin-left: 1em;
	color: #dd6108;}

ul.messages li:before {
	content: '\25AA';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -0.7em;
	top: 0;
	color: #5e676a;}

ul.messages li.warning {
	color: #af0034;}

ul.messages li.error {
	color: #af0034;
	font-weight: bold;}

ul.errorlist {
	color: #af0034;}

form.textform {
	display: inline;}

form.textform input[type=submit], form.textform input[type=button] {
	background: transparent;
	border: none;
	display: inline;
	font: inherit;
	margin: 0;
	padding: 0;
	cursor: pointer;}

form.vote table {
	border-collapse: collapse;
	width: 100%;}

form.vote tr.vote-group {
	font: inherit;}

form.vote tr.vote-group th {
	vertical-align: middle;
	text-align: left;}

form.vote tr.vote-row th + td {
	width: 70%;}

form.vote tr.vote-row th, form.vote tr.vote-row td {
	border-top: 1px dotted #aeb3b4;
	font: inherit;
	text-align: left;
	vertical-align: middle;}

form.vote tr.vote-row div.vote-buttons ul {
	margin: 0;
	padding: 0;}

form.vote tr.vote-row div.vote-buttons ul li {
	background: #dfe1e1;
	border-radius: 5px;
	display: inline-block;
	min-width: 12%;
	padding: 1%;
	text-align: center;}

form.vote tr.vote-row div.vote-buttons ul li:first-child {
	background: #8def75;}

form.vote tr.vote-row div.vote-buttons ul li:first-child+li {
	background: #c4ef75;}

form.vote tr.vote-row div.vote-buttons ul li:first-child+li+li {
	background: #efe375;}

form.vote tr.vote-row div.vote-buttons ul li:first-child+li+li+li {
	background: #efac75;}

form.vote tr.vote-row div.vote-buttons ul li:first-child+li+li+li+li {
	background: #ef7575;}

form.vote tr.vote-row textarea {
	width: 98%;}

h4.results-section {
	border-bottom: 1px solid #7fbcce;
	padding: 3px 0;}

#main-content table.results-detail {
	width: 100%;}

#main-content table.results-detail td {
	padding: 1px 0;
	vertical-align: top;}

#main-content table.results-detail td.results-subtitle {
	padding: 20px 0 5px 0;
	font-size: 115%;}

#main-content table.results-detail td.results-question-grade {
	width: 80%;}

#main-content table.results-detail td.results-question-text {
	width: 20%;}

#main-content table.results-detail td.results-average {
	width: 10%;
	text-align: center;}

#main-content table.results-detail td.results-distribution {
	text-align: right;
	width: 10%;}

#main-content table.results-detail td.results-distribution > div {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 2ex;}

#main-content table.results-detail td.results-distribution > div div:first-child {
	border-left: 1px solid #aeb3b4;}

#main-content table.results-detail td.results-distribution > div div:last-child {
	border-right: 1px solid #aeb3b4;}

#main-content table.results-detail td.results-distribution > div div {
	border-top: 1px solid #aeb3b4;
	border-bottom: 1px solid #aeb3b4;
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: default;}

#main-content table.results-detail td.results-distribution > div div.results-distribution-1 {
	background: #8def75;}

#main-content table.results-detail td.results-distribution > div div.results-distribution-2 {
	background: #c4ef75;}

#main-content table.results-detail td.results-distribution > div div.results-distribution-3 {
	background: #efe375;}

#main-content table.results-detail td.results-distribution > div div.results-distribution-4 {
	background: #efac75;}

#main-content table.results-detail td.results-distribution > div div.results-distribution-5 {
	background: #ef7575;}

#main-content table.results-detail td.results-text {
	width: 80%;}

#main-content table.results-detail td.results-text div {
	margin: 0;
	padding: .5ex 0 .5ex 1ex;}

#main-content table.results-detail td.results-text div:first-child {
	padding-top: 0;}

#main-content table.results-detail td.results-text div p {
	background: #feeecc;
	font-style: italic;
	margin: 0 78px 0 0;
	padding: 1ex;
	text-align: justify;}

#main-content div.loginbox {
	border: 1px solid #007a9e;
	margin: 20px auto;
	padding: 10px;
	width: 62%;}

tr.obsolete {
	opacity: .5;}

.multiselect-form select {
	width: 460px;
	height: 200px;}

