p, ul {
	margin: 0;}

fieldset {
	border: none;
	padding: 5px 0;}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	margin: 0;}

h1 {
	font-size: 180%;}

h2 {
	font-size: 140%;}

h3 {
	font-size: 130%;}

h4 {
	font-size: 120%;}

h5 {
	font-size: 115%;}

h6 {
	font-size: 110%;}

body {
	background: #fff;
	font-family: Tahoma;
	margin: 0;}

body a {
	text-decoration: none;}

body a,  body a:focus,  body a:link,  body a:visited {
	color: #af0034;}

body a:active,  body a:hover {
	color: #c74c71;}

#page-wrap {
	margin: 5px auto;
	width: 940px;}

#header {
	margin: 15px auto 0;
	height: 100px;
	width: 940px;
	position: relative;
	background: #fff;
	border-bottom: 1px dotted #aeb3b4;}

#header a {
	text-decoration: none;}

#header a,  #header a:focus,  #header a:link,  #header a:visited {
	color: #5e676a;}

#header a:active,  #header a:hover {
	color: #8e9496;}

#header #header_left {
	position: absolute;
	bottom: 10px;}

#header #header_left h1 {
	color: #5e676a;}

#header #header_left h2 {
	color: #8e9496;}

#header #header_right {
	position: absolute;
	bottom: 0;
	right: 0;}

#main-content {
	float: right;
	width: 780px;}

#main-content ul#actions {
	display: block;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #aeb3b4;
	width: 100%;}

#main-content ul#actions li {
	display: inline-block;
	margin: 0;
	padding: 2px 5px 2px 2px;
	font-size: 80%;}

#main-sidebar {
	float: left;
	width: 150px;
	background: #eaecec;}

#main-sidebar #main-sidebar-wrapper {
	padding: 5px;
	font-size: 80%;}

#main-sidebar ul {
	padding-left: 0;
	margin-bottom: 1em;}

#main-sidebar ul li {
	list-style: none;
	margin-left: 1em;}

#main-sidebar ul li:before {
	content: '\25AA';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -0.7em;
	top: 0;
	color: #5e676a;}

#main-sidebar hr {
	background: #5e676a;
	color: #5e676a;
	border: 0;
	height: 1px;}

#footer {
	width: 940px;
	margin: 0 auto 15px;}

#footer {
	border-top: 1px dotted #aeb3b4;
	font-size: 80%;}

ul.messages {
	margin: 0 0 10px 0;
	padding: 0;}

ul.messages li {
	list-style: none;
	margin-left: 1em;
	color: #007a9e;}

ul.messages li:before {
	content: '\25AA';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -0.7em;
	top: 0;
	color: #5e676a;}

form.textform {
	display: inline;}

form.textform input[type=submit], form.textform input[type=button] {
	background: transparent;
	border: none;
	display: inline;
	font: inherit;
	margin: 0;
	padding: 0;}

form.vote ul {
	margin: 0;
	padding: 0;}

form.vote ul li {
	background: #dfe1e1;
	border-radius: 5px;
	padding: 4px;
	display: inline-block;
	min-width: 3.5em;
	text-align: center;}

form.vote ul li:first-child {
	background: #b3f4a3;}

form.vote ul li:first-child+li {
	background: #d8f4a3;}

form.vote ul li:first-child+li+li {
	background: #f4eca3;}

form.vote ul li:first-child+li+li+li {
	background: #f4c7a3;}

form.vote ul li:first-child+li+li+li+li {
	background: #f4a3a3;}

