$hpiGray100:    #5e676a;
$hpiGray70:     #8e9496;
$hpiGray50:     #aeb3b4;
$hpiGray20:     #dfe1e1;
$hpiYellow100:  #f8a800;
$hpiYellow70:   #fac24c;
$hpiYellow50:   #fbd37f;
$hpiYellow20:   #feeecc;
$hpiOrange100:  #dd6108;
$hpiOrange70:   #e79052;
$hpiOrange50:   #eeb083;
$hpiOrange20:   #f8dfce;
$hpiRed100:     #af0034;
$hpiRed70:      #c74c71;
$hpiRed50:      #d77f99;
$hpiRed20:      #efccd6;
$hpiBlue100:    #007a9e;
$hpiBlue70:     #4ca2bb;
$hpiBlue50:     #7fbcce;
$hpiBlue20:     #cce4ec;

@mixin link-colors($normal, $active) {
     a {
        text-decoration: none;
        &, &:focus, &:link, &:visited {
            color: $normal;
        }
        &:active, &:hover {
            color: $active;
        }
    }
}

p, ul {
    margin: 0;
}

body {
    background: white;
    font-family: Tahoma;
    
    @include link-colors($hpiRed100, $hpiRed70);
}

body, div {
    margin: 0;
    padding: 0;
}

#page-wrap {
    max-width: 960px; 
    min-width: 560px; 
    margin: 5px auto;
    position: relative;
}

#header { 
    max-width: 960px; 
    min-width: 560px; 
    margin: 15px auto 0;
    
    height: 100px;
    position: relative;
    
    background: white;
    border-bottom: 1px dotted $hpiGray50;
    
    @include link-colors($hpiGray100, $hpiGray70);
    
    #header_left {
        position: absolute;
        bottom: 0;
        font-size: 200%;
        line-height: 150%;
    }
    
    #header_right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#main-content {
    background: white;
    padding: 0 0 0 190px;
    clear: both;
    min-height: 300px;
}

#main-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    bottom: 0;
    background: $hpiGray20;
    padding: 0 10px;
}
                      
#footer {
    max-width: 960px;
    min-width: 560px;
    margin: 0 auto 15px;
}

#footer {
    border-top: 1px dotted $hpiGray50;
    font-size: 80%;
}

ul.messages {
    background: $hpiBlue20;
}

form.textform {
    display: inline;
    
    input[type=submit], input[type=button] {
        background: transparent;
        border: none;
        display: inline;
        font: inherit;
        margin: 0;
        padding: 0;
    }
}
