html,
body {
  height: 100%;
  padding-top: 40px; 
  /* The html and body elements cannot have any padding or margin. */
}

.navbar > .container {
  width:auto;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
}

/*-----------------------------------------*/

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 6px 12px;
}

/*-----------------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*-----------------------------------------*/

p.text-muted {
  margin-bottom: 0px;
}

/*-----------------------------------------*/

table#question_table textarea {
  resize: vertical;
}

ul.inputs-list {
  list-style-type: none;
  padding-left: 0px;
}

td.maximize, th.maximize {
    width: 100%;
}
td.minimize, th.minimize {
    width: 0%;
    white-space: nowrap;
}
td.minimize-with-padding, th.minimize-with-padding {
    width: 0%;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
table.vertically-aligned * td {
    vertical-align: middle;
}

.distribution-bar {
    border: 1px solid #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
}

.vote-bg-1 { background: #78f159; }
.vote-bg-2 { background: #bcf159; }
.vote-bg-3 { background: #f1e259; }
.vote-bg-4 { background: #f19e59; }
.vote-bg-5 { background: #f15959; }

@media print {
    body {
        padding: 0;
    }
    div.topbar {
        display: none;
    }
    footer {
        display: none;
    }
}

select[multiple='multiple'] {
    height: 200px;
}

td.vote-inputs > div {
    display: inline-block;
    padding: 0px 3px;
    text-align: center;
}

td.vote-inputs > div > label {
    float: none;
    font-weight: normal;
}

td.vote-inputs > div:nth-child(1) > label { color: #26920c; }
td.vote-inputs > div:nth-child(2) > label { color: #64930d; }
td.vote-inputs > div:nth-child(3) > label { color: #93850d; }
td.vote-inputs > div:nth-child(4) > label { color: #93490d; }
td.vote-inputs > div:nth-child(5) > label { color: #9d0d0d; }

td.vote-inputs > textarea {
    width: 99%;
}

ul.errorlist li {
    color: #B94A48;
}
