$evap-green:        #88bf4a;
$evap-lime:         #bbd154;
$evap-yellow:       #efe258;
$evap-orange:       #f29e58;
$evap-red:          #eb595a;

$evap-dark-green:   darken($evap-green, 20%);
$evap-dark-lime:    darken($evap-lime, 20%);
$evap-dark-yellow:  darken($evap-yellow, 20%);
$evap-dark-orange:  darken($evap-orange, 20%);
$evap-dark-red:     darken($evap-red, 20%);

$evap-light-green:  lighten($evap-green, 30%);
$evap-light-lime:   lighten($evap-lime, 30%);
$evap-light-yellow: lighten($evap-yellow, 30%);
$evap-light-orange: lighten($evap-orange, 30%);
$evap-light-red:    lighten($evap-red, 30%);

$evap-dark-blue:    #31708f;
$evap-light-blue:   #d9edf7;

$white:             #ffffff;
$lighter-gray:      #f5f5f5;
$light-gray:        #dddddd;
$medium-gray:       #aaaaaa;
$dark-gray:         #888888;
$darker-gray:       #444444;
$black:             #000000;

$brand-danger:  $evap-red;
$brand-warning: $evap-yellow;
$brand-success: $evap-green;
$brand-primary: $evap-dark-blue;
$brand-info:    $evap-light-blue;
