@import "evap-variables";
@import "../bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

.navbar {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand-image {
    height: 50px;
}

div.container {
    padding-top: 70px; /* for navbar */
    padding-bottom: 55px; /* for footer */
}

.footer {
    height: 45px;
    line-height: 45px;
    background-color: $lighter-gray;
    padding: 0 15px;
}

/*-----------------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*-----------------------------------------*/

table#question_table textarea {
    resize: vertical;
}

ul.inputs-list, .exportsheet ul {
    list-style-type: none;
    padding-left: 0px;
}

td.maximize, th.maximize {
    width: 100%;
}
td.minimize, th.minimize {
    width: 0%;
    white-space: nowrap;
}
td.minimize-with-padding, th.minimize-with-padding {
    width: 0%;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
table.vertically-aligned tr td {
    vertical-align: middle;
}
td.vote-question-text {
    vertical-align: top;
}

.vote-question-choice {
    flex-grow: 1;
}

.vote-text-answer {
    flex-grow: 1;
}

.distribution-bar {
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
}

.distribution-bar div {
    display: inline-block;
}

.distribution-bar div:last-child { width: 100% !important; }

.vote-bg-1 { background: $evap-green; }
.vote-bg-2 { background: $evap-lime; }
.vote-bg-3 { background: $evap-yellow; }
.vote-bg-4 { background: $evap-orange; }
.vote-bg-5 { background: $evap-red; }

.grade-bg {
    display: inline-block;
    border-radius: 3px;
    width: 45px;
}

.grade-bg-result-bar {
    float: right;
    border-radius: 3px;
    width: 30px;
    margin-left: 10px;
}

.grade-bg-result-bar-count {
    float: left;
    border-radius: 3px;
    width: 50px;
    margin-right: 20px;
    background-color: $evap-dark-blue;
    color: white;
}

.grade-bg-disabled {
    background-color: $light-gray;
}

.deviation-bg {
    display: inline-block;
    border-radius: 3px;
    width: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: $dark-gray;
}

.deviation-bg-disabled {
    background-color: $light-gray;
}

@media print {
    .no-break {
        page-break-inside: avoid;
    }
    body {
        padding: 0;
    }
    div.container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .print-brand-image {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 40px;
    }
    nav, #footer, .breadcrumb, .close {
        display: none;
    }
    td, th, p {
        font-size: 80%;
        page-break-after: avoid;
    }
    h2 {
        font-size: 20px;
        page-break-after: avoid;
    }
    h4 {
        font-size: 12px;
        page-break-after: avoid;
    }
    .grade-bg-result-bar-count {
        width: 35px;
    }
    .grade-bg {
        width: 30px;
    }
    .deviation-bg {
        width: 30px;
    }
    .alert {
        padding: 5px;
    }
}

select[multiple='multiple'] {
    height: 200px;
}

td.vote-row {
    width: 100%;
}

td.vote-question {
    width: 40%;
}

td.vote-question.choice-error {
    font-weight: bold;
    color: $evap-dark-red;
}

div.vote-inputs {
    width: 100%;
    flex-wrap: wrap;
}

div.vote-inputs label.choice-error {
    border-color: $evap-red;
}

.vote-btn-1 { color: $evap-dark-green; }
.vote-btn-2 { color: $evap-dark-lime; }
.vote-btn-3 { color: $evap-dark-yellow; }
.vote-btn-4 { color: $evap-dark-orange; }
.vote-btn-5 { color: $evap-dark-red; }

.vote-btn-1.active { color: $black; background-color: $evap-green; }
.vote-btn-2.active { color: $black; background-color: $evap-lime; }
.vote-btn-3.active { color: $black; background-color: $evap-yellow; }
.vote-btn-4.active { color: $black; background-color: $evap-orange; }
.vote-btn-5.active { color: $black; background-color: $evap-red; }

div.vote-inputs > textarea {
    width: 100%;
    height: 100px;
}

div.preview > textarea {
    height: 60px;
}

ul.errorlist li {
    color: $evap-dark-red;
}

.vote-btn {
    min-width: 85px;
    max-width: 110px;
    height: 38px;
    font-size: 8pt;
    white-space: normal;
    margin-bottom: 0;
}

.card-submit-area {
    background-color: $lighter-gray;
    border-color: $evap-dark-blue;
    min-height: 65px;
}

.card-submit-area input, .card-submit-area a {
    min-width: 250px;
}

.nobottompadding {
    padding-bottom: 0px;
}

.collapse-toggle {
    color: $darker-gray;
}
.collapse-toggle:before {
    font-family: "FontAwesome";
    content: "\f078";
    float: left;
    margin-right: 10px;
}
.collapse-toggle.collapsed:before {
    content: "\f054";
    margin-left: 4px;
}


/* Bootstrap callouts
originally taken from https://gist.github.com/matthiasg/6153853

Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid $dark-gray;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: $lighter-gray;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: $evap-light-red;
    border-color: $evap-red;
}
.bs-callout-warning {
    background-color: $evap-light-yellow;
    border-color: $evap-yellow;
}
.bs-callout-info {
    background-color: $evap-light-blue;
    border-color: $evap-dark-blue;
}

.feedback-button {
    line-height: 40px;
}



.btn-option {
    background-color: $white;
    border-color: $light-gray;
    color: $black;
}
.btn-option.active {
    background-color: $evap-dark-blue;
    color: $white;
}
.btn-option.disabled {
    opacity: 0.6;
}

.participants-warning {
    opacity: 0.4;
}

.questionnaire-warning p {
    padding-left: 3px;
}

.inline-headers span, .inline-headers p {
  display: inline-block;
  vertical-align: baseline;
}

.button-menu {
    margin-bottom: 15px;
}

.email-form .form-row {
    clear:both;
}

.email-form .form-label {
    float:left;
    width: 15%;
    padding-top: 7px;
    padding-right: 15px;
    font-weight: bold;
    text-align: right;
}

.email-form .form-field {
    float:left;
    width:85%;
}

.form-label.error {
    color: $evap-dark-red;
}

.form-field > .error {
    box-shadow: 0px 0px 8px $evap-red;
}

.evap-progress-bar-container {
    padding-right: 40px;
    display: block;
}

.evap-progress-bar-back {
    background: $evap-light-blue;
    border-radius: 3px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.evap-progress-bar-front {
    background: $evap-dark-blue;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

.evap-progress-bar-bartext {
    position: absolute;
    top: 0px;
    left: 0px;
    color: $white;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 4px $evap-dark-blue, 0px 0px 4px $evap-dark-blue, 1px 1px 2px $evap-dark-blue;
}

.evap-progress-bar-text {
    color: $black;
    text-align: left;
    float: right;
    width: 36px;
}

.multi-progress-bar .evap-progress-bar-container {
    padding-bottom: 3px;
}

.deactivate {
    opacity: 0.4;
}

.light-link {
    opacity: 0.2;
    color: $black;
}

.preview {
    opacity: 0.4;
}

.comment-link {
    color: $black;
}
.comment-original {
    color: $medium-gray;
}

div.disabled-tooltip {
    display: inline-block;
}

.tooltip-inner {
    max-width: 250px;
    text-align: left;
}

.tooltip-inner ul {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

.grade-course-table tr {
    height: 57px;
}

.menu-indent {
    text-indent: 20px;
}

.sortable-ghost {
    background: $lighter-gray;
}

.table-striped tbody tr.sortable-ghost {
    background: $light-gray;
}

.settings-form select {
    width: 100%;
}

.course-contributor {
    font-style: italic;
    padding-bottom: 6px;
}

.sortable .movable {
    width: 10px;
}

.sortable .movable span.movable-icon {
    font-size: 16px;
    top: 8px;
    cursor:move;
}

.inline {
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

.no-padding {
    padding: 0;
}

.text-answer li,a {
    word-wrap: break-word;
}

.total-stats {
    font-weight: bold;
    background-color: $lighter-gray;
}

.form-submit-btn {
    min-width: 200px
}

.form-submit-btn-divider {
    width: 5px;
    height:auto;
    display:inline-block;
}

span.line {
    display: inline-block;
}



/* Override bootstrap values */
.card-header {
    font-weight: bold;
}

.card-outline-primary > .card-header {
    background-color: $evap-light-blue;
}

.badge-info, .badge-warning {
    color: $darker-gray;
}
