html,
body {
    height: 100%;
    padding-top: 40px;
    /* The html and body elements cannot have any padding or margin. */
}

.navbar > .container {
    width:auto;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-brand {
    padding: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}

/*-----------------------------------------*/

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 6px 12px;
}

/*-----------------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*-----------------------------------------*/

p.text-muted {
    margin-bottom: 0px;
}

/*-----------------------------------------*/

table#question_table textarea {
    resize: vertical;
}

ul.inputs-list {
    list-style-type: none;
    padding-left: 0px;
}

td.maximize, th.maximize {
    width: 100%;
}
td.minimize, th.minimize {
    width: 0%;
    white-space: nowrap;
}
td.minimize-with-padding, th.minimize-with-padding {
    width: 0%;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
table.vertically-aligned tr td {
    vertical-align: middle;
}

td#vertically-aligned {
    vertical-align: middle;
}

.distribution-bar {
    border: 1px solid #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
}

.vote-bg-1 { background: #88bf4a; }
.vote-bg-2 { background: #bbd154; }
.vote-bg-3 { background: #efe258; }
.vote-bg-4 { background: #f29e58; }
.vote-bg-5 { background: #eb595a; }

@media print {
    body {
        padding: 0;
    }
    div.topbar {
        display: none;
    }
    footer {
        display: none;
    }
}

select[multiple='multiple'] {
    height: 200px;
}

td.vote-row {
    width: 100%;
}

td.vote-question {
    width: 40%;
}

td.vote-question.choice-error {
    font-weight: bold;
    color: #a53e3f;
}

td.vote-inputs {
    width: 100%;
}

td.vote-inputs label.choice-error {
    box-shadow: 0px 0px 8px #eb595a;
}

td.vote-inputs > label:nth-of-type(1) { color: #5f8634; }
td.vote-inputs > label:nth-of-type(2) { color: #83933b; }
td.vote-inputs > label:nth-of-type(3) { color: #a89f3e; }
td.vote-inputs > label:nth-of-type(4) { color: #aa6f3e; }
td.vote-inputs > label:nth-of-type(5) { color: #a53e3f; }

td.vote-inputs > label:nth-of-type(1).active { color: #000000; background-color: #88bf4a; }
td.vote-inputs > label:nth-of-type(2).active { color: #000000; background-color: #bbd154; }
td.vote-inputs > label:nth-of-type(3).active { color: #000000; background-color: #efe258; }
td.vote-inputs > label:nth-of-type(4).active { color: #000000; background-color: #f29e58; }
td.vote-inputs > label:nth-of-type(5).active { color: #000000; background-color: #eb595a; }

td.vote-inputs > textarea {
    width: 99%;
    height: 100px;
}

td.preview > textarea {
    height: 60px;
}

ul.errorlist li {
    color: #B94A48;
}

.vote-btn {
    min-width: 50px;
}

.nobottompadding {
    padding-bottom: 0px;
}


/* Bootstrap callouts
originally taken from https://gist.github.com/matthiasg/6153853

Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
    margin: 10px 0px 20px 0px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #d9edf7;
    border-color: #31708f;
}




.participants-warning {
    opacity: 0.3;
}

.glyphicon.participants-warning {
    padding-left: 10px;
}

.questionnaire-warning p {
    padding-left: 3px;
}

.inline-headers h4, .inline-headers p {
  display: inline-block;
  vertical-align: baseline;
}

.questionnaire-warning {
    margin-top:10px;
}

.button-menu {
    margin-bottom: 15px;
}
