td.maximize, th.maximize {
    width: 100%;
}
td.minimize, th.minimize {
    width: 0%;
    white-space: nowrap;
}

td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
table.vertically-aligned * td {
    vertical-align: middle;
}

.distribution-bar {
    border: 1px solid #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
}

.vote-bg-1 { background: #78f159; }
.vote-bg-2 { background: #bcf159; }
.vote-bg-3 { background: #f1e259; }
.vote-bg-4 { background: #f19e59; }
.vote-bg-5 { background: #f15959; }

body {
    padding-top: 55px;
}

@media print {
    body {
        padding: 0;
    }
    div.topbar {
        display: none;
    }
    footer {
        display: none;
    }
}

select[multiple='multiple'] {
    height: 200px;
}

td.vote-inputs > div {
    display: inline-block;
    padding: 0px 3px;
    text-align: center;
}

td.vote-inputs > div > label {
    float: none;
}

td.vote-inputs > div:nth-child(1) > label { color: #26920c; }
td.vote-inputs > div:nth-child(2) > label { color: #64930d; }
td.vote-inputs > div:nth-child(3) > label { color: #93850d; }
td.vote-inputs > div:nth-child(4) > label { color: #93490d; }
td.vote-inputs > div:nth-child(5) > label { color: #9d0d0d; }

td.vote-inputs > textarea {
    width: 99%;
}

ul.errorlist li {
    color: #B94A48;
}
