html,
body {
    height: 100%;
    padding-top: 50px; /* navbar height */
}

.navbar > .container {
    width:auto;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-brand {
    padding: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}

/*-----------------------------------------*/

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 6px 12px;
}

/*-----------------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*-----------------------------------------*/

p.text-muted {
    margin-bottom: 0px;
}

/*-----------------------------------------*/

table#question_table textarea {
    resize: vertical;
}

ul.inputs-list {
    list-style-type: none;
    padding-left: 0px;
}

td.maximize, th.maximize {
    width: 100%;
}
td.minimize, th.minimize {
    width: 0%;
    white-space: nowrap;
}
td.minimize-with-padding, th.minimize-with-padding {
    width: 0%;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
table.vertically-aligned tr td {
    vertical-align: middle;
}
td.vote-question.text-field {
    vertical-align: top;
}

.distribution-bar {
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
}

.distribution-bar div {
    display: inline-block;
}

.distribution-bar div:last-child { width: 100% !important; }

.vote-bg-1 { background: #88bf4a; }
.vote-bg-2 { background: #bbd154; }
.vote-bg-3 { background: #efe258; }
.vote-bg-4 { background: #f29e58; }
.vote-bg-5 { background: #eb595a; }

.grade-bg {
    display: inline-block;
    border-radius: 3px;
    width: 45px;
}

@media print {
    body {
        padding: 0;
    }
    div.topbar {
        display: none;
    }
    footer {
        display: none;
    }
}

select[multiple='multiple'] {
    height: 200px;
}

td.vote-row {
    width: 100%;
}

td.vote-question {
    width: 40%;
}

td.vote-question.choice-error {
    font-weight: bold;
    color: #a53e3f;
}

div.vote-inputs {
    width: 100%;
}

div.vote-inputs label.choice-error {
    box-shadow: 0px 0px 8px #eb595a;
}

div.vote-inputs > label:nth-of-type(1) { color: #5f8634; }
div.vote-inputs > label:nth-of-type(2) { color: #83933b; }
div.vote-inputs > label:nth-of-type(3) { color: #a89f3e; }
div.vote-inputs > label:nth-of-type(4) { color: #aa6f3e; }
div.vote-inputs > label:nth-of-type(5) { color: #a53e3f; }

div.vote-inputs > label:nth-of-type(1).active { color: #000000; background-color: #88bf4a; }
div.vote-inputs > label:nth-of-type(2).active { color: #000000; background-color: #bbd154; }
div.vote-inputs > label:nth-of-type(3).active { color: #000000; background-color: #efe258; }
div.vote-inputs > label:nth-of-type(4).active { color: #000000; background-color: #f29e58; }
div.vote-inputs > label:nth-of-type(5).active { color: #000000; background-color: #eb595a; }

div.vote-inputs > textarea {
    width: 99%;
    height: 100px;
}

div.preview > textarea {
    height: 60px;
}

ul.errorlist li {
    color: #B94A48;
}

.vote-btn {
    min-width: 50px;
}

.submit-area {
    margin-top: 20px;
}

.submit-area input, .submit-area a {
    min-width: 250px;
}

.nobottompadding {
    padding-bottom: 0px;
}


/* Bootstrap callouts
originally taken from https://gist.github.com/matthiasg/6153853

Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
    margin: 10px 0px 20px 0px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #d9edf7;
    border-color: #31708f;
}





.label-info {
    color: white;
    background-color: #31708f;
}

.btn-primary {
    background-color: #31708f;
}

.participants-warning {
    opacity: 0.4;
}

.glyphicon.participants-warning {
    padding-left: 10px;
}

.questionnaire-warning p {
    padding-left: 3px;
}

.inline-headers span, .inline-headers p {
  display: inline-block;
  vertical-align: baseline;
}

.questionnaire-warning {
    margin-top:10px;
}

.button-menu {
    margin-bottom: 15px;
}

.email-form .form-row {
    clear:both;
    padding: 15px 0;
}

.email-form .form-label {
    float:left;
    width: 15%;
    padding-top: 7px;
    padding-right: 15px;
    font-weight: bold;
    text-align: right;
}

.email-form .form-field {
    float:left;
    width:85%;
}

.form-label.error {
    color: #a53e3f;
}

.form-field > .error {
    box-shadow: 0px 0px 8px #eb595a;
}

.panel-heading .accordion-toggle:before {
    /* symbol for open panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";  /* chevron-down */
    float: left; 
    color: gray;
    margin-right: 10px;
}
.panel-heading .accordion-toggle.collapsed:before {
    /* symbol for collapsed panels */
    content: "\e080"; /* chevron-right */
}

.evap-progress-bar-container {
    padding-right: 40px;
    display: block;
}

.evap-progress-bar-back {
    background: #d9edf7;
    border-radius: 3px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.evap-progress-bar-front {
    background: #31708f;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

.evap-progress-bar-bartext {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 4px #31708f, 0px 0px 4px #31708f, 1px 1px 2px #31708f;
}

.evap-progress-bar-text {
    color: #000000;
    text-align: left;
    float: right;
    width: 36px;
}

.deactivate {
    opacity: 0.4;
}

.panel table:last-child,
.panel div:last-child {
    margin-bottom: 0px;
}

.comment-link {
    color: black;
}
.comment-original {
    color: #aaaaaa;
}

.headline {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 1.1;
    display: inline-block;
}
.headline-large {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.headline-small {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.disabled-tooltip {
    display: inline-block;
}

.tooltip-inner {
    max-width: 350px;
}
