{% load i18n %}
{% load static %}
{% load morefilters %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}EvaP{% endblock %}</title>
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/evap.css">
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-dropdown.js"></script>
    <script>
        $(function(){
            $(".alert-message").append("<a class='close' href='#'>&#xd7;</a>").alert();
        });
    </script>
    {% block header %}{% endblock %}
</head>
<body>
    
    {% include "topbar.html "%}
    
    <div class="container">
        <div class="row">
            <div class="span16">
                <ul class="breadcrumb">
                    {% block subtitle %}<li><a href="/">{% trans "EvaP" %}</a></li>{% endblock %}
                </ul>
            </div>
        </div>
        {% if messages %}
        <div class="row">
            <div class="span16">
                {% for message in messages %}
                <div class="alert-message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="span16">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% block rawcontent %}{% endblock %}
        <footer>
            <p>
                <a href="{% value_from_settings TRACKER_URL %}" target="_new">{% trans "EvaP evaluation platform" %}</a>
                &nbsp;&middot;&nbsp;
                <a href="mailto:{% value_from_settings FEEDBACK_EMAIL %}">Feedback</a>
                &nbsp;&middot;&nbsp;
                {% if request.user.is_active %}
                    {% trans "Logged in as" %} {{ request.user.get_profile.full_name }}
                {% else %}
                    {% trans "Not logged in" %}
                {% endif %}
            </p>
        </footer>
    </div>
</body>
</html>
