{% load i18n %}
{% load static %}
{% load morefilters %}
{% load showfrom %}

<!DOCTYPE html>
<html>
<head>
    {% block header %}
    <title>{% block title %}EvaP{% endblock %}</title>
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/evap.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/ui.multiselect.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}css/ui.combobox.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}css/ui.datepicker.css" />
    <link rel="shortcut icon" href="{% get_static_prefix %}images/favicon.ico" />
    {% endblock %}
</head>
<body>
    <div class="topbar" id="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="/">{% trans "Evaluation Platform" %}</a>
                <ul class="nav">
                    {% if user.is_active %}
                    {% if user.get_profile.has_courses %}
                        <li><a href="{% url evap.student.views.index %}">{% trans "Evaluation" %}</a></li>
                    {% endif %}
                    
                    {% if user.is_staff %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{% url evap.fsr.views.index %}">{% trans "Student Representatives" %}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url evap.fsr.views.index %}">{% trans "Overview" %}</a></li>
                            <li><a href="{% url evap.fsr.views.semester_index %}">{% trans "Semesters" %}</a>
                            {% show_from 'evap.fsr.tools.all_semesters' "fsr_semester_menu.html" %}
                            </li>
                            <li><a href="{% url evap.fsr.views.questionnaire_index %}">{% trans "Questionnaires" %}</a></li>
                            <li><a href="{% url evap.fsr.views.user_index %}">{% trans "Users" %}</a></li>
                            <li><a href="{% url evap.fsr.views.template_index %}">{% trans "Templates" %}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                    {% if user.get_profile.lectures_courses %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{% url evap.lecturer.views.index %}">{% trans "Lecturer" %}</a>
                        <ul class="dropdown-menu">
                            {% if user.get_profile.is_lecturer %}
                                <li><a href="{% url evap.lecturer.views.profile_edit %}">{% trans "Profile" %}</a></li>
                            {% endif %}
                            <li><a href="{% url evap.lecturer.views.course_index %}">{% trans "Courses" %}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{% url evap.results.views.index %}">{% trans "Results" %}</a>
                        <ul class="dropdown-menu">
                            {% show_from 'evap.results.tools.all_semesters' "results_semester_menu.html" %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <div class="pull-right">
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="language" value="de"/>
                        <button type="submit" class="btn small">Deutsch</button>
                        &nbsp;
                    </form>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="language" value="en"/>
                        <button type="submit" class="btn small">English</button>
                        &nbsp;
                    </form>
                    {% if user.is_active %}
                    <form action="{% url django.contrib.auth.views.logout %}" method="GET">
                        <button type="submit" class="btn small">{% trans "Logout" %}</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span16">
                <ul class="breadcrumb">
                    {% block subtitle %}<li><a href="/">{% trans "EvaP" %}</a></li>{% endblock %}
                </ul>
            </div>
        </div>
        {% if messages %}
        <div class="row">
            <div class="span16">
                {% for message in messages %}
                <div class="alert-message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% block rawcontent %}
        <div class="row">
            <div class="span16">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
        <footer>
            <p>
                <a href="{% value_from_settings TRACKER_URL %}" target="_new">{% trans "EvaP evaluation platform" %}</a>
                &nbsp;&middot;&nbsp;
                <a href="mailto:{% value_from_settings FEEDBACK_EMAIL %}">Feedback</a>
                &nbsp;&middot;&nbsp;
                <a href="{% url evap.evaluation.views.faq %}">{% trans "FAQ"%}</a>
                &nbsp;&middot;&nbsp;
                {% if request.user.is_active %}
                    {% trans "Logged in as" %} {{ request.user.get_profile.full_name }}
                {% else %}
                    {% trans "Not logged in" %}
                {% endif %}
            </p>
        </footer>
    </div>
    {% block scripts %}
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.17.custom.min.js"></script>

    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-datepicker.js"></script>
    
    <!-- multi-select plugin -->
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/localisation/jquery.localisation-min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/scrollTo/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/ui.multiselect.js"></script>

    <script type="text/javascript" src="{% get_static_prefix %}js/ui.combobox.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/ui.formset.js"></script>
    
    <script>
        $(function(){
            // add a close button to each message and make it work
            $(".alert-message").append("<a class='close' href='#'>&#xd7;</a>").alert();
            // activate topbar
            $('#topbar').dropdown();
        });
    </script>
    {% endblock %}
</body>
</html>
