{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}EvaP{% endblock %}</title>
    <link href="{% get_static_prefix %}base.css" rel="stylesheet"/>
</head>
<body>
    <div id="header">
        <div id="header_left">
            <a href="/" class="noa">
                {% trans "evaluation platform" %}
            </a>
        </div>
        <div id="header_right">
            <img src="{% get_static_prefix %}logo.png" id="header_logo">
        </div>
    </div>
    <div id="page-wrap">
        <div id="main-sidebar">
            <ul>
                <li><a href="{% url student.views.index %}">{% trans "evaluate courses" %}</a></li>
                <li><a href="{% url fsr.views.index %}">{% trans "student representatives" %}</a></li>
            </ul>
            {% block menu %}{% endblock %}
        </div>
        <div id="main-content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <div id="footer">
        {% trans "EvaP evaluation platform" %}
        &middot;
        <form action="/i18n/setlang/" method="POST" class="textform">
            {% csrf_token %}
            <input type="hidden" name="language" value="de"/>
            <input type="submit" value="Deutsch">
        </form>
        &middot;
        <form action="/i18n/setlang/" method="POST" class="textform">
            {% csrf_token %}
            <input type="hidden" name="language" value="en"/>
            <input type="submit" value="English">
        </form>
    </div>
</body>
</html>
