{% load i18n %}

<script type="text/javascript">
    // set the order fields to the position the rows currently have on the page
    function apply_ordering() {
        $(document).find('tr').each(function(i) {
            name = $($(this).find('select[id$=-contributor]')).find(':selected').text();
            id = $(this).find('input[id$=-id]').val();
            if (id || (name && name != '---------')) {
                $(this).find('input[id$=-order]').val(i);
            }
            else {
                // if the row is empty (has no contribution id and no name selected) set the order to -1 (default),
                // so that the one extra row doesn't change its initial value
                $(this).find('input[id$=-order]').val(-1);
            }
        });
    }

    $(document).ready(function() {
        function makeClickHandler(i, contributorCount) {
            return function () {
                // if the responsible checkbox is selected
                if($("#id_contributions-" + i + "-responsible").is(":checked")) {
                    // uncheck and enable all
                    for(var j = 0; j < contributorCount; j++){
                        $("#id_contributions-" + j + "-responsible").prop('checked', false);
                        $("#id_contributions-" + j + "-can_edit").prop('disabled', false);
                    }

                    // check self
                    $("#id_contributions-" + i + "-responsible").prop('checked', true);

                    // check and disable can-edit
                    $("#id_contributions-" + i + "-can_edit").prop('checked', true);
                    $("#id_contributions-" + i + "-can_edit").prop('disabled', true);
                }
                // if the responsible checkbox is deselected
                else {
                    // enable can-edit
                    $("#id_contributions-" + i + "-can_edit").prop('disabled', false);
                }
            };
        }

        {% if edit or staff %}
            $('#contribution_table tbody tr').formset({
                prefix: 'contributions',
                deleteText: '{% trans "remove" %}',
                addText: '{% trans "add another" %}',
                added: function(row) {
                    $('.twipsify').tooltip({
                        html: true,
                        placement: 'left'
                    });
                    row.find('input[id$=-order]').val(row.parent().children().length);
                    row.find('a.btn-default').remove();
                    var contributorCount = $("#contribution_table select").length;
                    for(var i = 0; i < contributorCount; i++){
                        $("#id_contributions-" + i + "-responsible").click(makeClickHandler(i, contributorCount));
                    }
                }
            });

            $('tbody').sortable({
                items: 'tr.moveable',
                handle: 'td:first',
                tolerance: 'pointer'
            });

            $('form').submit(function() {
                apply_ordering();
                return true;
            });

            {% if staff %}
                $('#id_degree').combobox();
            {% endif %}
            $('#id_kind').combobox();
        {% endif %}

        $('.twipsify').tooltip({
            html: true,
            placement: 'left'
        });

        // the number of contributor select fields in the contribution table
        var contributorCount = $("#contribution_table select").length;
        for(var i = 0; i < contributorCount; i++){
            $("#id_contributions-" + i + "-responsible").click(makeClickHandler(i, contributorCount));

            // apply initial settings
            if($("#id_contributions-" + i + "-responsible").is(":checked")) {
                $("#id_contributions-" + i + "-can_edit").prop('checked', true);
                $("#id_contributions-" + i + "-can_edit").prop('disabled', true);
            }
        }
    });
</script>
