{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "FAQ" %} - {{ block.super }}{% endblock %}

{% block subtitle %}
    {{ block.super }}
    <li>{% trans "FAQ" %}</li>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {			
			// hide all answers but the one requested in the url
			var anchor = window.location.hash.replace("#", "");
			if(anchor.trim() != ""){
				$(".panel-collapse").not("#" + anchor).collapse('hide');
				window.location.hash = anchor+"-question";
			}
			else
				$(".panel-collapse").collapse('hide');
		});

		$('.panel-collapse').on('shown.bs.collapse', function () {
			window.history.pushState('', this.id, '/faq#' + this.id);
		})
	</script>
{% endblock %}

{% block content %}

	<h2>{% trans "These are the Frequently Asked Questions (FAQs)" %}</h2>

	<div class="panel-group" id="accordion">
	{% for entry in data.faq %}
		<h3 id="{{ entry.id }}">{{ entry.topic }}</h2>
		{% for question in entry.questions %}
			<div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" id="{{ question.id }}-question">
			        <a data-toggle="collapse" data-parent="#accordion" href="#{{ question.id }}">
					  {{ question.question }}
					</a>
			      </h4>
			    </div>
			    <div id="{{ question.id }}" class="panel-collapse collapse in">
			      <div class="panel-body">
					{{ question.answer|safe }}
				  </div>
			    </div>
			</div>
		{% endfor %}
	{% endfor %}
	</div>

	<br />

{% endblock %}
