{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    {% if request.user.is_active %}
        <p style="min-height:400px;">
            {% blocktrans with name=request.user.get_profile.full_name %}
            You are currently logged in as {{ name }}.
            {% endblocktrans %}
        </p>
    {% else %}
        {% blocktrans %}
        <p>Welcome to the evaluation platform!</p>
        
        <p>You are currently not logged in. If you are a HPI student or lecturer,
                please log in using your usual HPI credentials.</p>
        
        <p>If you are an external student or lecturer, you can use your external
        login key to gain access to the system. If you do not have an external
                login key or if you have lost yours, you can create a new one below.</p>
        {% endblocktrans %}
        
        <h2>{% trans "HPI student or lecturer" %}</h2>
        <div class="well">
            <a class="btn success large" href="/login">{% trans "Click here to log in using your credentials." %}</a>
        </div>
        <h2>{% trans "External student or lecturer" %}</h2>
        <div class="well">
            <p>
                {% blocktrans %}
                Please enter your login key below. Be aware that login keys are
                automatically invalidated after three months.
                {% endblocktrans %}
            </p>
            <form action="{% url "evap.evaluation.views.index" %}" method="GET">
                <fieldset>
                    <div class="clearfix">
                        <label for="userkey">{% trans "login key" %}</label>
                        <div class="input">
                            <input name="userkey">
                        </div>
                    </div>
                    <div class="actions">
                        <input class="btn success" type="submit" value="{% trans "Login" %}">
                    </div>
                </fieldset>
            </form> 
        </div>
        <div class="well">
            <h4>{% trans "Generate a new external login key" %}</h4>
            <p>
                {% blocktrans %}
                If you do not have a login key or lost your previous login key, 
                you can create a new one here. Please enter your e-mail address 
                below. A new key will be sent to this address. Please make sure 
                that you use the same e-mail address that you used when you
                enrolled. Otherwise the system cannot associate your address
                with an user account.
                {% endblocktrans %}
            </p>
            <form action="{% url "evap.evaluation.views.index" %}" method="POST">
                <fieldset>
                {% csrf_token %}
                {% for field in new_key_form %}
                    <div class="clearfix">
                        {{ field.label_tag }}
                        <div class="input">
                            {{ field }}
                            <span class="help-inline">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                {% endfor %}
                <div class="actions">
                    <input class="btn primary" type="submit" value="{% trans "Generate Key" %}">
                </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock %}
