{% load i18n %}
{% load static %}
{% load morefilters %}
{% load showfrom %}

<div class="topbar" id="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">{% trans "Evaluation Platform" %}</a>
            <ul class="nav">
                {% if user.get_profile.has_courses %}
                    <li><a href="{% url evap.student.views.index %}">{% trans "Evaluation" %}</a></li>
                {% endif %}
                
                {% if user.is_staff %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="{% url fsr_root %}">{% trans "Student Representatives" %}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url evap.fsr.views.semester_index %}">{% trans "Semesters" %}</a>
                        {% show_from 'evap.fsr.tools.all_semesters' "fsr_semester_menu.html" %}
                        </li>
                        <li><a href="{% url evap.fsr.views.questionnaire_index %}">{% trans "Questionnaires" %}</a>
                        {% show_from 'evap.fsr.tools.all_questionnaires' "fsr_questionnaire_menu.html" %}
                        </li>
                        <li><a href="{% url evap.fsr.views.user_index %}">{% trans "Users" %}</a></li>
                    </ul>
                </li>
                {% endif %}
                
                {% if user.get_profile.lectures_courses %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="{% url evap.lecturer.views.index %}">{% trans "Your EvaP" %}</a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                {% endif %}
                
                {% if user.is_active %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="{% url evap.results.views.index %}">{% trans "Results" %}</a>
                    <ul class="dropdown-menu">
                        {% show_from 'evap.results.tools.all_semesters' "results_semester_menu.html" %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            <div class="pull-right">
                <form action="/i18n/setlang/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="de"/>
                    <button type="submit" class="btn small">Deutsch</button>
                    &nbsp;
                </form>
                <form action="/i18n/setlang/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="en"/>
                    <button type="submit" class="btn small">English</button>
                    &nbsp;
                </form>
                <form action="{% url django.contrib.auth.views.logout %}" method="GET">
                    <button type="submit" class="btn small">{% trans "Logout" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#topbar').dropdown();
    });
</script>