.badge-btn {
    margin-left: 0.3rem;
    color: $darker-gray;
    background-color: $light-gray;
}
.btn-light.active .badge-btn {
    color: $lighter-gray;
    background-color: $dark-gray;
}
.badge-btn-zero {
    margin-left: 0.3rem;
    color: $medium-gray;
    background-color: $white;
}
.badge-info, .badge-warning {
    color: $darker-gray;
}

%badge {
    border-radius: $badge-border-radius;
    text-align: center;
    width: 3rem;
}

.badge-grade {
    @extend %badge;
    color: $black;
    transition: box-shadow 0.15s ease-in-out;

    @include media-breakpoint-up(lg) {
        width: 42px;
    }
}

.badge-participants {
    @extend %badge;
    background-color: $evap-dark-blue;
    color: white;

    .fa-user {
        font-size: 80%;
    }

    @include media-breakpoint-up(lg) {
        width: 50px;
    }

    @include bar-shadow($evap-dark-blue);
}

@for $i from 0 through 10 {
    .badge-participants-#{$i} {
        background-color: mix($evap-dark-blue, $evap-light-blue, $i * 10%);
    }
}

.badge-disabled {
    background-color: $light-gray;
    color: lighten($medium-gray, 5%);
    text-shadow: none;
}

.badge-secondary-outline {
    background-color: $white;
    color: $secondary;
    border: 1px solid $secondary;
    padding: 0.16em 0.35em;
}
