// Bootstrap callouts (from https://gist.github.com/matthiasg/6153853)

.callout {
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid $dark-gray;
    @include border-right-radius($alert-border-radius);
}

.callout-header {
    font-weight: bold;
    min-width: 20px;
}

.callout-icon {
    padding: 4px 5px 0 0;
}

.callout-content {
    font-size: 80%;
    max-height: 500px;
    max-width: 1200px;
    padding-top: 20px;
    overflow: hidden;
}

.callout-warning {
    background-color: $evap-light-yellow;
    border-color: $evap-yellow;
}

.callout-info {
    background-color: $evap-light-blue;
    border-color: $evap-dark-blue;

    .callout-header {
        color: $evap-dark-blue;
    }

    &.closed:hover,
    &.closed:active {
        background-color: darken($evap-light-blue, 10%);
    }
}

.callout-closable {
    display: inline-block;
    transition: background-color 0.15s ease-in-out;

    &.closed:hover,
    &.closed:active {
        cursor: pointer;
    }

    &.closing,
    &.closed {
        border-radius: .2rem;
        border-left-width: 0;

        .callout-content {
            max-height: 0;
            max-width: 0;
            padding-top: 0;
        }

        .callout-closable-close {
            display: none;
        }
    }

    &.closing {
        transition: border-radius 1s ease 1s, border-left-width 1s ease 1s;

        .callout-content {
            transition: max-width 1s ease 1s, padding-top 1s ease, max-height 1s ease;
        }
    }

    &.opening {
        transition: border-radius 1s ease, border-left-width 1s ease;

        .callout-content {
            transition: max-width 1s ease, padding-top 1s ease 1s, max-height 1s ease 1s;
        }
    }
}
