div.container {
    padding-top: 80px; // for navbar (and breadcrumbs)
    flex: 1 0 auto;
}

.container-striped .row:nth-child(odd) {
    background-color: $table-accent-bg;
}

.lcr-left {
    flex: 1;
}
.lcr-center {
    flex: 5;
    text-align: center;
}
.lcr-right {
    flex: 1;
    text-align: right;
}

.vote-question {
    @include make-col-ready;
    padding: 0.5rem 0.75rem 0;
    word-wrap: break-word;

    &.choice-error {
        font-weight: bold;
        color: $evap-dark-red;
    }

    @include media-breakpoint-up(lg) {
        @include make-col(4);
        padding-bottom: 0.5rem;
    }

    @include media-breakpoint-up(xl) {
        @include make-col(5);
    }
}

.vote-answer-buttons {
    @include make-col-ready;
    padding: 0.5rem 0.75rem 0.9rem;

    @include media-breakpoint-up(lg) {
        @include make-col(8);
        padding-bottom: 0.5rem;
    }

    @include media-breakpoint-up(xl) {
        @include make-col(7);
    }
}

.vote-text-answer {
    @include make-col-ready;
    padding: 0.75rem;

    @include media-breakpoint-up(lg) {
        @include make-col(8);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(7);
    }
}

.result-rating-question {
    width: 60%;
}

.result-rating-answer {
    width: 40%;
}

.result-text-question {
    width: 25%;
}

.result-text-answer {
    width: 75%;
}
