@use "sass:list";

.container-striped .row:nth-child(odd) {
    background-color: $table-striped-bg;
}

// Only needed for selecting all elements of a row
// https://stackoverflow.com/a/50734005/3984653
.grid-row {
    display: contents;
}

.grid-striped .grid-row {
    &:nth-of-type(even) > div {
        background-color: $table-striped-bg;
    }

    & > div {
        border-bottom: 1px solid $table-border-color;
    }
}

.lcr-left {
    flex: 1;
}
.lcr-center {
    flex: 5;
    text-align: center;
}
.lcr-right {
    flex: 1;
    text-align: right;
}


.col-question {
    position: relative;
    padding: 0.5rem 0.75rem 0;
    word-wrap: break-word;

    &.choice-error {
        font-weight: bold;
        color: $evap-dark-red;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 0.5rem;
    }
}

.col-answer {
    padding: 0.5rem 0.75rem 0.9rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 0.5rem;
    }
}

.col-lg-broad {
    @include media-breakpoint-up(lg) {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

%table-grid {
    display: grid;
    min-height: 2.5rem;
    padding: 0.75rem;
    row-gap: 0;
    column-gap: 0;
    align-items: center;

    @at-root a#{&} {
        color: $black;
        &:hover {
            text-decoration: none;
        }
    }
}

#results-grid > :not(:first-child) {
    border-top: calc(2 * $table-border-width) solid $table-border-color;

    @include media-breakpoint-up(lg) {
        border-top-width: $table-border-width;
    }
}

$results-grid-areas: name, semester, responsible, voters, result;
.results-grid-row {
    @extend %table-grid;

    grid:
        " name semester responsible voters result"
        / auto 6rem     12rem       10rem  11rem;

    @include media-breakpoint-down(lg) {
        grid:
            " name semester  responsible responsible"
            " name semester  voters      result"
            / auto 3rem      8rem        10rem;
    }

    @include media-breakpoint-down(md) {
        grid:
            " name        name        semester"
            " responsible responsible responsible"
            " voters      result      result"
            / 1fr         1fr         6rem;
    }

    gap: 0.5rem 1rem;

    @include media-breakpoint-up(lg) {
        column-gap: 2rem;
    }

    &:not(.grid-header) [data-col=responsible] {
        font-style: italic;
    }

    [data-col=voters] {
        max-width: 10rem;
    }

    [data-col=result] {
        width: 100%;
        max-width: 11rem;
        justify-self: end;
    }

    &.course-row {
        padding-bottom: 0.2rem;
    }

    &.evaluation-row {
        padding: 0.5rem 0.75rem 0.5rem 2rem;
        font-size: 0.9rem;
        row-gap: 0.25rem;

        [data-col=name] {
            font-style: italic;
            color: $dark-gray;
        }
    }
}

$textanswer-review-grid-areas: answer, edit, review, flag;
.textanswer-review-grid {
    @extend %table-grid;

    grid:
        " answer edit        review      flag"
        / auto   min-content min-content min-content;

    min-height: 0;
    padding: 0.5rem;

    .grid-row > div {
        height: 100%;
        padding: 0.5rem;

        &:not(:first-child) {
            display: flex;
            align-items: center;
            padding-left: 0.75rem;
        }
    }

    .grid-row:not(:first-child) > div:not(:first-child) {
        justify-content: center;
    }
}

%striped-grid-row {
    @extend %table-grid;

    border: solid 0 $table-border-color;
    border-bottom-width: 1px;

    &:nth-child(odd):not(.grid-header) {
        background-color: $table-striped-bg;
    }

    &.grid-header button {
        font-weight: bold;
    }
}

$evaluation-grid-areas: checkbox, state-approval, state-evaluating, state-textanswers, state-results, name, period, responsibles, tags, buttons, responses;
.evaluation-grid-row {
    @extend %striped-grid-row;

    grid:
        " checkbox state-approval state-evaluating state-textanswers state-results name         period  responses buttons"
        " checkbox state-approval state-evaluating state-textanswers state-results responsibles period  responses buttons"
        " checkbox state-approval state-evaluating state-textanswers state-results tags         period  responses buttons"
        / 2em      1.4em          1.4em            1.4em             1.4em         auto         12.25em 12em      8.5em;

    padding: .10em .25em .45em .25em;

    &.grid-header {
        grid:
        " .        state-approval state-evaluating state-textanswers state-results name         period  .         ."
        / 2em      1.4em          1.4em            1.4em             1.4em         auto         12.25em 12em      8.5em;
    }

    & > * {
        padding-inline: .5rem;

        &.icon {
            padding-inline: 0;
            display: flex;
            justify-content: center;
        }
    }

    & .form-check {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0;
        padding: 0;
    }

    & .form-check-input {
        margin: unset;
        float: unset;
        line-height: 0;
    }

    & > .icon-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: .3em;
    }
}

$grades-grid-areas: name, badges, responsible, complete, midterm-grades, final-grades, actions;
.grades-grid-row {
    @extend %striped-grid-row;

    grid:
        " name   responsible complete midterm-grades final-grades actions"
        " badges responsible complete midterm-grades final-grades actions"
        / 35fr   20fr        10fr     10fr           10fr         15fr;

    padding: 0.5rem;
}

$course-grid-areas: name, badges, responsible, evaluation-count;
.course-grid-row {
    @extend %striped-grid-row;
    grid:
        " name   responsible evaluation-count ."
        " badges responsible evaluation-count ."
        / 1fr    14em        12em             9em;

    & > * {
        padding-inline: .5rem;
    }
}

.grid-no-items-text {
    background-color: $table-striped-bg;
    padding: .5rem;
}

@function join-multiple($lists...) {
    $result: ();
    @each $list in $lists {
        $result: list.join($result, $list, space);
    }
    @return $result;
}

@each $col in join-multiple($results-grid-areas, $textanswer-review-grid-areas, $evaluation-grid-areas, $grades-grid-areas, $course-grid-areas) {
    [data-col=#{$col}] {
        grid-area: $col;
    }
}

.col-order {
    display: block;
    cursor: pointer;

    padding-block: 0;
    padding-inline: .5rem;
    &:empty {
        padding-inline: 0;
    }

    border: none;
    background: none;

    column-gap: .5rem;

    &::before {
        content: escape-svg($order-button-icon);
        width: .75rem;
        flex-shrink: 0;
    }

    &-asc::before {
        content: escape-svg($order-button-up-icon);
    }

    &-desc::before {
        content: escape-svg($order-button-down-icon);
    }
}


.grid-header {
    align-items: stretch;
    font-weight: bold;

    [data-col] {
        display: flex;
        align-items: flex-end;
    }
}

.infotext-edit-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5rem;
}
