.jumbotron-evap {
    background-image: url("../images/triangles_color.svg");
    background-size: cover;
    padding: 4rem 2rem;
    border-radius: .3rem;

    h1 {
        @if ($dark-mode) {
            color: $darkest-gray;
        }
    }

    .card {
        @if ($dark-mode) {
            background-color: $darkest-gray;
        } @else {
            background-color: $lighter-gray;
        }
    }
}
