.jumbotron-evap {
    background-image: url("../images/triangles_color.svg");
    background-size: cover;
    padding: 4rem 2rem;
    border-radius: .3rem;

    .card {
        background-color: $lighter-gray;
    }
}
