.navbar {
    padding: 0 1rem;
    -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-nav .nav-link,
.navbar-nav .navbar-text {
    padding: .0 .5rem;
    line-height: 42px;
}

.dropdown-menu-tight {
    min-width: inherit;
}

.dropdown-toggle::after {
    vertical-align: 0.2em;
}

.dropdown-divider {
    margin: 0.25rem 0;
}

.nav-tabs .nav-item .nav-link {
    padding: 0.5rem 0.75rem;
}

.nav-item {
    padding: 0 0.25rem;
}
