.notebook {
    form[data-state] {
        --ready-display: none;
        --sending-display: none;
        --successful-display: none;
        --error-display: none;
    }
    form[data-state="ready"] {
        --ready-display: unset;
    }
    form[data-state="sending"] {
        --sending-display: unset;
    }
    form[data-state="successful"] {
        --successful-display: unset;
    }
    form[data-state="error"] {
        --error-display: unset;
    }
    .visible-if-ready {
        display: var(--ready-display);
    }
    .visible-if-sending {
        display: var(--sending-display);
    }
    .visible-if-successful {
        display: var(--successful-display);
    }

    .notebook-animation {
        transition: width .0s !important; // disable predefined bootstrap animation
    }

    .right-to-element {
        position: relative;
        display: inline-block;
        width: 0;
        vertical-align: center;
    }

    .notebook-textarea {
        resize: none;
        flex-grow: 1;
    }

    display: flex;
    justify-content: center;
    .notebook-container {
        width: 80vw; //approximation to be similar to evap-Content width
        z-index: $zindex-fixed;
        padding: $spacer;
    }

        .notebook-card {
            height: calc(45vh - (#{$spacer} * 1.5) * 2); // subtract spacer with padding
            min-height: 43.5vh; // approximation for size needed in smallest window (50vh - (spacer + leeway))
        }


    @media screen and (min-aspect-ratio: $notebook-break), (min-width: $notebook-break-width) {
    display: unset;
    .notebook-container {
        width: 25vw;
        padding-right: 0;
        z-index: 0;
    }

        .notebook-card {
            height: calc((100vh - #{$navbar-brand-height}) - (#{$footer-height} + ((#{$spacer} * 1.5) * 5))); //approximation for similar gap to the footer as evap-Content
        }
    }
}


    .notebook-margin {
        margin-top: 50vh;
    }

@media screen and (min-aspect-ratio: $notebook-break), (min-width: $notebook-break-width) {
    .notebook-margin {
        max-width: 75vw;
        margin-left: 25vw;
        margin-top: 0;
    }
}
