.progress-container .progress {
    min-width: 55px;
    height: unset;
    flex: 1;
    position: relative;
    font-size: unset;
    background-color: $evap-light-blue;
}

.progress-container .progress-empty {
    height: 1.5rem;
}

.progress-container .progress-disabled {
    background-color: $light-gray;

    .progress-bartext {
        text-shadow: none;
        color: tint-color($medium-gray, 10%);
    }
}

.background-striped {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.45) 25%, rgba(255, 255, 255, 0.45) 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0.45) 75%, rgba(255, 255, 255, 0.45));
    background-size: 1rem 1rem;
}

.progress-tooltip-icon {
    display: inline-block;
    background-color: $evap-dark-blue;
    border-radius: 0.1rem;
    width: 0.7rem;
    height: 0.7rem;
    &.background-striped {
        background-size: 0.7rem 0.7rem;
    }
}

.progress-container-warning {
    .progress {
        background-color: $evap-yellow;
    }

    .progress-bar {
        background-color: $evap-dark-yellow;
    }

    .progress-bartext {
        color: $black;
        @include bar-shadow($evap-dark-yellow);
    }
}

.progress-bartext {
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    width: 100%;
    text-align: center;
    @include bar-shadow($evap-dark-blue);
}

.progress-badge-wrapper {
    text-align: right;
    min-width: 45px;
}

.multi-progress-bar .progress-container {
    padding-bottom: 3px;
}

.separator {
    content: "";
    display: block;
    width: 1px;
    height: 6px;
    border: $dark-gray 1px solid;
    margin-right: auto;
    margin-left: auto;
}

.rewards-progress-bar {
    position: relative;
    display: grid;
    padding-top: .5rem;

    .progress-container {
        display: flex;
        height: 25px;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .progress-step {
        transform: translateX(-50%);
        width: fit-content;
        grid-column-start: 1;
        display: grid;

        .progress-step-number {
            @extend .text-center;
            @extend .small;
            &::before, &::after {
                @extend .separator;
            }
        }

        .progress-step-label {
            @extend .text-center;
            @extend .fw-semibold;
            &::before, &::after {
                @extend .separator;
            }
        }

        &.left-percent-0 {
            transform: translateX(0%);
            .progress-step-number,.progress-step-label {
                text-align: start !important;
                &::before,&::after {
                    position: relative;
                    left: -50%;
                }
            }
        }
        &.left-percent-100 {
            transform: translateX(-100%);
            .progress-step-number,.progress-step-label {
                text-align: end !important;
                &::before,&::after {
                    position: relative;
                    left: 50%;
                }
            }
        }
    }

    .progress-step-bottom {
        grid-row-start: 3;
        margin-bottom: auto;
        .progress-step-number {grid-row-start: 1;}
        .progress-step-label {grid-row-start: 2;}
    }
    .progress-step-top {
        grid-row-start: 1;
        margin-top: auto;
        .progress-step-number {grid-row-start: 2;}
        .progress-step-label {grid-row-start: 1;}
    }

    .progress-step.progress-step-bottom .progress-step-number::after {display: none;}
    .progress-step.progress-step-bottom .progress-step-label::after {display: none;}
    .progress-step.progress-step-top .progress-step-number::before {display: none;}
    .progress-step.progress-step-top .progress-step-label::before {display: none;}

    @include media-breakpoint-up(md) {
        .progress-step.progress-step-bottom .progress-step-label::before {display: none;}
        .progress-step.progress-step-top .progress-step-label::after {display: none;}
    }
    @include media-breakpoint-down(md) {
        .progress-step.progress-step-bottom {
            &:nth-of-type(3n + 1) .progress-step-label::before {display: none;}
            &:nth-of-type(3n + 2) .progress-step-label::before {height: 18px;}
            &:nth-of-type(3n) .progress-step-label::before {height: 36px;}
        }
        .progress-step.progress-step-top {
            &:nth-of-type(3n + 1) .progress-step-label::after {display: none;}
            &:nth-of-type(3n + 2) .progress-step-label::after {height: 18px;}
            &:nth-of-type(3n) .progress-step-label::after {height: 36px;}
        }
    }
}
