section.range-slider {
    position: relative;
    height: 45px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 20px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
}

section.range-slider input::-webkit-slider-runnable-track {
    background-color: $light-gray;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: $light-gray;
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}
