{% extends 'grades_course_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans "Upload document" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% if show_automated_publishing_info %}
        <div class="callout callout-info">
            <b>{% trans 'Automated publishing' %}</b><br />
            {% blocktrans %}After this file with final grades was uploaded, the evaluation results will be published automatically once the evaluation ends. If the evaluation has already ended, it will be published immediately. All contributors and participants will receive an email informing them about the published evaluation results and the available grade file document.{% endblocktrans %}
        </div>
    {% endif %}

    <h3 class="mb-3">
        {% if final_grades %}
            {% blocktrans with course=course.name semester=semester.name %}Upload final grades for {{ course }} ({{ semester }}){% endblocktrans %}
        {% else %}
            {% blocktrans with course=course.name semester=semester.name %}Upload midterm grades for {{ course }} ({{ semester }}){% endblocktrans %}
        {% endif %}
    </h3>
    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                {% include 'bootstrap_form.html' with form=form %}
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Upload grades' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
