{% extends 'grades_semester_base.html' %}

{% load infotext_templatetags %}
{% load static %}

{% block content %}
    {{ block.super }}
    {% show_infotext "grades_pages" %}

    <div class="row mb-3 align-items-end">
        <h3 class="col-8 mb-0">
            {{ semester.name }}
        </h3>
        <div class="col-4 d-flex">
            {% if user.show_startpage_button and semester.is_active %}
                <div class="me-2 d-print-none">
                    {% include 'startpage_button.html' with page='GR' %}
                </div>
            {% endif %}
            <div class="input-group">
                <input type="search" name="search" class="form-control" placeholder="{% translate 'Search...' %}" />
                <button class="btn btn-light text-secondary" type="button" data-reset="search" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Clear search filter' %}">
                    <span class="fas fa-delete-left"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            {% translate 'Courses' %}
        </div>
        <div class="card-body table-responsive">
            {% if courses %}

                <!-- TODO: use data-not-searchable? -->
                <div id="course-grid">
                    <div class="grid-header grades-grid-row">
                        <button class="col-order" data-col="name">{% translate 'Name' %}</button>
                        <button class="col-order" data-col="responsible">{% translate 'Responsible' %}</button>
                        <button class="col-order" data-col="complete">{% translate 'Evaluation completed' %}</button>
                        <button class="col-order" data-col="midterm-grades">{% translate 'Midterm grade documents' %}</button>
                        <button class="col-order" data-col="final-grades">{% translate 'Final grade documents' %}</button>
                        <span class="text-end">{% translate 'Actions' %}</span>
                    </div>

                    <div class="grid-body">
                        {% for course, num_midterm_grades, num_final_grades in courses %}
                            <div class="grades-grid-row">

                                <div data-col="name" data-order="{{ course.name|lower }}">
                                    <a href="{% url 'grades:course_view' course.id %}">{{ course.name }}</a>
                                </div>
                                <div data-col="badges" style="grid-area: badges">
                                    {% include 'course_badges.html' %}
                                </div>

                                <div data-col="responsible" data-order="{{ course.responsibles.first.last_name|lower }}">
                                    {{ course.responsibles_names }}
                                </div>

                                <div data-col="complete">
                                    {% if course.all_evaluations_finished %}
                                        <span class="fas fa-check"></span>
                                    {% endif %}
                                </div>

                                <div data-col="midterm-grades">
                                    {% if num_midterm_grades > 0 %}
                                        <span class="fas fa-file"></span> {{ num_midterm_grades }}
                                    {% endif %}
                                </div>

                                <div data-col="final-grades">
                                    {% if num_final_grades > 0 %}
                                        <span class="fas fa-file"></span> {{ num_final_grades }}
                                    {% elif course.gets_no_grade_documents %}
                                        <form reload-on-success method="POST" action="{% url 'grades:set_no_grades' %}" class="d-contents">
                                            {% csrf_token %}
                                            <input type="hidden" name="course_id" value="{{ course.id }}">

                                            <confirmation-modal type="submit" name="status" value="0" confirm-button-class="btn-primary">
                                                <span slot="title">{% translate 'Will final grades be uploaded?' %}</span>
                                                <span slot="action-text">{% translate 'Confirm' %}</span>
                                                <span slot="question">
                                                    {% blocktranslate trimmed with course_name=course.name %}
                                                        Please confirm that a grade document for the course <strong>{{ course_name }}</strong> will be uploaded later on.
                                                    {% endblocktranslate %}
                                                </span>

                                                <a slot="show-button" href="#">
                                                    <span class="fas fa-xmark light-link" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Grade documents for this course will not be uploaded. Click to change.' %}"></span>
                                                </a>
                                            </confirmation-modal>
                                        </form>
                                    {% endif %}
                                </div>

                                <div data-col="actions" class="d-flex justify-content-end">
                                    {% if not course.gets_no_grade_documents %}
                                        {% if num_final_grades == 0 %}
                                            <form reload-on-success method="POST"
                                                  action="{% url 'grades:set_no_grades' %}" class="d-contents">
                                                {% csrf_token %}
                                                <input type="hidden" name="course_id" value="{{ course.id }}">

                                                <confirmation-modal type="submit" name="status" value="1"
                                                                    confirm-button-class="btn-primary">
                                                    <span slot="title">{% translate 'Have final grades been submitted?' %}</span>
                                                    <span slot="action-text">{% translate 'Confirm' %}</span>
                                                    <span slot="question">
                                                    {% blocktranslate trimmed with course_name=course.name %}
                                                        Please confirm that the final grades for the course
                                                        <strong>{{ course_name }}</strong> have been submitted but will
                                                        not be uploaded.
                                                    {% endblocktranslate %}
                                                </span>

                                                    <button slot="show-button" type="button" {{ disable_if_archived }}
                                                            class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            title="{% translate 'Confirm that final grades have been submitted but will not be uploaded.' %}">
                                                        <span class="fas fa-xmark"></span>
                                                    </button>
                                                </confirmation-modal>
                                            </form>

                                            <div class="btn-group" role="group" data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 title="{% translate 'Upload grade document' %}">
                                                <button type="button" id="btnUpload{{ course.id }}"
                                                        class="btn btn-sm btn-dark dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span class="fas fa-upload"></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnUpload{{ course.id }}">
                                                    <a class="dropdown-item"
                                                       href="{% url 'grades:upload_grades' course.id %}">{% translate 'Midterm grades' %}</a>
                                                    <a class="dropdown-item"
                                                       href="{% url 'grades:upload_grades' course.id %}?final=true">{% translate 'Final grades' %}</a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <a href="{% url 'grades:course_view' course.id %}"
                                               class="btn btn-sm btn-light" data-bs-toggle="tooltip"
                                               data-bs-placement="top"
                                               title="{% translate 'Change grade document' %}"><span
                                                    class="fas fa-pencil"></span></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>


            {% else %}
                <span class="fst-italic">{% translate 'No courses have been created yet' %}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script type="module">
        import {TableGrid} from "{% static 'js/datagrid.js' %}";
        const table = document.querySelector(".grade-course-table");
        if (table) {
            new TableGrid({
                storageKey: "grades-semester-{{ semester.id }}-data-grid",
                table,
                searchInput: document.querySelector("input[name=search]"),
                resetSearch: document.querySelector("[data-reset=search]"),
            }).init();
        }
    </script>
{% endblock %}
