{% extends "grades_semester_base.html" %}

{% load i18n %}

{% block subtitle %}
    {{ block.super }}
    {% if course %}
        {% if disable_breadcrumb_course %}
            <li>{{ course.name }}</li>
        {% else %}
            <li><a href="{% url "grades:course_view" semester.id course.id %}">{{ course.name }}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block title %}
    {% if course %}
        {{ course.name }} -
    {% endif %}
    {{ block.super }}
{% endblock %}
