{% extends 'base.html' %}

{% block title %}{% translate 'Grade publishing' %} - {{ block.super }}{% endblock %}

{% block breadcrumb_bar %}
    <div class="breadcrumb-bar">
        <ul class="breadcrumb">
            {% block breadcrumb %}
                {% if disable_breadcrumb_grades or not user.is_grade_publisher %}
                    <li class="breadcrumb-item">{% translate 'Grade publishing' %}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'grades:index' %}">{% translate 'Grade publishing' %}</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
