{% extends 'grades_base.html' %}

{% load evaluation_filters %}
{% load staff_templatetags %}

{% block title %}{{ semester.name }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if semester %}
        {% if not user.is_grade_publisher %}
            {% breadcrumb_item %}
                {{ semester.name }}
            {% endbreadcrumb_item %}
        {% else %}
            {% breadcrumb_item_url 'grades:semester_view' semester.id %}
                {{ semester.name }}
            {% endbreadcrumb_item_url %}
        {% endif %}
    {% endif %}
{% endblock %}
