{% extends 'base.html' %}

{% block title %}{% trans 'Grade publishing' %} - {{ block.super }}{% endblock %}

{% block breadcrumb_bar %}
    <ul class="breadcrumb">
        {% block breadcrumb %}
            {% if disable_breadcrumb_grades or not user.is_grade_publisher %}
                <li class="breadcrumb-item">{% trans 'Grade publishing' %}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'grades:index' %}">{% trans 'Grade publishing' %}</a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}
