{% extends 'grades_base.html' %}

{% block content %}
    <h3>{% trans 'Semesters' %}</h3>
    <div class="card mb-3">
        <div class="card-body">
            {% if semesters %}
                <ul>
                {% for semester in semesters %}
                    <li><a href="{% url 'grades:semester_view' semester.id %}">{{ semester.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                {% trans 'There are no semesters yet.' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
