{% extends "grades_course_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        <p>
            {% if course.gets_no_grade_documents %}
                {% blocktrans with semester=semester.name course=course.name %}
                    Please confirm that a grade document for the course {{ course }} ({{ semester }})
                    <b>will be uploaded later on</b>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans with semester=semester.name course=course.name %}
                    Please confirm that the <b>final grades have been submitted</b> but <b>will not be uploaded</b>
                    for the course {{ course }} ({{ semester }}).
                {% endblocktrans %}
            {% endif %}
        </p>
        <input type="submit" value="{% trans "Confirm" %}" class="btn btn-primary"/>
        <a href="{% url "grades:semester_view" semester.id %}" class="btn btn-default">{% trans "Cancel" %}</a>
    </form>
{% endblock %}
