{% extends "fsr_base.html" %}

{% load i18n %}

{% block actions %}
    <li><a href="{% url fsr.views.questiongroup_create %}">{% trans "Create new question group" %}</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
    {% if questiongroups %}
        <table class="full-width">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Usages" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            
            {% for questiongroup in questiongroups %}
                <tr class="{% if questiongroup.obsolete %}obsolete {% endif %}">
                    <td>{{ questiongroup.name }}</td>
                    <td>
                        {% blocktrans count questiongroup.question_set.all.count as count %}
                        {{ count }} question{% plural %}
                        {{ count }} questions{% endblocktrans %},
                        {% trans "used for " %}
                        {% with kinds=questiongroup.used_in_course_kinds %}
                            {% if kinds.general %}
                                {% trans "General" %}
                                ({% for kind in kinds.general %}{{kind}}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% endif %}
                            
                            {% if kinds.primary_lecturer %}
                                {% trans "Primary Lecturer" %}
                                ({% for kind in kinds.primary_lecturer %}{{kind}}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% endif %}
                            
                            {% if kinds.secondary_lecturer %}
                                {% trans "Seconday Lecturer" %}
                                ({% for kind in kinds.secondary_lecturer %}{{kind}}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {% if not questiongroup.obsolete %}
                            <a href="{% url fsr.views.questiongroup_edit questiongroup.id %}">{% trans "Edit" %}</a>&nbsp;
                        {% endif %}
                        <a href="{% url fsr.views.questiongroup_view questiongroup.id %}">{% trans "Preview" %}</a>&nbsp;
                        <a href="{% url fsr.views.questiongroup_copy questiongroup.id %}">{% trans "Copy" %}</a>&nbsp;
                        <a href="{% url fsr.views.questiongroup_delete questiongroup.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
                <!--
                <tr>
                    <td colspan="4">{{ questiongroup.description|default:"&nbsp;" }}</td>
                </tr>
                -->
            {% endfor %}
        </table>
    {% else %}
        {% trans "There are no question groups yet." %}
    {% endif %}
    </p>
{% endblock %}
