{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block header %}
    {{ block.super }}
    
    <script type="text/javascript">
        $(function() {
            $('#question_table tbody tr').formset({prefix: 'question_set'});
        })
    </script>
    
    <!-- prevent from accendential closing -->
	<script type="text/javascript" src="{% get_static_prefix %}js/leave.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <label>{% trans "General Options" %}:</label>
                <table class="stdform">{{ form.as_table }}</table>
            </fieldset>
            
            <fieldset>
                {{ formset.management_form }}
                <label>{% trans "Questions" %}:</label>
                {{ formset.non_form_errors }}
                <table id="question_table">
                    <tr>
                        {% for field in formset.form %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                        <th></th>
                        <th>{% trans "Delete?" %}</th>
                    </tr>
                    <tbody>
                        {% for form_element in formset %}
                            {% if form_element.non_field_errors %}
                                <tr><td colspan=100>{{ form_element.non_field_errors }}</td></tr>
                            {% endif %}
                            
                            <tr>
                            {% for field in form_element %}
                                <td>{{field.errors}} {{ field }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <input type="submit" value="{% trans "Save questionnaire" %}" onclick="submitFormOkay = true;"/>
        </form>
    </p>
{% endblock %}
