{% extends "base.html" %}

{% load i18n %}
{% load showfrom %}
{% load static %}

{% block title %}{% trans "Student Representatives" %} - {{ block.super }}{% endblock %}

{% block subtitle %}{% trans "Student Representatives" %}{% endblock %}

{% block header %}
    <!-- jquery ui -->
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/jquery-ui-1.6.2-ui-lightness.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/locale/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
    
    <!-- multi-select plugin -->
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/ui.multiselect.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/localisation/jquery.localisation-min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/scrollTo/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/ui.multiselect.js"></script>
    
    <!-- formset plugin -->
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.formset.js"></script>
{% endblock %}

{% block menu %}
    {{ block.super }}
    <p><a href="{% url fsr.views.questiongroup_index %}">{% trans "Question Groups" %}</a></p>
    {% show_from 'fsr.tools.all_questiongroups' "fsr_questiongroup_menu.html" %}
    
    <p><a href="{% url fsr.views.semester_index %}">{% trans "Semesters" %}</a></p>
    {% show_from 'fsr.tools.all_semesters' "fsr_semester_menu.html" %}
    
    <p><a href="{% url fsr.views.user_index %}">{% trans "Users" %}</a></p>
{% endblock %}

{% block content %}
    <ul id="actions">
        {% block actions %}
            {% if questiongroup %}
                <li><a href="{% url fsr.views.questiongroup_edit questiongroup.id %}">{% trans "Edit question group" %}</a></li>
                <li><a href="{% url fsr.views.questiongroup_copy questiongroup.id %}">{% trans "Copy question group" %}</a></li>
                <li><a href="{% url fsr.views.questiongroup_delete questiongroup.id %}">{% trans "Delete question group" %}</a></li>
            {% endif %}
            
            {% if semester %}
                <li><a href="{% url fsr.views.semester_edit semester.id %}">{% trans "Edit semester" %}</a></li>
                <li><a href="{% url fsr.views.semester_delete semester.id %}">{% trans "Delete semester" %}</a></li>
                <li><a href="{% url fsr.views.course_create semester.id %}">{% trans "Create new course" %}</a></li>
                <li><a href="{% url fsr.views.semester_import semester.id %}">{% trans "Import courses" %}</a></li>
                <li><a href="{% url fsr.views.semester_assign_questiongroups semester.id %}">{% trans "Assign question groups" %}</a></li>
                <li><a href="{% url fsr.views.semester_publish semester.id %}">{% trans "Publish courses" %}</a></li>
            {% endif %}
        {% endblock %}
    </ul>
    {{ block.super }}
{% endblock %}
