{% extends "fsr_semester_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Select the questionnaires to assign each of these course and contributor types. If you do select nothing, this kind will not be changed." %}
    </p>
    <form method="POST" class="form-horizontal multiselect-form">
	{% csrf_token %}
	<fieldset>
	{{ form.as_div }}
	</fieldset>
    <div class="form-group well">
        <div class="col-sm-offset-2 col-sm-6">
	       <input type="submit" value="{% trans "Assign questionnaires" %}" class="btn btn-primary"/>
        </div>
	</div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript">
        $(function() {
            if ($.fn.button.noConflict != undefined) {
                $.fn.button.noConflict();
            }

            $("select[multiple='multiple']").each(function(i,e) {
                $(e).width($(e).width());
                $(e).multiselect({ locale: "{{ LANGUAGE_CODE }}" });
            });
        });
    </script>
{% endblock %}
