{% extends "fsr_base.html" %}

{% load i18n %}

{% block actions %}
    <li><a href="{% url fsr.views.questiongroup_create %}">{% trans "Create new question group" %}</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
    {% if questiongroups %}
        <table>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "# of Q." %}</th>
                <th>{% trans "Usages" %}</th>
                <th>{% trans "Obsolete" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            
            {% for questiongroup in questiongroups %}
                <tr>
                    <td>{{ questiongroup.name }}</td>
                    <td>{{ questiongroup.description }}</td>
                    <td>{{ questiongroup.question_set.all|length }}</td>
                    <td>
                        {% for kind in questiongroup.used_in_course_kinds.general %}
                            {{ kind }}({% trans "General" %})&nbsp;
                        {% endfor %}
                        {% for kind in questiongroup.used_in_course_kinds.primary_lecturer %}
                            {{ kind }}({% trans "Primary Lecturer" %})&nbsp;
                        {% endfor %}
                        {% for kind in questiongroup.used_in_course_kinds.secondary_lecturer %}
                            {{ kind }}({% trans "Secondary Lecturer" %})&nbsp;
                        {% endfor %}
                    </td>
                    <td>{{ questiongroup.obsolete|yesno }}</td>
                    <td>
                        {% if not questiongroup.obsolete %}
                            <a href="{% url fsr.views.questiongroup_edit questiongroup.id %}">{% trans "Edit" %}</a>&nbsp;
                        {% endif %}
                        <a href="{% url fsr.views.questiongroup_view questiongroup.id %}">{% trans "Preview" %}</a>&nbsp;
                        <a href="{% url fsr.views.questiongroup_copy questiongroup.id %}">{% trans "Copy" %}</a>&nbsp;
                        <a href="{% url fsr.views.questiongroup_delete questiongroup.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% trans "There are no question groups yet." %}
    {% endif %}
    </p>
{% endblock %}
