{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block actions %}
    {{ block.super }}
    <li><a href="{% url evap.fsr.views.user_create %}">{% trans "Create new user" %}</a></li>
{% endblock actions %}

{% block content %}
    {{ block.super }}
    <table class="full-width">
        {% for user in users %}
            <tr class="largerow {% cycle "odd" "even" %}">
                <td>
                    {% if user.is_staff %}
                        <img src="{% get_static_prefix %}images/silk/user_orange.png" title="{% trans "Student Representative" %}">
                    {% endif %}
                    {% if user.get_profile.is_lecturer %}
                        <img src="{% get_static_prefix %}images/silk/user_suit.png" title="{% trans "Lecturer" %}">
                    {% endif %}
                </td><td>
                    {% if user.get_profile.logon_key %}
                        <img src="{% get_static_prefix %}images/silk/world.png" title="{% trans "External Login Key Assigned" %}">
                    {% endif %}
                </td><td>
                    {% if not user.email %}
                        <img src="{% get_static_prefix %}images/silk/email_error.png" title="{% trans "E-Mail address missing!" %}">
                    {% endif %}
                </td>
                <td class="expand"><span title="{{ user.username }}">{{ user.get_profile.full_name }}</span></td>
                <td class="dontbreak">
                    <a href="{% url evap.fsr.views.user_edit user.id %}">{% trans "Edit" %}</a>&nbsp;
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
