{% extends "fsr_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" style="display: inline;">
            {% csrf_token %}
            <p>{% blocktrans with name=course.name %}Do you really want to delete the course <em>{{ name }}</em>?{% endblocktrans %}</p>
            <input type="submit" value="{% trans "Yes" %}"/>
        </form>
        <form method="GET" action="{% url evap.fsr.views.semester_view semester.id %}" style="display: inline;">
            <input type="submit" value="{% trans "No" %}"/>
        </form>
    </p>
{% endblock %}
