{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li> <span class="divider">/</span> <a href="{% url "evap.fsr.views.user_index" %}">{% trans "Users" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <ul class="tabs">
        <li class="{% if not filter %}active{% endif %}"><a href="?">{% trans "All" %}</a></li>
        <li class="{% if filter == 'fsr' %}active{% endif %}"><a href="?filter=fsr">{% trans "Student Representatives" %}</a></li>
        <li class="{% if filter == 'lecturers' %}active{% endif %}"><a href="?filter=lecturers">{% trans "Lecturers" %}</a></li>
        <li class="{% if filter == 'delegates' %}active{% endif %}"><a href="?filter=delegates">{% trans "Delegates" %}</a></li>
        <div class="pull-right">
            <a href="{% url "evap.fsr.views.user_create" %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn small success">{% trans "Create new user" %}</a>
        </div>
    </ul>
    
    <table class="zebra-striped vertically-aligned">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Username" %}</th>
                <th>{% trans "Information" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="minimize">
                    {{ user.get_profile.full_name }}
                </td>
                <td class="maximize">
                    {{ user.username }}
                </td>
                <td class="minimize">
                    {% if user.is_staff %}
                        <span class="label notice">{% trans "Student Representative" %}</span>
                    {% endif %}
                    {% if user.get_profile.is_lecturer %}
                        <span class="label notice">{% trans "Lecturer" %}</span>
                    {% endif %}
                    {% if user.get_profile.is_delegate %}
                        <span class="label notice">{% trans "Delegate" %}</span>
                    {% endif %}
                    {% if user.get_profile.logon_key %}
                        <span class="label notice">{% trans "Logon Key" %}</span>
                    {% endif %}
                    {% if not user.email %}
                        <span class="label important">{% trans "E-Mail address missing!" %}</span>
                    {% endif %}
                </td>
                <td class="minimize">
                    <a href="{% url "evap.fsr.views.user_edit" user.id %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn small">{% trans "Edit" %}</a>
                    {% if user.get_profile.can_fsr_delete %}
                        <a href="{% url "evap.fsr.views.user_delete" user.id %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn small danger">{% trans "Delete" %}</a>
                    {% else %}
                        <a class="btn small danger disabled">{% trans "Delete" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
