{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/fsr.css" />
    {{ block.super }}
{% endblock %}

{% block actions %}
    <li><a href="{% url fsr.views.course_create semester.id %}">{% trans "Create new course" %}</a></li>
    <li><a href="{% url fsr.views.semester_edit semester.id %}">{% trans "Edit this semester" %}</a></li>   
    <li><a href="{% url fsr.views.semester_import semester.id %}">{% trans "Import courses" %}</a></li>
    <li><a href="{% url fsr.views.semester_assign_questiongroups semester.id %}">{% trans "Assign question groups" %}</a></li>
    {{ block.super }}
{% endblock %}