{% extends "fsr_base.html" %}

{% load i18n %}

{% block actions %}
    <li><a href="{% url fsr.views.questiongroup_edit questiongroup.id %}">{% trans "Edit this question group" %}</a></li>
    <li><a href="{% url fsr.views.questiongroup_copy questiongroup.id %}">{% trans "Copy this question group" %}</a></li>
    <li><a href="{% url fsr.views.questiongroup_delete questiongroup.id %}">{% trans "Delete this question group" %}</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            <p>{% trans "Do you really want to delete this question group?" %}</p>
            <input type="submit" value="{% trans "Yes" %}"/>
            <a href="{% url fsr.views.questiongroup_view questiongroup.id %}">{% trans "No" %}</a>
        </form>
    </p>
{% endblock %}
