{% extends "fsr_semester_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    {% if not form.is_valid %}
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
        <legend>{% trans "Lottery" %}</legend>
        {{ form.as_div }}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <input type="submit" value="{% trans "Perform Lottery" %}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    {% else %}
    <p>
        {% trans "The lottery was performed and the winners are:" %}
        <ul>
            {% for user in winners %}
                <li>
                    {{ user.userprofile.full_name }}
                    {% if user.email %}
                        (<a href="mailto:{{ user.email }}">{{ user.email }}</a>)
                    {% endif %}
                </li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>
        {{ eligible|length }} {% trans "users were eligible for the lottery." %}
    </p>
    {% endif %}
{% endblock %}
