{% extends "base.html" %}

{% load i18n %}
{% load showfrom %}
{% load static %}

{% block title %}{% trans "Student Representatives" %} - {{ block.super }}{% endblock %}

{% block subtitle %}
    {{ block.super }}
    <li> <span class="divider">/</span> <a href="{% url fsr_root %}">{% trans "Student Representatives" %}</a></li>
{% endblock %}

{% block header %}
    <!-- jquery ui -->
    <!--<link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/jquery-ui-1.6.2-ui-lightness.css" />-->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>-->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.min.js"></script>-->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/locale/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>-->
    
    <!-- multi-select plugin -->
    <!--<link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/ui.multiselect.css" />-->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/plugins/localisation/jquery.localisation-min.js"></script>-->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/plugins/scrollTo/jquery.scrollTo-min.js"></script>-->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/ui.multiselect.js"></script>-->
    
    <!-- formset plugin -->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/jquery.formset.js"></script>-->
    
    <!-- combobox plugin -->
    <!--<script type="text/javascript" src="{% get_static_prefix %}js/ui.combobox.js"></script>-->
{% endblock %}
