{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li>{% trans "FAQ Sections" %}</li>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript">
        $(document).ready(function() {
            if ($.fn.button.noConflict != undefined) {
                $.fn.button.noConflict();
            }

            $('#section_table tbody tr').formset({
                prefix: 'form',
                additionalDeleteCssClass: 'btn btn-danger btn-sm',
                deleteText: '{% trans "remove" %}',
                addText: '{% trans "add another" %}',
                added: function(row) {
                    row.find('input[id$=-order]').val(row.parent().children().length);
                    row.find('a.btn-default').remove();
                }
            });

            $('tbody').sortable({
                items: 'tr',
                handle: 'td:first',
                update: function() {
                    $(this).find('tr').each(function(i) {
                        if ($(this).find('input[id$=-order]').val()) {
                            $(this).find('input[id$=-order]').val(i);
                        }
                    });
                }
            });
            $('tr td:first').css('cursor', 'move');
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="col-sm-offset-1">
        <table id="section_table" class="table">
            {% for form in formset %}
                {% if forloop.first %}
                    <thead>
                        <th style="width: 10px;">&nbsp;</th>
                        {% for field in form.visible_fields %}
                            {% if forloop.last %}
                                <th>{% trans "Actions" %}</th>
                            {% else %}
                                <th>{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                {% endif %}

                <tr>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <td style="width: 10px;"><span style="font-size: 16px; top: 8px;" class="glyphicon glyphicon-move"></span></td>
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.last %}
                                <a href="{% url "evap.fsr.views.faq_section" form.instance.id %}" class="btn btn-default btn-sm">{% trans "Edit" %}</a>
                            {% endif %}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
        <div class="form-group well">
            <div class="col-sm-6">
                <input type="submit" value="{% trans "Save FAQ sections" %}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}
