{% extends "fsr_course_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <h2>{% trans "Comments for Course "%}{{ course.name }}</h2>
    <p>
        {% for question, answers in textanswers_by_question %}
            <h3>{{ question.text }}</h3>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>{% trans "ID" %}</th>
                        <th>{% trans "Original Text" %}</td>
                        <th>{% trans "Reviewed Text" %}</td>
                        <th>{% trans "Hidden?" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for textanswer in answers %}
                        <tr>
                            <td>{{ textanswer.id }}</td>
                            <td>{{ textanswer.original_answer }}</td>
                            <td>{{ textanswer.reviewed_answer|default:"&mdash;" }}</td>
                            <td>{{ textanswer.hidden|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </p>
{% endblock %}
