{% extends "fsr_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            <p>{% blocktrans with name=questionnaire.name %}Do you really want to delete the questionnaire <em>{{ name }}</em>?{% endblocktrans %}</p>
            <input type="submit" value="{% trans "Yes" %}"/>
        </form>
        <form action="evap.fsr.views.questionnaire_view questionnaire.id" style="display: inline;">
            <input type="submit" value="{% trans "No" %}"/>
        </form>
    </p>
{% endblock %}
