{% extends "fsr_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            {% if form.fields %}
                <p>
                {% for field in form %}
                    <div>{{ field }} {{ field.label_tag }}</div>
                {% endfor %}
                </p>
                <p>
                    <input type="submit" value="{% trans "Publish courses" %}"/>
                </p>
            {% else %}
                {% trans "There are no courses ready to publish." %}
            {% endif %}
        </form>
    </p>
{% endblock %}
