{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        $.localise('ui-multiselect', {/*language: 'en',*/ path: '{% get_static_prefix %}js/locale/'});
        $(".multiselect-form select[multiple='multiple']").each(function(i,e) {
            $(e).width($(e).width());
            $(e).multiselect();
        });
        
        $('#question_table tbody tr').formset({prefix: 'question_set'});                        
    });
    </script>
    
    <!-- prevent from accendential closing -->
        <script type="text/javascript" src="{% get_static_prefix %}js/leave.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "General Options" %}</legend>
            {{ form.as_div }}
        </fieldset>
        
        <fieldset>
            <legend>{% trans "Questions" %}</legend>
            {{ formset.management_form }}
            {{ formset.non_form_errors }}
            <table id="question_table">
                <tr>
                    {% for field in formset.form %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                    <th></th>
                    <th>{% trans "Delete?" %}</th>
                </tr>
                <tbody>
                    {% for form_element in formset %}
                        {% if form_element.non_field_errors %}
                            <tr><td colspan=100>{{ form_element.non_field_errors }}</td></tr>
                        {% endif %}
                        
                        <tr>
                        {% for field in form_element %}
                            <td>{{field.errors}} {{ field }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <div class="actions">
            <input type="submit" value="{% trans "Save questionnaire" %}" onclick="submitFormOkay = true;" class="btn primary"/>
        </div>
    </form>
{% endblock %}
