{% extends "fsr_base.html" %}

{% load i18n %}

{% block actions %}
    <li><a href="{% url fsr.views.questiongroup_edit questiongroup.id %}">{% trans "Edit this question group" %}</a></li>
    <li><a href="{% url fsr.views.questiongroup_copy questiongroup.id %}">{% trans "Copy this question group" %}</a></li>
    <li><a href="{% url fsr.views.questiongroup_delete questiongroup.id %}">{% trans "Delete this question group" %}</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <label>{% trans "General Options" %}:</label>
                <table>{{ form.as_table }}</table>
            </fieldset>
            
            <input type="submit" value="{% trans "Create question group" %}"/>
        </form>
    </p>
{% endblock %}
