{% extends "fsr_base.html" %}

{% load i18n %}

{% block actions %}
    <li><a href="{% url fsr.views.semester_create %}">{% trans "Create new semester" %}</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    <p>
    {% if semesters %}
        {% trans "Select a semester: " %}
        <ul>
        {% for semester in semesters %}
            <li><a href="{% url fsr.views.semester_view semester.id %}">{{ semester.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans "There are no semesters yet." %}
    {% endif %}
    </p>
{% endblock %}
