{% extends "fsr_course_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {{ block.super }}
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
        {{ form.as_div }}
        </fieldset>
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" value="{% trans "Send email" %}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}
