{% extends "fsr_questionnaire_base.html" %}

{% load i18n %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
        if ($.fn.button.noConflict != undefined) {
            $.fn.button.noConflict();
        }

        $(".multiselect-form select[multiple='multiple']").each(function(i,e) {
            $(e).width($(e).width());
            $(e).multiselect({ locale: "{{ LANGUAGE_CODE }}"});
        });
        
        $('#question_table tbody tr').formset({prefix: 'question_set', deleteText: '{% trans "remove" %}', addText: '{% trans "add another" %}'});
    });
    </script>
    
    <!-- prevent from accendential closing -->
        <script type="text/javascript" src="{% get_static_prefix %}js/leave.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "General Options" %}</legend>
            {{ form.as_div }}
        </fieldset>
        
        <fieldset>
            <legend>{% trans "Questions" %}</legend>
            {{ formset.management_form }}
            {{ formset.non_form_errors }}
            <table id="question_table" class="table">
                <thead>
                    <tr>
                        {% for field in formset.form %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                        <th></th>
                        <th>{% trans "Delete?" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form_element in formset %}
                        {% if form_element.non_field_errors %}
                            <tr><td colspan=100>{{ form_element.non_field_errors }}</td></tr>
                        {% endif %}
                        
                        <tr>
                        {% for field in form_element %}
                            <td>{{field.errors}} {{ field }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" value="{% trans "Save questionnaire" %}" onclick="submitFormOkay = true;" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}
