{% extends "fsr_base.html" %}

{% load i18n %}

{% block header %}
    {{ block.super }}

    <script>
        function checkAll() {
            $('.multiselect-form INPUT[id $= "-action_0"]').each(function() {
                //if(this['id'].substr(-7) == "checked") {
                    this['checked'] = true;
                //}
            });
        }
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" class="multiselect-form">
            {% csrf_token %}
            {{ formset.management_form }}
            <table id="question_table">
                <tr>
                    <th>{% trans "Original Answer" %}</th>
                    <th>{% trans "Censored Answer" %}</th>
                    </th>
                </tr>
                <tbody>
                    {% for form in formset %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						
						{% if form.non_field_errors %}
							<tr><td colspan=100>{{ form.non_field_errors }}</td></tr>
                        {% endif %}
                        <tr>
							<td>{{ form.instance.original_answer }}</td>
                            <td>{{ form.censored_answer.errors }} {{ form.censored_answer }}</td>
							<td>{{ form.action }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="{% trans "Censor" %}"/>
            <input type="button" value="{% trans "Check All" %}" onClick="checkAll();">
        </form>
    </p>
{% endblock %}
