{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Upload semester data from excel file (" %}<a href="{% get_static_prefix %}sample.xls">{% trans "Sample File"%}</a>{% trans "). This will create all containing students, teachers and courses and connect them. It will also set the entered values as default for all courses." %}
    </p>
    <form enctype="multipart/form-data" method="POST" class="form-horizontal">
	{% csrf_token %}
	{{ form.as_div }}
	<div class="actions">
	    <input type="submit" value="Import" class="btn btn-primary"/>
	</div>
    </form>
{% endblock %}
