{% extends "fsr_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            
            <fieldset>
                <label>Courses</label>
            <ul>
            {% for form in formset %}
                <li>
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                {{ form.instance }}
                </li>
            {% endfor %}
            </ul>
            </fieldset>
            <fieldset>
                <label>Lecturer eMail</label>
                {{ form.as_p }}
            </fieldset>
            <input type="submit" value="{% trans "Publish courses" %}"/>
        </form>
    </p>
{% endblock %}
