{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {{ block.super }}
    <table class="full-width">
        {% for template in templates %}
            <tr class="largerow {% cycle "odd" "even" %}">
                <td class="expand"><span title="{{ template.name }}">{{ template.name }}</span></td>
                <td class="dontbreak">
                    <a href="{% url fsr.views.template_edit template.id %}">{% trans "Edit" %}</a>&nbsp;
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
