{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block header %}
    {{ block.super }}
    
    <script>
    $(function() {
            $.datepicker.setDefaults($.datepicker.regional["{{ LANGUAGE_CODE }}"]);
            
            $( "#id_vote_start_date" ).datepicker({
                showOn: "button",
                buttonImage: "{% get_static_prefix %}images/calendar.gif",
                buttonImageOnly: true
            });
            
            $( "#id_vote_end_date" ).datepicker({
                showOn: "button",
                buttonImage: "{% get_static_prefix %}images/calendar.gif",
                buttonImageOnly: true
            });
            
            $( "#id_publish_date" ).datepicker({
                showOn: "button",
                buttonImage: "{% get_static_prefix %}images/calendar.gif",
                buttonImageOnly: true
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Upload semester data from excel file. This will create all containing students, teachers and courses and connect them. It will also set the entered values as default for all courses." %}
        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Import"/>
        </form>
    </p>
{% endblock %}
