{% extends "fsr_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST">
            {% csrf_token %}
            {% if form.fields %}
                <div class="clearfix">
                    <label>{% trans "Courses" %}</label>
                    <div class="input">
                        <ul class="inputs-list">
                            {% for field in form %}
                                <li>
                                    <label>
                                        {{ field }}
                                        <span>{{ field.label }}</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" value="{% trans "Publish courses" %}" class="btn primary"/>
                </div>
            {% else %}
                {% trans "There are no courses ready to publish." %}
            {% endif %}
        </form>
    </p>
{% endblock %}
