{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li> <span class="divider">/</span> <a href="{% url evap.fsr.views.template_index %}">{% trans "Templates" %}</a></li>
    <li> <span class="divider">/</span> <a href="{% url evap.fsr.views.template_index %}">{{ template.name }}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST" class="multiselect-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="actions">
            <input type="submit" value="{% trans "Save template" %}" onclick="submitFormOkay = true;" class="btn primary"/>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- prevent from accendential closing -->
    <script type="text/javascript" src="{% get_static_prefix %}js/leave.js"></script>
{% endblock %}
