{% extends "fsr_base.html" %}

{% load i18n %}

{% block rawcontent %}
    <div class="row">
        <div class="col-md-3">
            <h3>{% trans "Semesters" %}</h3>
            <p>
            {% if semesters %}
                <ul>
                {% for semester in semesters %}
                    <li><a href="{% url "evap.fsr.views.semester_view" semester.id %}">{{ semester.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                {% trans "There are no semesters yet." %}
            {% endif %}
            </p>
            <p>
                <a href="{% url "evap.fsr.views.semester_create" %}" class="btn btn-sm btn-success">{% trans "Create new semester" %}</a>
            </p>
        </div>
        <div class="col-md-3">
            <h3>{% trans "Questionnaires" %}</h3>
            <p>
            {% if questionnaires %}
                <ul>
                    <li><a href="{% url "evap.fsr.views.questionnaire_index" %}">{% trans "All questionnaires" %}</a></li>
                {% for questionnaire in questionnaires %}
                    <li><a href="{% url "evap.fsr.views.questionnaire_view" questionnaire.id %}">{{ questionnaire.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                {% trans "There are no questionnaires yet." %}
            {% endif %}
            </p>
            <p>
                <a href="{% url "evap.fsr.views.questionnaire_create" %}" class="btn btn-sm btn-success">{% trans "Create new questionnaire" %}</a>
            </p>
        </div>
        <div class="col-md-3">
            <h3>{% trans "Users" %}</h3>
            <ul>
                <li><a href="{% url "evap.fsr.views.user_index" %}">{% trans "All users" %}</a></li>
                <li><a href="{% url "evap.fsr.views.user_index" %}?filter=fsr">{% trans "Student Representatives" %}</a></li>
                <li><a href="{% url "evap.fsr.views.user_index" %}?filter=responsibles">{% trans "Responsible Contributors" %}</a></li>
            </ul>
            <h3>{% trans "Templates" %}</h3>
            <ul>
                {% for template in templates %}
                    <li><a href="{% url "evap.fsr.views.template_edit" template.id %}">{{ template.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <h3>{% trans "FAQ" %}</h3>
            <ul>
                <li><a href="{% url "evap.fsr.views.faq_index" %}">{% trans "All Sections" %}</a></li>
                {% for section in sections %}
                    <li><a href="{% url "evap.fsr.views.faq_section" section.id %}">{{ section.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
