{% extends "fsr_semester_base.html" %}

{% load i18n %}
{% load static %}

{% block header %}
    {{ block.super }}
    
    <script>
	$(function() {
            $( "#id_vote_start_date" ).datepicker({
                showOn: "button",
		buttonImage: "{% get_static_prefix %}images/calendar.gif",
		buttonImageOnly: true
            });
            
            $( "#id_vote_end_date" ).datepicker({
                showOn: "button",
		buttonImage: "{% get_static_prefix %}images/calendar.gif",
		buttonImageOnly: true
            });
            
            $( "#id_publish_date" ).datepicker({
                showOn: "button",
		buttonImage: "{% get_static_prefix %}images/calendar.gif",
		buttonImageOnly: true
            });
            
            $.localise('ui-multiselect', {/*language: 'en',*/ path: '{% get_static_prefix %}js/locale/'});
            $( ".multiselect-form select" ).multiselect();
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" class="multiselect-form">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "Create course" %}"/>
        </form>
    </p>
{% endblock %}
