{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li><a href="{% url "evap.fsr.views.user_index" %}">{% trans "Users" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <ul class="nav nav-tabs">
        <li class="{% if not filter %}active{% endif %}"><a href="?">{% trans "All" %}</a></li>
        <li class="{% if filter == 'fsr' %}active{% endif %}"><a href="?filter=fsr">{% trans "Student Representatives" %}</a></li>
        <li class="{% if filter == 'lecturers' %}active{% endif %}"><a href="?filter=lecturers">{% trans "Lecturers" %}</a></li>
        <div class="pull-right">
            <a href="{% url "evap.fsr.views.user_create" %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn btn-sm btn-success">{% trans "Create new user" %}</a>
        </div>
    </ul>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="minimize-with-padding">{% trans "Name" %}</th>
                <th class="maximize">{% trans "Username" %}</th>
                <th class="minimize-with-padding">{% trans "Information" %}</th>
                <th class="minimize-with-padding">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="minimize-with-padding">
                    {{ user.userprofile.full_name }}
                </td>
                <td class="maximize">
                    {{ user.username }}
                </td>
                <td class="minimize-with-padding">
                    {% if user.is_staff %}
                        <span class="label label-primary">{% trans "Student Representative" %}</span>
                    {% endif %}
                    {% if user.userprofile.is_lecturer %}
                        <span class="label label-primary">{% trans "Lecturer" %}</span>
                    {% endif %}
                    {% if user.userprofile.logon_key %}
                        <span class="label label-primary">{% trans "Login Key" %}</span>
                    {% endif %}
                    {% if not user.email %}
                        <span class="label label-danger">{% trans "Email address missing!" %}</span>
                    {% endif %}
                </td>
                <td class="minimize-with-padding">
                    <a href="{% url "evap.fsr.views.user_edit" user.id %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
                    {% if user.userprofile.can_fsr_delete %}
                        <a href="{% url "evap.fsr.views.user_delete" user.id %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                    {% else %}
                        <a class="btn btn-sm btn-danger" disabled="disabled">{% trans "Delete" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
