{% extends "fsr_semester_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Upload semester data from excel file (" %}<a href="{% get_static_prefix %}sample.xls">{% trans "Sample File"%}</a>{% trans "). This will create all containing students, teachers and courses and connect them. It will also set the entered values as default for all courses." %}
    </p>
    <form enctype="multipart/form-data" method="POST" class="form-horizontal">
       {% csrf_token %}
       {{ form.as_div }}
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" value="Import" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        if ($.fn.button.noConflict != undefined) {
            $.fn.button.noConflict();
        }

        $("input[data-datepicker='datepicker']:not([readonly='True'])").datepicker( $.datepicker.regional["{{ LANGUAGE_CODE }}"] );
    });
    </script>
{% endblock %}
