{% extends "fsr_course_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    <form action="{% url "evap.fsr.views.course_review" semester.id course.id offset %}" method="POST" class="form-horizontal multiselect-form">
	<fieldset>
	    <legend>{% trans "Answer Review" %}</legend>
	    <p>{% blocktrans with TextAnswer.elements_per_page as elements_per_page and course.open_textanswer_set|length as open and course.textanswer_set|length as total %}
		Note: for better usability only {{ elements_per_page }} comments are shown at once. For this course {{ open }} out of {{ total }} comments have not been reviewed.
	    {% endblocktrans %}</p>
	    
	    {% csrf_token %}
	    {{ formset.management_form }}
	    {% for form in formset %}
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <h3 class="panel-title">
		                {% blocktrans with form.instance.id as id %}Answer {{ id }}{% endblocktrans %}: 
		                {% if form.instance.contribution.contributor %}
		                    {% if form.instance.contribution.contributor.userprofile.full_name %}
		                        {{ form.instance.contribution.contributor.userprofile.full_name }}: 
		                    {% else %}
		                        {{ form.instance.contribution.contributor.username }}: 
		                    {% endif %}
		                {% endif %}
		                {{ form.instance.question.text }}
		            </h3>
		        </div>
		        <div class="panel-body">
		            {% for hidden in form.hidden_fields %}
		                {{ hidden }}
		            {% endfor %}
		            {% if form.non_field_errors %}
		                <div class="clearfix">{{ form.non_field_errors }}</div>
		            {% endif %}

		            {{ form.as_div }}
		        </div>
		    </div>
	    {% endfor %}
	    <div class="form-group well">
	        <div class="col-sm-offset-2 col-sm-6">
				<button name="operation" value="save" type="submit" class="btn btn-primary">{% trans "Save"%}</button>
				<button name="operation" value="save_and_next" type="submit" class="btn btn-success">{% trans "Save and show next"%}</button>
			</div>
	    </div>
	</fieldset>
    </form>
{% endblock %}
