{% extends "fsr_base.html" %}

{% load i18n %}

{% block actions %}
    <li><a href="{% url evap.fsr.views.questionnaire_create %}">{% trans "Create new questionnaire" %}</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
    {% if questionnaires %}
        <table class="full-width">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Usages" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            
            {% for questionnaire in questionnaires %}
                <tr class="{% if questionnaire.obsolete %}obsolete {% endif %}">
                    <td>{{ questionnaire.name }}</td>
                    <td>
                        {% blocktrans count questionnaire.question_set.all.count as count %}
                        {{ count }} question{% plural %}
                        {{ count }} questions{% endblocktrans %},
                        {% trans "used in " %}
                        {% blocktrans count questionnaire.assigned_to.count as count %}
                        {{ count }} course{% plural %}
                        {{ count }} courses{% endblocktrans %}
                    </td>
                    <td>
                        {% if not questionnaire.obsolete %}
                            <a href="{% url evap.fsr.views.questionnaire_edit questionnaire.id %}">{% trans "Edit" %}</a>&nbsp;
                        {% endif %}
                        <a href="{% url evap.fsr.views.questionnaire_view questionnaire.id %}">{% trans "Preview" %}</a>&nbsp;
                        <a href="{% url evap.fsr.views.questionnaire_copy questionnaire.id %}">{% trans "Copy" %}</a>&nbsp;
                        {% if questionnaire.can_fsr_delete %}
                            <a href="{% url evap.fsr.views.questionnaire_delete questionnaire.id %}">{% trans "Delete" %}</a>
                        {% endif %}
                    </td>
                </tr>
                <!--
                <tr>
                    <td colspan="4">{{ questionnaire.description|default:"&nbsp;" }}</td>
                </tr>
                -->
            {% endfor %}
        </table>
    {% else %}
        {% trans "There are no questionnaires yet." %}
    {% endif %}
    </p>
{% endblock %}
