{% extends "fsr_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li> <span class="divider">/</span> <a href="{% url "evap.fsr.views.template_index" %}">{% trans "Templates" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <table class="zebra-striped vertically-aligned">
        <thead>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Actions" %}</th>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td class="maximize"><span title="{{ template.name }}">{{ template.name }}</span></td>
                <td class="minimize">
                    <a href="{% url "evap.fsr.views.template_edit" template.id %}" class="btn small">{% trans "Edit" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
