{% extends "staff_base.html" %}

{% load bootstrap3 %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Upload a text file containing one username per line. This will delete all identified users that can be deleted." %}
    </p>
    <form id="user-bulk-delete-form" enctype="multipart/form-data" method="POST" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                <button name="operation" value="test" type="submit" class="btn btn-primary">{% trans "Test" %}</button>
                <button name="operation" value="bulk_delete" type="submit" class="btn btn-danger">{% trans "Bulk Delete" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
