{% load evaluation_filters %}

{% for form in questionnaire_group %}
    <div class="d-flex">
        <h4 class="{% if not forloop.first %} mt-3 {% elif contributor %} me-auto {% endif %}">{{ form.questionnaire.public_name }}</h4>
        {% if forloop.first and contributor %}
            <div class="tab-row">
                <button
                    type="button"
                    class="btn btn-light btn-sm btn-sm-narrow {% if not preview %} tab-selectable{% endif %}"
                    data-mark-no-answers-for="{{ contributor.id }}"
                    {% if preview %}disabled{% endif %}
                >
                    {% blocktranslate %}I can't give feedback about this contributor{% endblocktranslate %}
                </button>
            </div>
        {% endif%}
    </div>
    {% if form.questionnaire.teaser %}
        <p>{{ form.questionnaire.teaser }}</p>
    {% endif %}
    {{ form.non_field_errors }}
    <div class="container-fluid container-striped">
        {% for field in form %}
            {% if field|is_heading_field %}
                {# We want to start a new section here, so we close the questionnaire, render the heading and open a new questionnaire #}
                </div>
                <h5{% if not forloop.first %} class="mt-3"{% endif %}>{{ field.label }}</h5>
                <div class="container-fluid container-striped">
            {% else %}
                {% with related_answer_field_id=field.field.widget.attrs.related_answer_field_id allows_textanswer=field.field.widget.attrs.allows_textanswer%}
                    {% if not related_answer_field_id %}
                        <div class="row row-question">
                    {% endif %}
                        {% if field|is_choice_field %}
                            <div class="col-question col-lg-4 col-xl-5 d-flex justify-content-between{% if field.errors %} choice-error{% endif %}">
                                <span class="me-1">
                                    {{ field.label }}
                                </span>
                                {% if allows_textanswer %}
                                    <span class="my-auto" data-bs-toggle="tooltip" data-container=".col-question" title="{% translate 'Add a text answer to this question' %}">
                                        <button type="button" class="btn btn-light btn-textanswer collapsed" data-bs-toggle="collapse" data-bs-target=".collapse-{{ field.name }}" tabindex="-1">
                                            <span class="far fa-comment"></span>
                                        </button>
                                    </span>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="{% if related_answer_field_id %}collapse collapse-{{ related_answer_field_id }} {% endif %}col-lg-4 col-xl-5 p-0">
                                <div class="col-question d-flex flex-column">
                                    {% if not related_answer_field_id %}
                                        {{ field.label }}
                                    {% endif %}
                                    {% include 'student_text_answer_warnings.html' with text_answer_warnings=text_answer_warnings %}
                                </div>
                            </div>
                        {% endif %}
                        {% if field|is_choice_field %}
                            <div class="col-answer col-lg-8 col-xl-7 my-auto d-flex">
                                <div class="vote-inputs tab-row {{ field.field.widget.attrs.choices.css_class }} btn-group" data-bs-toggle="buttons">
                                {% for choice, color in field|zip:field.field.widget.attrs.choices.colors %}
                                    <input id="{{ choice.id_for_label }}" class="tab-selectable num-selectable btn-check" name="{{ choice.data.name }}" type="radio" value="{{ choice.data.value }}" autocomplete="off"{% if field.value == choice.data.value %} checked{% endif %}{% if preview %} disabled{% endif %}/>
                                    <label for="{{ choice.id_for_label }}" class="btn btn-sm btn-light vote-btn vote-btn-{{ color }} d-flex{% if field.value == choice.data.value %} active{% endif %}{% if field.errors %} choice-error{% endif %}">
                                        <span class="m-auto vote-btn-text">{{ choice.choice_label|linebreaksbr }} {{ choice.id }}</span>
                                    </label>
                                {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="{% if related_answer_field_id %}collapse collapse-{{ related_answer_field_id }} {% endif %}col-lg-8 col-xl-7 p-0">
                                <div class="col-answer d-flex">
                                    <div class="vote-inputs tab-row {% if preview %} preview{% endif %}">
                                        {{ field.errors }}
                                        <textarea id="{{ field.id_for_label }}" class="form-control tab-selectable" name="{{ field.name }}"{% if preview %} disabled{% endif %}>{{ field.value|default_if_none:"" }}</textarea>
                                    </div>
                                    <div>
                                        {% blocktranslate asvar intro_text %}After publishing, this text answer can be seen by:{% endblocktranslate %}
                                        {% include 'textanswer_visibility_info.html' with intro_text=intro_text visible_by_contribution=textanswers_visible_to.visible_by_contribution visible_by_delegation_count=textanswers_visible_to.visible_by_delegation_count %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if not allows_textanswer %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
