{% load evaluation_filters %}

<table class="table table-seamless-links table-vertically-aligned table-headerless">
    <tbody>
        {% for evaluation in unfinished_evaluations %}
            <tr{% if evaluation.state == 'in_evaluation' and not evaluation.voted_for %}
                    class="hover-row hover-row-info" data-url="{% url 'student:vote' evaluation.id %}"
                {% else %} class="deactivate"{% endif %}>
                <td style="width: 65%">
                    <div>
                        <span class="evaluation-name font-weight-bold {% if evaluation.state == 'in_evaluation' and not evaluation.voted_for %} text-primary{% endif %}">
                            {{ evaluation.full_name }}
                        </span>
                        {% if not evaluation.course.semester.is_active %}({{ evaluation.course.semester.name }}){% endif %}
                    </div>
                    <span class="badge badge-secondary">{{ evaluation.course.type }}</span>
                    {% if evaluation.is_midterm_evaluation %}<span class="badge badge-dark">{% trans 'Midterm evaluation' %}</span>{% endif %}
                    <span class="badge badge-secondary-outline" data-toggle="tooltip" data-placement="right" title="{% trans 'Number of participants' %}">
                        <span class="fas fa-user"></span> {{ evaluation.num_participants }}
                    </span>
                    <i class="small">{{ evaluation.course.responsibles_names }}</i>
                </td>
                <td style="width: 25%">
                    {% include 'student_index_evaluation_period.html' %}
                </td>
                <td style="width: 10%" class="text-right">
                    {% if evaluation.state == 'in_evaluation' and not evaluation.voted_for %}
                        <a class="btn btn-sm btn-primary btn-row-hover" href="{% url 'student:vote' evaluation.id %}">{% trans 'Evaluate' %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
