<a class="btn btn-sm btn-primary btn-row-hover" href="{% url 'student:vote' evaluation.id %}">
    {% translate 'Evaluate' %}
</a>
{% if evaluation.is_dropout_allowed %}
    <confirmation-modal>
        <span slot="title">{% translate 'Did you drop this course?' %}</span>
        <span slot="question">
            {% blocktranslate %}
                If you mark this course as dropped, you will still be able to provide feedback as usual. However, you
                can only submit the questionnaire once.
            {% endblocktranslate %}
        </span>
        <a class="btn btn-danger ms-2" slot="submit-group"
           href="{% url 'student:drop' evaluation.id %}">{% translate 'I dropped this course' %}</a>
        <button slot="show-button" class="btn btn-sm btn-secondary" title="{% translate 'I dropped this course' %}"
                data-bs-toggle="tooltip" data-bs-placement="top">
            <span class="fas fa-user-xmark"></span>
        </button>
    </confirmation-modal>
{% endif %}
