{% load evaluation_filters %}

{% for form in questionnaire_group %}
    <h4 class="card-title">{{ form.caption }}</h4>
    {% if form.teaser %}
        <p>{{ form.teaser }}</p>
    {% endif %}
    {{ form.non_field_errors }}
    <table class="table table-striped vertically-aligned">
        <tbody>
            {% for field in form %}
                <tr class="vote-row d-flex">
                    {% if field|is_choice_field %}
                        <td class="vote-question vote-question-choice{% if field.errors %} choice-error{% endif %}" name="{{ field.name }}">
                    {% else %}
                        <td class="vote-question vote-question-text">
                    {% endif %}
                    {{ field.label }}</td>
                    {% if field|is_choice_field %}
                        <td>
                            <div class="vote-inputs{% if preview %} preview{% endif %} btn-group" data-toggle="buttons">
                            {% for choice in field %}
                                <label class="btn btn-sm btn-secondary vote-btn vote-btn-{{ choice.data.value }} d-flex{% if field.value == choice.data.value %} active{% endif %}{% if field.errors %} choice-error{% endif %}" name="{{ choice.data.name }}" onclick="selectedAnswer('{{ choice.data.name }}');">
                                    <input id="{{ choice.id_for_label }}" name="{{ choice.data.name }}" type="radio" value="{{ choice.data.value }}" autocomplete="off" {% if field.value == choice.data.value %}checked{% endif %} />
                                    <span class="m-auto">{{ choice.choice_label }} {{ choice.id }}</span>
                                </label>
                            {% endfor %}
                            </div>
                        </td>
                    {% else %}
                        <td class="vote-text-answer">
                            <div class="vote-inputs {% if preview %}preview{% endif %}">
                                {{ field.errors }}
                                <textarea id="{{ field.id_for_label }}" name="{{ field.name }}">{{ field.value|default_if_none:"" }}</textarea>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
