{% extends "base.html" %}

{% load i18n %}

{% block subtitle %}{% trans "Course Evaluation:" %} {{ course.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" class="vote">
        {% csrf_token %}
        <table>
        {% for form in forms %}
            <tr>
                <th colspan="2">{{ form.caption }}</th>
            </tr>
            {{ form.as_table }}
        {% endfor %}
        </table>
        <input type="submit" value="{% trans "vote" %}"/>
        </form>
    </p>
{% endblock %}
