{% extends 'base.html' %}

{% load infotext_templatetags %}
{% load evaluation_filters %}

{% block title %}{% translate 'Evaluation' %} - {{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}

    {% show_infotext "student_index" %}
    {% if user.show_startpage_button %}
        <div class="d-flex mb-3">
            <div class="ms-auto d-print-none">
                {% include 'startpage_button.html' with page='ST' btnClass='btn-sm' %}
            </div>
        </div>
    {% endif %}
    {% if global_rewards %}
        <div class="card mb-3">
            <div class="card-header">
                {% blocktranslate with next_reward=global_rewards.next_reward_text %}Next reward: {{ next_reward }}{% endblocktranslate %}
            </div>
            <div class="card-body">
                <div>
                    {% blocktranslate with remaining_votes=global_rewards.next_reward_remaining_votes %}{{ remaining_votes }} more evaluations required.{% endblocktranslate %}
                    {% blocktranslate trimmed with time_interval=global_rewards.last_evaluation_datetime|timesince %}
                        The last evaluation was submitted {{time_interval}} ago.
                    {% endblocktranslate %}
                </div>
                <div class="position-relative d-grid py-2 px-4">
                    <span class="progress-container d-flex" style="height: 25px; grid-column-start: 1; grid-row-start: 1">
                        <span class="progress m-0 bg-info">
                            <span class="progress-bar progress-bar-striped progress-bar-animated bg-success
                                width-percent-{% widthratio global_rewards.current_votes global_rewards.max_reward_votes 100 %}"></span>
                            <span class="progress-bartext">
                                {{ global_rewards.current_votes }}/{{ global_rewards.max_reward_votes }}
                            </span>
                        </span>
                    </span>
                    {% for reward in global_rewards.rewards_with_progress %}
                        <div class="position-relative "
                             style="left: {% widthratio reward.progress 1 100 %}%; transform: translateX(-50%); width: fit-content;grid-column-start: 1; grid-row-start: 2">
                            <div style="width: fit-content">
                                <div class="text-center">|</div>
                                <div class="text-lg-center fw-semibold">{{ reward.text }}</div>
                                <div class="text-center">
                                    {% widthratio reward.vote_ratio 1 100 as percent %}
                                    {% blocktranslate %}at {{percent}}%{% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                TODO collapsible, collapsed by default.<br/>
                {{ global_rewards.info_text }}
                <br>
            </div>
        </div>
    {% endif %}
    {% if unfinished_evaluations %}
        <div class="card card-outline-primary mb-3">
            <div class="card-header">
                {% translate 'Open and upcoming evaluations' %}
            </div>
            <div class="card-body table-responsive">
                {% include 'student_index_unfinished_evaluations_list.html' %}
            </div>
        </div>
    {% endif %}
    {% include 'student_index_semester_evaluations_list.html' %}
{% endblock %}
