{% load evaluation_filters %}

{% for form in questionnaire_group %}
    <h4{% if not forloop.first %} class="mt-3"{% endif %}>{{ form.questionnaire.public_name }}</h4>
    {% if form.questionnaire.teaser %}
        <p>{{ form.questionnaire.teaser }}</p>
    {% endif %}
    {{ form.non_field_errors }}
    <table class="table table-striped">
        <tbody>
            {% for field in form %}
                {% if field|is_heading_field %}
                    {# We want to start a new section here, so we close the table, render the heading and reopen the table #}
                    </tbody>
                    </table>
                    <h5{% if not forloop.first %} class="mt-3"{% endif %}>{{ field.label }}</h5>
                    <table class="table table-striped">
                    <tbody>
                {% else %}
                    <tr class="vote-row d-flex">
                        {% if field|is_choice_field %}
                            <td class="vote-question vote-question-choice my-auto{% if field.errors %} choice-error{% endif %}" name="{{ field.name }}">
                            {{ field.label }}
                        {% else %}
                            <td class="vote-question vote-question-text d-flex flex-column">
                            {{ field.label }}
                            <div class="warning-label mt-auto d-none">
                                <span class="fas fa-exclamation-triangle"></span>
                                {% trans "Your answer seems meaningless. Please leave the textbox empty if you don't have any feedback for this question." %}
                            </div>
                        {% endif %}
                        </td>
                        {% if field|is_choice_field %}
                            <td class="vote-answer-buttons my-auto">
                                <div class="vote-inputs btn-group btn-group-toggle" data-toggle="buttons"{% if preview %} disabled{% endif %}>
                                {% for choice in field %}
                                    <label class="btn btn-sm vote-btn vote-btn-{{ choice.data.value }} d-flex{% if field.value == choice.data.value %} active{% endif %}{% if field.errors %} choice-error{% endif %}" name="{{ choice.data.name }}"{% if not preview %} onclick="selectedAnswer('{{ choice.data.name }}');"{% endif %}>
                                        <input id="{{ choice.id_for_label }}" name="{{ choice.data.name }}" type="radio" value="{{ choice.data.value }}" autocomplete="off"{% if field.value == choice.data.value %} checked{% endif %} />
                                        <span class="m-auto vote-btn-text">{{ choice.choice_label }} {{ choice.id }}</span>
                                    </label>
                                {% endfor %}
                                </div>
                            </td>
                        {% else %}
                            <td class="vote-text-answer">
                                <div class="vote-inputs{% if preview %} preview{% endif %}">
                                    {{ field.errors }}
                                    <textarea id="{{ field.id_for_label }}" name="{{ field.name }}">{{ field.value|default_if_none:"" }}</textarea>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
