{% load evaluation_filters %}

{% for semester in semester_list %}
    {% if semester.evaluations %}
        <div class="card{% if not forloop.last %} mb-3{% endif %}{% if semester.results_are_archived %} deactivate{% endif %}">
            <div class="card-header d-flex">
                <span class="mr-auto">
                    {{ semester.semester_name }}
                </span>
                {% if semester.results_are_archived %}
                    <span class="archive-info">
                        <span class="fas fa-archive"></span> {% trans 'The results of this semester have been archived.' %}
                    </span>
                {% endif %}
            </div>
            <div class="card-body table-responsive">
                <table class="table table-seamless-links table-vertically-aligned table-headerless">
                    <colgroup>
                        <col />
                        <col style="width: 60%" />
                        <col style="width: 20%" />
                        <col style="width: 20%" />
                    </colgroup>
                    <tbody>
                        {% regroup semester.evaluations by course as course_evaluations %}
                        {% for course, evaluations in course_evaluations|dictsort:"grouper.name" %}
                            {% if course.evaluation_count > 1 %}
                                <tr class="course-row heading-row">
                                    <td></td>
                                    <td>
                                        <div class="d-flex">
                                            <span class="font-weight-bold mr-auto">
                                                {{ course.name }}
                                            </span>
                                            {% if can_download_grades and not semester.grade_documents_are_deleted %}
                                                {% if course.grade_documents.count > 1 %}
                                                    <div class="btn-group" role="group">
                                                {% endif %}
                                                {% for grade_document in course.grade_documents.all %}
                                                    <a class="btn btn-sm btn-sm-narrow btn-light btn-grade-download" href="{% url 'grades:download_grades' grade_document.id %}" role="button"
                                                        data-toggle="tooltip" data-placement="top" title="{{ grade_document.description }}">
                                                        <span class="far fa-file"></span>
                                                    </a>
                                                {% endfor %}
                                                {% if course.grade_documents.count > 1 %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <span class="badge badge-secondary">{{ course.type }}</span>
                                        <i class="small">{{ course.responsibles_names }}</i>
                                    </td>
                                    <td></td>
                                    <td>
                                        {% if semester.results_are_archived %}
                                        {% elif course.not_all_evaluations_are_published %}
                                            <div class="d-flex" data-toggle="tooltip" data-placement="left" title="{% trans 'The total grade will be calculated once all evaluation results have been published.' %}">
                                                {% include 'distribution_with_grade_disabled.html' with icon="fas fa-hourglass-half" %}
                                            </div>
                                        {% else %}
                                            {% include 'evaluation_result_widget.html' with course_or_evaluation=course %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% for evaluation in evaluations|dictsort:"name" %}
                                <tr {# staff users should be able to access evaluations through the student index only if it actually has published results #}
                                    {% if evaluation.state == 'published' and evaluation.can_publish_rating_results and not semester.results_are_archived and evaluation|can_results_page_be_seen_by:request.user %}
                                        class="{% if course.evaluation_count > 1 %}evaluation-row{% else %}heading-row{% endif %} hover-row results-row" data-url="{% url 'results:evaluation_detail' semester.id evaluation.id %}"
                                    {% else %}
                                        class="{% if course.evaluation_count > 1 %}evaluation-row{% else %}heading-row{% endif %}"
                                    {% endif %}>
                                    <td class="pl-2 full-size">
                                        {% if not evaluation.is_single_result %}
                                            {% if evaluation.voted_for %}
                                                <span class="text text-success" data-toggle="tooltip" data-placement="top" title="{% trans 'You gave us your feedback in this evaluation. Thank you!' %}"><span class="far fa-fw fa-smile" aria-hidden="true"></span></span>
                                            {% elif evaluation.participates_in %}
                                                {% if evaluation.state == 'evaluated' or evaluation.state == 'reviewed' or evaluation.state == 'published' %}
                                                    <span class="text text-secondary" data-toggle="tooltip" data-placement="top" title="{% trans 'You did not take part in this evaluation.' %}"><span class="far fa-fw fa-frown" aria-hidden="true"></span></span>
                                                {% elif evaluation.state == 'in_evaluation' %}
                                                    <span class="text text-primary" data-toggle="tooltip" data-placement="top" title="{% trans 'You can take part in this evaluation above.' %}"><span class="fas fa-fw fa-arrow-up" aria-hidden="true"></span></span>
                                                {% else %}
                                                    <span class="text text-secondary" data-toggle="tooltip" data-placement="top" title="{% trans 'This evaluation will start in the future.' %}"><span class="far fa-fw fa-clock" aria-hidden="true"></span></span>
                                                {% endif %}
                                            {% else %}
                                                <span class="text text-secondary" data-toggle="tooltip" data-placement="top" title="{% trans 'You are not listed as a participant for this evaluation.' %}">
                                                    <span class="far fa-fw fa-circle"></span>
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td {% if course.evaluation_count > 1 %}class="pl-4" {% endif %}>
                                        <div class="d-flex">
                                            <span class="font-weight-bold mr-auto{% if course.evaluation_count > 1 %} text-secondary{% endif %}">
                                                {% if course.evaluation_count > 1 %}
                                                    {% if evaluation.name %}
                                                        {{ evaluation.name }}
                                                    {% else %}
                                                        {{ course.name }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ evaluation.full_name }}
                                                {% endif %}
                                                {% if evaluation.is_single_result %}
                                                    ({{ evaluation.vote_start_datetime|date }})
                                                {% endif %}
                                            </span>
                                            {% if can_download_grades and not semester.grade_documents_are_deleted %}
                                                {% if course.evaluation_count == 1 %}
                                                    {% if course.grade_documents.count > 1 %}
                                                        <div class="btn-group" role="group">
                                                    {% endif %}
                                                    {% for grade_document in course.grade_documents.all %}
                                                        <a class="btn btn-sm btn-sm-narrow btn-light btn-grade-download" href="{% url 'grades:download_grades' grade_document.id %}" role="button"
                                                            data-toggle="tooltip" data-placement="top" title="{{ grade_document.description }}">
                                                            <span class="far fa-file"></span>
                                                        </a>
                                                    {% endfor %}
                                                    {% if course.grade_documents.count > 1 %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        {% if course.evaluation_count == 1 %}
                                            <span class="badge badge-secondary">{{ course.type }}</span>
                                        {% endif %}
                                        {% if evaluation.is_midterm_evaluation %}
                                            <span class="badge badge-dark">{% trans 'Midterm evaluation' %}</span>
                                        {% endif %}
                                        {% if evaluation.is_single_result %}
                                            <span class="badge badge-success">{% trans 'Single result' %}</span>
                                        {% endif %}
                                        {% if course.evaluation_count == 1 %}
                                            <i class="small">{{ course.responsibles_names }}</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not semester.results_are_archived %}
                                            {% if evaluation.is_single_result %}
                                                {% if evaluation.state == 'published' %}
                                                    <span data-toggle="tooltip" data-placement="top" title="{% trans 'Individual participants are not stored for single results. The number shown here is the number of votes received.' %}">
                                                        {% include 'progress_bar_fill.html' with icon='user' total=evaluation.single_result_rating_result.count_sum fill=100 %}
                                                    </span>
                                                {% endif %}
                                            {% else %}
                                                {% if evaluation.state == 'evaluated' or evaluation.state == 'reviewed' or evaluation.state == 'published' %}
                                                    {% include 'progress_bar.html' with icon='user' done=evaluation.num_voters total=evaluation.num_participants %}
                                                {% else %}
                                                    {% include 'progress_bar_fill.html' with icon='user' total=evaluation.num_participants fill=0 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if not semester.results_are_archived %}
                                            {% if evaluation.state == 'published' %}
                                                {% include 'evaluation_result_widget.html' with course_or_evaluation=evaluation %}
                                            {% elif not evaluation.participates_in or evaluation.voted_for and evaluation.state == 'in_evaluation' or evaluation.state == 'evaluated' or evaluation.state == 'reviewed' %}
                                                <div class="d-flex" data-toggle="tooltip" data-placement="left" title="{% if evaluation|weight_info %}{% blocktrans with percentage=evaluation|weight_info %}This evaluation contributes {{ percentage }} to the final grade of the course.{% endblocktrans %} {% endif %}{% trans 'The results have not been published yet.' %}{% if evaluation.participates_in %} {% trans 'You will receive an email when the results are published.' %}{% endif %}">
                                                    {% include 'distribution_with_grade_disabled.html' with icon="fas fa-hourglass-half" weight_info=evaluation|weight_info %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endfor %}
