{% extends "lecturer_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li><a href="{% url "evap.lecturer.views.index" %}">{% trans "Profile" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="POST" class="form-horizontal multiselect-form" enctype="multipart/form-data">
	{% csrf_token %}
	<fieldset>
	    <legend>{% trans "Profile" %}</legend>
	    {{ form.as_div }}
	</fieldset>
	<fieldset>
		<legend>{% trans "People for which you are a delegate" %}</legend>
		<ul>
			{% for puser in form.instance.user.represented_users.all %}
				<li>{{ puser.full_name }}</li>
			{% endfor %}
		</ul>
	</fieldset>
	<div class="actions">
	    <input type="submit" value="{% trans "Save your profile" %}" class="btn btn-primary"/>
	</div>
    </form>
    
    <div>
        <img src="{{ object.thumbnail.url }}" />
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}    
    <script type="text/javascript">
        $(document).ready(function() {
            $.localise('ui-multiselect', {/*language: 'en',*/ path: '{% get_static_prefix %}js/locale/'});
            $("select[multiple='multiple']").each(function(i,e) {
                //$(e).width($(e).width());
                $(e).multiselect();
            });
        });
    </script>
{% endblock %}
