{% extends "lecturer_base.html" %}

{% load i18n %}

{% block subtitle %}
    {{ block.super }}
    <li> <span class="divider">/</span> <a href="{% url evap.lecturer.views.index %}">{% trans "Courses" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% trans "Own Courses" %}</h3>
    {% if own_courses %}
        <table class="zebra-striped vertically-aligned">
	    <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Participants" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
	    </thead>
            <tbody>
            {% for course in own_courses %}
                <tr>
                    <td class="maximize">{{ course.name }}</td>
                    <td class="minimize">{{ course.num_participants }}</td>
                    <td class="minimize">
                        <a href="{% url evap.lecturer.views.course_edit course.id %}" class="btn small">{% trans "Edit" %}</a>
			<a href="{% url evap.lecturer.views.course_preview course.id %}" class="btn small">{% trans "Preview" %}</a>
		    </td>
                </tr>
            {% endfor %}
	    </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no courses for you this semester yet." %}</p>
    {% endif %}
    <br/>
    <h3>{% trans "Courses for which you are a proxy" %}</h3>
    {% if proxied_courses %}
        <table class="zebra-striped vertically-aligned">
	    <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Participants" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
	    </thead>
	    <tbody>
            {% for course in proxied_courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.num_participants }}</td>
                    <td>
                        <a href="{% url evap.lecturer.views.course_edit course.id %}">{% trans "Edit" %}</a>&nbsp;
						<a href="{% url evap.lecturer.views.course_preview course.id %}">{% trans "Preview" %}</a>&nbsp;
					</td>
                </tr>
            {% endfor %}
	    </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no courses for you this semester yet." %}</p>
    {% endif %}
{% endblock %}
