{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Your EvaP" %} - {{ block.super }}{% endblock %}

{% block subtitle %}{% trans "Your EvaP" %}{% endblock %}

{% block header %}
    <!-- jquery ui -->
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/jquery-ui-1.6.2-ui-lightness.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/locale/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
    
    <!-- multi-select plugin -->
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/ui.multiselect.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/localisation/jquery.localisation-min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/scrollTo/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/ui.multiselect.js"></script>
{% endblock %}

{% block menu %}
    {{ block.super }}
    <p><a href="{% url lecturer.views.profile_edit %}">{% trans "Your Profile" %}</a></p>
    <p><a href="{% url lecturer.views.course_index %}">{% trans "Your Courses" %}</a></p>
{% endblock %}