{% extends "lecturer_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li> <span class="divider">/</span> <a href="{% url evap.lecturer.views.index %}">{% trans "Courses" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>
        <form method="POST" class="multiselect-form">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "General Options" %}</legend>
                {{ form.as_div }}
            </fieldset>
            
            <fieldset>
                {{ formset.management_form }}
                <legend>{% trans "Lecturers" %}</legend>
                {{ formset.non_form_errors }}
                <table id="assignment_table">
                    <tr>
                        {% for field in formset.form %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                        <th></th>
                        <th>{% trans "Delete?" %}</th>
                    </tr>
                    <tbody>
                        {% for form_element in formset %}
                            {% if form_element.non_field_errors %}
                                <tr><td colspan=100>{{ form_element.non_field_errors }}</td></tr>
                            {% endif %}
                            
                            <tr>
                            {% for field in form_element %}
                                <td>{{field.errors}} {{ field }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <div class="actions">
                <input type="submit" value="{% trans "Approve course" %}" class="btn primary"/>
            </div>
        </form>
    </p>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(function() {
            $.localise('ui-multiselect', {/*language: 'en',*/ path: '{% get_static_prefix %}js/locale/'});
            $(".multiselect-form select[multiple='multiple']").each(function(i,e) {
		$(e).width($(e).width());
		$(e).multiselect();
            });
            $('#assignment_table tbody tr').formset({prefix: 'assignment_set'});
        });
    </script>
{% endblock %}
