$dark-mode: true;

$evap-green:        #88bf4a;
$evap-lime:         #bbd154;
$evap-yellow:       #efe258;
$evap-orange:       #f29e58;
$evap-red:          #eb595a;

$evap-dark-green:   shade-color($evap-green, 20%);
$evap-dark-lime:    shade-color($evap-lime, 20%);
$evap-dark-yellow:  shade-color($evap-yellow, 20%);
$evap-dark-orange:  shade-color($evap-orange, 20%);
$evap-dark-red:     shade-color($evap-red, 20%);

$evap-light-green:  tint-color($evap-green, 60%);
$evap-light-lime:   tint-color($evap-lime, 60%);
$evap-light-yellow: tint-color($evap-yellow, 60%);
$evap-light-orange: tint-color($evap-orange, 60%);
$evap-light-red:    tint-color($evap-red, 60%);

$evap-dark-blue:    #31708f;
$evap-light-blue:   #d9edf7;

$white:             #ffffff;
$lighter-gray:      #f8f9fa;
$light-gray:        #dee2e6;
$medium-gray:       #adb5bd;
$dark-gray:         #868e96;
$darker-gray:       #495057;
$darkest-gray:      #212529;
$black:             #000000;

@function get-light() {
  @if ($dark-mode) {
    @return $darker-gray;
  }
  @return $lighter-gray;
}

$primary: $evap-dark-blue;
$secondary: $dark-gray;
$success: $evap-green;
$info: $evap-light-blue;
$warning: $evap-yellow;
$danger: $evap-red;
$light: get-light();
$dark: $darker-gray;

$vote-colors: (
    "green": $evap-green,
    "lime": $evap-lime,
    "yellow": $evap-yellow,
    "orange": $evap-orange,
    "red": $evap-red,
    "gray": $medium-gray
);

@function get-code-color() {
  @if ($dark-mode) {
    @return $light-gray;
  }
  @return $darker-gray;
}

$code-color: get-code-color();

@function get-dark() {
  @if $dark-mode {
    @return $darker-gray;
  }
  @return $dark-gray;
}

$dark: get-dark();

@function get-body-bg() {
  @if $dark-mode {
    @return $darkest-gray;
  }
  @return $white;
}

$body-bg: get-body-bg();

@function get-body-color() {
  @if $dark-mode {
    @return $light-gray;
  }
  @return $darkest-gray;
}

$body-color: get-body-color();

@function get-card-bg() {
  @if $dark-mode {
    @return $darkest-gray;
  }
  @return $white;
}

$card-bg: get-card-bg();

@function get-link-color() {
  @if $dark-mode {
    @return lighten($primary, 10%);
  }
  @return $primary;
}

$link-color: get-link-color();

@function get-input-bg() {
  @if $dark-mode {
    @return $darker-gray;
  }
  @return $white;
}
$input-bg: get-input-bg();

@function get-input-border-color() {
  @if $dark-mode {
    @return $dark-gray;
  }
  @return $light-gray;
}
$input-border-color: get-input-border-color();

@function get-table-striped-bg() {
  @if $dark-mode {
    @return $darker-gray;
  }
  @return #eff1f3;
}
$table-striped-bg: get-table-striped-bg();

@function get-modal-content-bg() {
  @if $dark-mode {
    @return $darkest-gray;
  }
  @return $white;
}

$modal-content-bg: get-modal-content-bg();

@function get-input-disabled-color() {
  @if $dark-mode {
    @return $dark-gray;
  }
  @return #e9ecef;
}

$input-disabled-bg: get-input-disabled-color();
