@mixin bar-shadow($color) {
    text-shadow: 0 0 4px $color, 0 0 4px $color, 0 0 2px $color;
}

@mixin no-user-select {
    user-select: none;
    -moz-user-select: none;
}

@mixin button-disabled-variant($parent, $color, $background, $border: $color) {
    #{$parent}:disabled,
    #{$parent}.disabled {
        color: $color;
        background-color: $background;
        border-color: $border;
    }
}
