* {
    // always print background graphics in chrome
    -webkit-print-color-adjust: exact;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: $print-body-min-width;
    max-width: $print-body-max-width;
    background: none;
}

.container {
    padding: 0;
    max-width: 100%;
}

.print-brand-image {
    margin-bottom: 1em;
    height: 2.5em;
}

.close {
    display: none;
}

.card-header {
    break-inside: avoid;
    break-after: avoid;
}

.card {
    // a long vertical flex layout would mess up with margins after a page break
    display: block;
}

.print-no-break {
    break-inside: avoid;
}

.distribution-bar-container {
    .adjective {
        display: inline;
        font-size: unset;
    }

    .pole-icon {
        color: $darker-gray;
        @include bar-shadow($white);
    }
}
