.warning-label {
    color: $evap-dark-yellow;
}

.error-label {
    color: $evap-dark-red;
}

.light-link {
    opacity: 0.4;
    color: $black;
}

.nowrap {
    white-space: nowrap;
}

.icon-gray {
    color: $medium-gray !important;
}

.icon-red {
    color: $evap-red !important;
}

.icon-blue {
    color: $evap-dark-blue !important;
}

.icon-green {
    color: $evap-green !important;
}

a.no-underline:hover {
    text-decoration: none;
}

@each $name, $color in $vote-colors {
    @if $color != gray {
        .vote-text-#{$name} {
            color: $color;
        }

        .vote-bg-#{$name} {
            background: $color;
        }
    }
}

@include media-breakpoint-up(lg) {
    .d-lg-grid {
        display: grid !important;
    }
}

.d-contents {
    display: contents !important;
}

.fa-fw-absolute {
    text-align: center;
    width: #{20rem / 16};
}

.bg-debug {
    background: repeating-linear-gradient(
        118deg,
        tint-color($darker-gray, 12%),
        tint-color($darker-gray, 12%) 3.5em,
        $darker-gray 3.5em,
        $darker-gray 7em
    );
}

.z-over-fixed {
    z-index: $zindex-fixed + 1;
}

.break-spaces {
    white-space: break-spaces;
}

@for $i from 0 through 100 {
    .width-percent-#{$i} {
        width: $i * 1% !important;
    }

    .left-percent-#{$i} {
        left: $i * 1% !important;
    }
}
