$vote-colors: (
    green: $evap-green,
    lime: $evap-lime,
    yellow: $evap-yellow,
    orange: $evap-orange,
    red: $evap-red,
    gray: $medium-gray
);

.vote-text-answer {
    @extend .col-12, .col-lg-8, .col-xl-7;

    padding: 0.75rem;
}

.vote-question {
    @extend .col-12, .col-lg-4, .col-xl-5;

    padding: 0.5rem 0.75rem 0;
    word-wrap: break-word;
    &.choice-error {
        font-weight: bold;
        color: $evap-dark-red;
    }
}

.vote-btn {
    width: 6rem;
    height: 2.5rem;
    padding: 0.25rem;
    font-size: 0.85rem;
    white-space: normal;
    line-height: 1rem;
    border-color: $medium-gray;
    &:last-child {
        width: 3.5rem;
    }
    .vote-type-bipolar &:not(:last-child) {
        width: 5rem;
        font-size: 0.8rem;
    }
}

.vote-answer-buttons {
    @extend .col-12, .col-lg-8, .col-xl-7;

    padding: 0.5rem 0.75rem 0.9rem;
}

@include media-breakpoint-up(md) {
    .vote-inputs {
        justify-content: flex-end;
    }
    .vote-btn {
        margin-top: 0;
    }
    .vote-type-unipolar > .vote-btn:not(:last-child),
    .vote-type-bipolar > .vote-btn:not(:last-child) {
        width: 0;
        flex: auto;
    }
}

@include media-breakpoint-up(lg) {
    .vote-question, .vote-answer-buttons {
        padding-bottom: 0.5rem;
    }
}
.vote-btn-text {
    position: relative;
    top: -1px;
}

div.vote-inputs {
    width: 100%;
    flex-wrap: wrap;
}

@each $name, $color in $vote-colors {
    .vote-btn-#{$name} {
        background-color: $lighter-gray;
        color: darken($color, 20%);
        &:hover {
            background-color: change-color($color, $lightness: 85%);
        }
        &.active {
            background-color: $color;
            color: change-color($color, $lightness: 30%);
        }
    }
    @if $color != gray {
        .vote-bg-#{$name} {
            background: $color;
        }
    }
}

div.vote-inputs label.choice-error {
    border-color: $evap-red;
}

div.vote-inputs > textarea {
    width: 100%;
    min-height: 8rem;
}

.distribution-bar-container {
    position: relative;
    border-radius: 3px;
    flex-grow: 1;
    background: $lighter-gray;
    box-shadow: inset 0 0 0 1px $light-gray;
    @include no-user-select;

    .middle {
        background: $lighter-gray;
        position: absolute;
        height: 100%;
        $width: 2px;
        width: $width;
        top: 0;
        left: calc(50% - #{$width / 2});
        border-radius: 3px;
        box-shadow: 0px 0px 1px $dark-gray;
    }

    $distance: 0.5rem;
    .left {
        left: $distance;
    }
    .right {
        right: $distance;
    }
    .left, .right {
        position: absolute;
        top: 0;
        line-height: 1.6em;
        color: $darker-gray;
        font-size: 0.9rem;
        @include bar-shadow($white);
    }
    .right.weight {
        top: -0.1rem;
    }
    .pole-icon {
        color: $white;
        @include bar-shadow($medium-gray);
    }
    &:not(:hover) .adjective, &:hover .pole-icon {
        display: none;
    }
}

.distribution-bar {
    @include no-user-select;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
    flex-grow: 1;
    transition: box-shadow 0.15s ease-in-out;
    position: relative;

    &.vote-type-bipolar {
        width: 50%;
    }

    div {
        display: inline-block;
        &:last-child {
            width: 100% !important;
        }
    }
}
.distribution-bar-disabled {
    background-color: $light-gray;
    color: lighten($medium-gray, 5%);
}

.grade-bg-result-bar {
    color: $black;
    float: right;
    border-radius: 3px;
    width: 42px;
    margin-left: 10px;
    transition: box-shadow 0.15s ease-in-out;
}

.grade-bg-result-bar-count {
    float: left;
    border-radius: 3px;
    width: 50px;
    margin-right: 20px;
    background-color: $evap-dark-blue;
    color: white;
}

.grade-bg-disabled {
    background-color: $light-gray;
    color: lighten($medium-gray, 5%);
}

.heading-row {
    .distribution-bar,
    .grade-bg-result-bar {
        border: 1px solid $dark-gray;
    }
}
