@import "mixins";
@import "colors";
@import "../bootstrap/scss/bootstrap";
@import "vote-elements";
@import "quick-review";


/* override bootstrap values */
html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-y: scroll !important;
    margin-bottom: 60px; // keep space for footer
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

tr.bt-0 th {
    border-top: none;
}

.navbar {
    padding: 0 1rem;
    -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-nav .nav-link,
.navbar-nav .navbar-text {
    padding: .0 .5rem;
    line-height: 42px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text {
    color: $light-gray;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: $white;
}
.navbar-toggler {
    padding: 0;
}

div.container {
    padding-top: 80px; // for navbar (and breadcrumbs)
    flex: 1 0 auto;
}

.lcr-left {
    flex: 1;
}
.lcr-center {
    flex: 5;
    text-align: center;
}
.lcr-right {
    flex: 1;
    text-align: right;
}

// remove wrongly added padding by Bootstrap, caused by the always visible scrollbar
// (https://github.com/twbs/bootstrap/blob/v4-dev/js/src/modal.js#L429)
body, .fixed-top, .fixed-bottom, .is-fixed, .sticky-top {
    padding-right: 0 !important;
}

.btn.fas {
    font-weight: 900;
}
.btn.far {
    font-weight: 400;
}
.btn-light {
    border-color: $medium-gray;
}
.btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 3px rgba($light-gray, 0.5);
}
.btn-light.active, .btn-light:active {
    border-color: $dark-gray;
    background-color: $light-gray;
    box-shadow: inset 0 0 5px $dark-gray;
}
.btn-light:hover {
    border-color: $dark-gray;
}
.btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
    border-color: $dark-gray;
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active {
    border-color: $dark-gray;
}
a:not([href]):not(.disabled) {
    cursor: pointer;
}
a.btn:not([href]):not(.disabled).btn-primary {
    color: $white;
}
a.btn:not([href]):not(.disabled).btn-secondary {
    color: $white;
}
a.btn:not([href]):not(.disabled).btn-success {
    color: $white;
}
a.btn:not([href]):not(.disabled).btn-danger {
    color: $white;
}
a.btn:not([href]):not(.disabled).btn-warning {
    color: $black;
}
a.btn:not([href]):not(.disabled).btn-info {
    color: $white;
}
a.btn:not([href]):not(.disabled).btn-light {
    color: $black;
}
a.btn:not([href]):not(.disabled).btn-dark {
    color: $white;
}
.btn.disabled {
    border-width: 1px;
    opacity: 0.45;
}
.btn.disabled.btn-primary {
    background-color: $evap-light-blue;
    border-color: $evap-dark-blue;
    color: $evap-dark-blue;
}
.btn.disabled.btn-secondary {
    background-color: $light-gray;
    border-color: $dark-gray;
    color: $dark-gray;
}
.btn.disabled.btn-success {
    background-color: $evap-light-green;
    border-color: $evap-green;
    color: $evap-green;
}
.btn.disabled.btn-danger {
    background-color: $evap-light-red;
    border-color: $evap-red;
    color: $evap-red;
}
.btn.disabled.btn-warning {
    background-color: $evap-light-yellow;
    border-color: $evap-dark-yellow;
    color: $evap-dark-yellow;
}
.btn.disabled.btn-info {
    background-color: lighten($evap-light-blue, 5%);
    border-color: darken($evap-light-blue, 20%);
    color: darken($evap-light-blue, 20%);
}
.btn.disabled.btn-light {
    background-color: $lighter-gray;
    border-color: $medium-gray;
    color: $medium-gray;
}
.btn.disabled.btn-dark {
    background-color: $dark-gray;
    border-color: $darker-gray;
    color: $white;
}
.btn-switch {
    display: inline-flex;
    background-color: lighten($light-gray, 2%);
    border-radius: 0.2rem;
    .btn-toolbar {
        background: $white;
    }
    .btn-group {
        background: lighten($light-gray, 2%);
        &::before {
            width: 0.5rem;
            content: "";
        }
        .disabled-right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
        }
    }
}
.btn-switch-light {
    background-color: $lighter-gray;
    .btn-group {
        background: $lighter-gray;
    }
}
.btn-switch-label {
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    color: $darker-gray;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.badge-btn {
    margin-left: 0.3rem;
    color: $darker-gray;
    background-color: $light-gray;
}
.btn-light.active .badge-btn {
    color: $lighter-gray;
    background-color: $dark-gray;
}
.badge-btn-zero {
    margin-left: 0.3rem;
    color: $medium-gray;
    background-color: $white;
}

.icon-buttons .btn {
    min-width: 32px;
}

.card-header {
    font-weight: bold;
}

.card-outline-primary {
    border-color: rgba($evap-dark-blue, 0.5);
}
.card-outline-primary > .card-header {
    background-color: $evap-light-blue;
}

.card-outline-warning {
    border-color: $evap-yellow;
}
.card-outline-warning > .card-header {
    background-color: rgba($evap-yellow, 0.5);
}

.badge-info, .badge-warning {
    color: $darker-gray;
}

.card-header .btn-sm,
.card-header .btn-switch {
    line-height: 1;
}

// make collapsed card have no double bottom border
// (bootstrap bug: https://github.com/twbs/bootstrap/issues/27108)
.collapsible {
    .card-header {
        border-bottom: none;
    }
    .card-body {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.btn-sm-narrow, {
    line-height: 1;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    max-width: 260px;
    text-align: left;
}

.tooltip-inner ul {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

.table {
    margin-bottom: 0;
}
.table-striped tr.d-flex td {
    border-width: 0;
}
.table-striped tr:nth-child(odd), .container-striped .row:nth-child(odd) {
    background-color: darken($lighter-gray, 3%);
}

#results-table.table th {
    border-top: none;
}

.card-subtitle {
    font-weight: 600;
}

.result-rating-question {
    width: 60%;
}
.result-rating-answer {
    width: 40%;
}
.result-text-question {
    width: 25%;
}
.result-text-answer {
    width: 75%;
    ul {
        margin-bottom: 0;
    }
}

.dropdown-menu {
    padding: 0.25rem 0;
}
.dropdown-menu-tight {
    min-width: inherit;
    padding: 0.25rem 0;
}
.dropdown-toggle::after {
    vertical-align: 0.2em;
}
.dropdown-item {
    padding: 0.15rem 1rem;
}
.dropdown-item.hover, .dropdown-item:hover {
    background-color: $light-gray;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: $dark-gray;
}
.dropdown-divider {
    margin: 0.25rem 0;
}

.close {
    line-height: 0.5;
    .fas {
        line-height: 1.4;
        font-size: 1rem;
    }
}

.card-body ul {
    margin-bottom: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

.hide-divs div {
    display: none;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: $evap-dark-blue;
    color: $white;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: $medium-gray;
    color: $black;
}
.table-success,
.table-success > th,
.table-success > td {
    background-color: $evap-green;
    color: $black;
}
.table-info,
.table-info > th,
.table-info > td {
    background-color: $evap-light-blue;
    color: $black;
}
.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: $evap-yellow;
    color: $black;
}
.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: $evap-red;
    color: $white;
}
.table-light,
.table-light > th,
.table-light > td {
    background-color: $light-gray;
    color: $black;
}
.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: $darker-gray;
    color: $white;
}

.nav-tabs .nav-item .nav-link {
    padding: 0.5rem 0.75rem;
}

.nav-item {
    padding: 0 0.25rem;
}


/* evap print styling */
@media print {
    .no-break {
        page-break-inside: avoid;
    }
    body {
        padding: 0;
        background: none;
    }
    div.container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .print-brand-image {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 40px;
    }
    nav, #footer, .breadcrumb, .close {
        display: none;
    }
    td, th, p {
        font-size: 80%;
        page-break-after: avoid;
    }
    h2 {
        font-size: 20px;
        page-break-after: avoid;
    }
    h4 {
        font-size: 14px;
        page-break-after: avoid;
    }
    .grade-bg-result-bar-count {
        width: 35px;
    }
    .grade-bg {
        width: 30px;
    }
    .alert {
        padding: 5px;
    }
    .card-header {
        padding: 0.5rem 1.25rem;
        font-size: 0.85rem;
    }
    .card-body .card-header {
        font-size: 0.75rem;
    }
    .table td {
        padding: 0.5rem;
    }
    .table td, .table th {
        background-color: transparent !important;
        padding: 0.5rem;
    }
    // always print background graphics in chrome
    body, span, div, table, tr, tbody, tfoot, td, hr {
        -webkit-print-color-adjust: exact;
    }
    .distribution-bar-container {
        .adjective {
            display: unset !important;
            font-size: unset;
        }
        .fas {
            display: none;
        }
    }
}

.breadcrumb {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0;
    padding: 3px 0.5rem;
    font-size: small;
    background-color: $darker-gray;
    color: $medium-gray;
    border-radius: 0;
    a {
        color: $light-gray;
    }
    a:focus, a:hover {
        color: $white;
        text-decoration: none;
    }
}
.breadcrumb-item {
    display: inline-block;
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.3rem;
    padding-left: 0.2rem;
}
.breadcrumb-end {
    position: relative;
    float: left;
    content: "";
    border-top: 25px solid $darker-gray;
    border-right: 13px solid $darker-gray;
    border-color: $darker-gray transparent transparent transparent;
}

@include media-breakpoint-only(lg) {
    .container {
        max-width: 1040px;
    }
}


/* evap styling */
body {
    background-image: url("../images/triangles_gray.svg");
    background-size: cover;
    background-attachment: fixed;
}

.btn-switch-navbar {
    display: inline-flex;
    background-color: $darker-gray;
    padding: 0.5rem 0.75rem;
    .btn-group {
        .btn.btn-navbar {
            padding: 0 0.25rem;
            background-color: lighten($darker-gray, 5%);
            border-width: 0;
            color: $light-gray;
            transition: none;
            min-width: 28px;
            margin-left: 0;
        }
        .btn.btn-navbar:hover {
            background-color: lighten($darker-gray, 10%);
            color: $white;
        }
        .btn.btn-navbar:focus {
            box-shadow: none;
        }
        .btn.btn-navbar.active.disabled {
            background-color: lighten($darker-gray, 5%);
            color: $medium-gray;
            border-width: 0;
            box-shadow: inset 0 0 10px darken($darker-gray, 20%);
            opacity: 1;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px;
    background: $darker-gray;
    line-height: 1.2;
    color: $light-gray;
    a {
        white-space: nowrap;
    }
    .navbar-nav .nav-link.nav-link-multiline {
        line-height: 1.2;
    }
}

.feedback-button{
    position: fixed;
    right: 10px;
    bottom: 8px;
    z-index: $zindex-fixed;
    a.btn:not([href]):not(.disabled).btn-dark {
        padding: 0 0.2rem;
        color: $light-gray;
    }
}
.feedback-button-placeholder {
    min-width: 140px;
}

.brand-image {
    height: 42px;
}

.color-bar {
    height: 0.2rem;
    display: flex;
}

table#question_table textarea {
    resize: vertical;
}

ul.inputs-list, .exportsheet ul {
    list-style-type: none;
    padding-left: 0px;
}

table.vertically-aligned tr td {
    vertical-align: middle;
}

select[multiple='multiple'] {
    height: 200px;
}
select[multiple] {
    min-height: 40px;
}

.warning-label {
    color: $evap-dark-yellow;
}
.error-label {
    color: $evap-dark-red;
}

.warning-border {
    border: 1px solid $evap-yellow;
    outline-color: $evap-yellow;
}

.card-submit-area {
    background-color: $lighter-gray;
    border-color: rgba($evap-dark-blue, 0.5);;
    min-height: 65px;
}

.card-submit-area input,
.card-submit-area a,
.card-submit-area button,
.card-submit-area-1 input,
.card-submit-area-1 a,
.card-submit-area-1 button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 250px;
}
.card-submit-area-2 input,
.card-submit-area-2 a,
.card-submit-area-2 button {
    min-width: 230px;
}
.card-submit-area-3 input,
.card-submit-area-3 a,
.card-submit-area-3 button {
    min-width: 190px;
}

.jumbotron-evap {
    background-image: url("../images/triangles_color.svg");
    background-size: cover;
}
.jumbotron-evap div .card {
    background-color: $lighter-gray;
}

.login-button {
    min-width: 250px;
}

.collapse-toggle {
    color: $darker-gray;
}
.collapse-toggle:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f078";
    float: left;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: transform 0.15s ease-in-out;
}
.collapse-toggle.collapsed:before {
    transform: rotate(-90deg);
}

.btn-option {
    background-color: $white;
    border-color: $light-gray;
    color: $black;
}
.btn-option.active {
    background-color: $evap-dark-blue;
    color: $white;
}
.btn-option.disabled {
    opacity: 0.6;
}
.btn-option:hover:not(.disabled) {
    background-color: $light-gray;
}
.btn-option.active:hover:not(.disabled) {
    background-color: darken($evap-dark-blue, 10%);
}

.participants-warning {
    opacity: 0.4;
    font-weight: normal;
}

.questionnaire-warning p {
    padding-left: 3px;
}

.inline-headers span, .inline-headers p {
  display: inline-block;
  vertical-align: baseline;
}

.button-menu {
    margin-bottom: 15px;
}

.email-form .form-row {
    clear:both;
}

.email-form .form-label {
    float:left;
    width: 15%;
    padding-top: 7px;
    padding-right: 15px;
    font-weight: bold;
    text-align: right;
}

.email-form .form-field {
    float:left;
    width:85%;
}

.is-invalid {
    .form-control {
        border-color: $evap-dark-red;
    }
    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba($evap-dark-red, 0.25);
    }
}

.form-label.is-invalid {
    color: $evap-dark-red;
}

.form-label {
    text-align: right;
    font-weight: bold;
    padding-top: 0.3rem;
}
.form-static-text {
    padding-top: 0.3rem;
}

.evap-progress-bar-container {
    padding-right: 4px;
    display: block;
    min-width: 55px;
    flex-grow: 1;
}
.evap-progress-bar-back {
    background: $evap-light-blue;
    border-radius: 3px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.evap-progress-bar-front {
    background: $evap-dark-blue;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}
.evap-progress-bar-bartext {
    position: absolute;
    top: 0px;
    left: 0px;
    color: $white;
    width: 100%;
    text-align: center;
    @include bar-shadow($evap-dark-blue);
}
.evap-progress-bar-text {
    color: $black;
    text-align: right;
    min-width: 31px;
}
.evap-progress-bar-warning {
    .evap-progress-bar-back {
        background: $evap-yellow;
    }
    .evap-progress-bar-front {
        background: $evap-dark-yellow;
    }
    .evap-progress-bar-bartext {
        color: $black;
        @include bar-shadow($evap-dark-yellow);
    }
}
.multi-progress-bar .evap-progress-bar-container {
    padding-bottom: 3px;
}

.deactivate {
    opacity: 0.4;
}

.light-link {
    opacity: 0.4;
    color: $black;
}

.textanswer-link {
    color: $black;
}
.textanswer-original {
    color: $medium-gray;
}

div.disabled-tooltip {
    display: inline-block;
}

.grade-course-table tr {
    height: 57px;
}

.menu-indent {
    text-indent: 20px;
}

.sortable-ghost {
    background: $lighter-gray;
}

.table-striped tbody tr.sortable-ghost {
    background: $light-gray;
}

.table-narrow td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.table-hover-evap tbody tr {
    transition: background-color 0.15s ease-in-out;
}
.table-hover-evap tbody tr:hover:not(.nohover):not(.hoverpause) {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}
.table-hover-evap tbody tr.hover-vote:hover:not(.hoverpause),
.table-hover-evap tbody tr.hover-edit:hover:not(.hoverpause) {
    background-color: $evap-light-blue;
}
.table-hover-evap tbody tr td {
    overflow: hidden;
}
.table-hover-evap tbody tr td a:not(.btn) {
    color: $black;
    text-decoration: none;
    // the following values are necessary to make the a element fill the complete table cell
    display: block;
    margin: -10em;
    padding: 10em;
}
.table-hover-evap tr.preview td .evaluation-name
{
    color: $evap-dark-yellow;
}
tr.hover-results {
    height: 2.5rem;
}
tr.hover-results:hover:not(.nohover):not(.hoverpause) .btn-results,
tr.hover-results:hover:not(.nohover):not(.hoverpause) .distribution-bar,
tr.hover-results:hover:not(.nohover):not(.hoverpause) .grade-bg-result-bar {
    box-shadow: 0 0 0 3px rgba($dark-gray, .5);
}
tr.hover-vote:hover:not(.nohover):not(.hoverpause) .btn-vote,
tr.hover-edit:hover:not(.nohover):not(.hoverpause) .btn-edit {
    box-shadow: 0 0 0 3px rgba($evap-dark-blue, .5);
}
tr.nohover-row-follows + tr.hover-results:hover:not(.nohover):not(.hoverpause) .distribution-bar,
tr.nohover-row-follows + tr.hover-results:hover:not(.nohover):not(.hoverpause) .grade-bg-result-bar {
    box-shadow: none;
}

tr.heading-row.course-row{
    td {
        padding-bottom: 0.2rem;
    }
}
tr.evaluation-row:not(.heading-row) {
    border-radius: 0.2rem;
    td {
        padding-top: 0.18rem;
        padding-bottom: 0.18rem;
        border: none;
        font-size: 0.9rem;
    }
    td:first-of-type {
        padding-left: 2rem;
    }
    .evaluation-name {
        font-style: italic;
        color: $dark-gray;
    }
}
tr.current-row-follows + tr {
    box-shadow: inset 0px 0px 6px $evap-dark-blue;
}

.course-responsible {
    font-style: italic;
}
.evaluation-contributor {
    font-style: italic;
}

.sortable .movable {
    width: 10px;
}

.sortable .movable span.movable-icon {
    font-size: 16px;
    top: 8px;
    cursor:move;
}

.nowrap {
    white-space: nowrap;
}

.text-answer li,a {
    word-wrap: break-word;
}

.total-stats {
    font-weight: bold;
    background-color: $lighter-gray;
}

.form-submit-btn {
    min-width: 200px
}

.form-submit-btn-divider {
    width: 5px;
    height:auto;
    display:inline-block;
}

.modal-xl {
    max-width: 1120px;
}

.fa-card-header {
    line-height: 1.5;
}

.import-card .form-group {
    margin-bottom: 0;
}

.card-body .form-group:last-of-type {
    margin-bottom: 0;
}

.card-noflex {
    flex: none;
    display: block;
    .card-body {
        flex: none;
    }
}

.icon-gray {
    color: $medium-gray !important;
}
.icon-red {
    color: $evap-red !important;
}
.icon-yellow {
    color: $evap-dark-yellow !important;
}
.icon-green {
    color: $evap-green !important;
}
td.icon {
    padding: 0 !important;
    text-align: center;
    min-width: 20px;
}

a.no-underline:hover {
    text-decoration: none;
}

.card-header .nav-pills {
    .nav-link {
        padding: 0.1rem 0.5rem;
    }
}

/* Results index page */
// make the line always break between semester and year (e.g., "WT<break>17/18" and "ST<break>18")
.semester-short-name {
    word-spacing: 30000px;
}

.separation-left {
    border-left: 1px solid $medium-gray;
}

.flex-column {
    flex-direction: column;
}

.reset-button {
    color: $dark-gray;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}
.reset-button:hover {
    color: $darker-gray;
}
.reset-button:active {
    color: $black;
}

.result-filter-list {
    max-height: 170px;
    overflow-y: auto;
    padding-left: 4px;
}

/* Bootstrap callouts (from https://gist.github.com/matthiasg/6153853) */
.bs-callout {
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid $dark-gray;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: $lighter-gray;
}

.bs-callout-danger {
    background-color: $evap-light-red;
    border-color: $evap-red;
}
.bs-callout-warning {
    background-color: $evap-light-yellow;
    border-color: $evap-yellow;
}
.bs-callout-info {
    background-color: $evap-light-blue;
    border-color: $evap-dark-blue;
}


/* Animated infoboxes */
.infobox {
    background-color: $evap-light-blue;
    padding: 10px 15px 10px 15px;
    margin: 0 0 20px 0;
    overflow: hidden;
    border-left: 5px solid $evap-dark-blue;
    display: inline-block;
    border-radius: 0;
}
.infobox-header {
    color: $evap-dark-blue;
    font-weight: bold;
    min-width: 20px;
    .infobox-icon {
        padding: 4px 5px 0 0;
    }
}
.infobox-content {
    font-size: 80%;
    max-height: 500px;
    max-width: 1200px;
    padding-top: 20px;
    overflow: hidden;
}

.infobox.closed {
    border-radius: 0.2rem;
    border-left-width: 0;
    transition: background-color 0.15s ease-in-out;
    .infobox-content {
        max-height: 0;
        max-width: 0;
        padding-top: 0;
    }
    .infobox-close {
        display: none;
    }
}
.infobox.closed:hover:not(.closing), .infobox.closed:active:not(.closing) {
    background-color: darken($evap-light-blue, 10%);
    cursor: pointer;
}

.infobox.closing {
    border-radius: 0.2rem;
    border-left-width: 0;
    transition: border-radius 1s ease 1s, border-left-width 1s ease 1s;
    .infobox-content {
        max-height: 0;
        max-width: 0;
        padding-top: 0;
        transition: max-height 1s ease 0s, padding-top 1s ease 0s, max-width 1s ease 1s;
    }
    .infobox-close {
        display: none;
    }
}
.infobox.opening {
    border-radius: 0;
    border-left-width: 5px;
    transition: border-radius 1s ease 0s, border-left-width 1s ease 0s;
    .infobox-content {
        max-height: 500px;
        max-width: 1200px;
        padding-top: 20px;
        transition: max-width 1s ease 0s, padding-top 1s ease 1s, max-height 1s ease 1s;
    }
}


/* custom checkboxes (based on http://getbootstrap.com/docs/4.0/components/forms/#custom-forms) */
.form-check-input {
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    &:checked ~ .form-check-label::after {
        opacity: 1;
    }
    &:checked ~ .form-check-label::before {
        background-color: $evap-dark-blue;
    }
    &:hover ~ .form-check-label::before {
        background-color: darken($light-gray, 10%);
    }
    &:checked:hover ~ .form-check-label::before {
        background-color: darken($evap-dark-blue, 10%);
    }
    &:focus ~ .form-check-label::before {
        box-shadow: 0 0 0 0.2rem rgba($evap-dark-blue, 0.25);
    }
    &:disabled {
        ~ .form-check-label {
            color: $medium-gray;
            &::before {
                background-color: $lighter-gray;
                border: 1px solid $light-gray;
                box-shadow: none;
            }
            &::after {
                color: $medium-gray;
            }
        }
        &:hover ~ .form-check-label::before {
            background-color: $lighter-gray;
        }
        &:checked:hover ~ .form-check-label::before {
            background-color: $lighter-gray;
        }
    }
}
// formset delete checkboxes are hidden when replaced with a link and no checkbox should be shown there
input[type="hidden"] ~ .form-check-label {
    display: none;
}
.form-check-label {
  margin-bottom: 0;
  color: $black;
  transition: color 0.15s ease-in-out;
  &::before {  // background
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    user-select: none;
    content: "";
    border-radius: 0.25rem;
    border: 0;
    background-color: $light-gray;
    transition: background-color 0.15s ease-in-out;
  }
  &::after {  // check icon
    position: absolute;
    top: .31rem;
    left: .2rem;
    display: block;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    content: "\f00c";
    font-family: "Font Awesome\ 5 Free";
    font-size: .6rem;
    font-weight: 900;
    color: $white;
  }
}


/* select2 adjustments */
.select2-container--default .select2-selection--single {
    height: 38px;

    .select2-selection__rendered {
        padding-top: 4px;
    }

    .select2-selection__arrow {
        top: 6px;
    }
}

.form-control.select2-hidden-accessible {
    width: 1px;
}


/* datatable adjustments */
table.dataTable {
    border-collapse: collapse !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    left: 0.2em;
    bottom: 0.75em;
    content: "\2193";
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    left: 0.6em;
    bottom: 0.75em;
    content: "\2191";
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 0;
    padding-left: 20px;
}
.filter-toolbar {
    float: left;
}
.dataTables_wrapper.container-fluid {
    padding: 0;
}


/* datetimepicker adjustments */
.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 33em;
    .datepicker {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .timepicker {
        flex: 0 0 40%;
    }
}
