@import "variables";
@import "mixins";
@import "../font-awesome/scss/fontawesome";
@import "../font-awesome/scss/solid";
@import "../font-awesome/scss/regular";
@import "../bootstrap/scss/bootstrap";
@import "components";
@import "adjustments";
@import "utilities";


/* override bootstrap values */
html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-y: scroll !important;
    margin-bottom: 60px; // keep space for footer
}

/* evap styling */
body {
    background-image: url("../images/triangles_gray.svg");
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px;
    background: $darker-gray;
    line-height: 1.2;
    color: $light-gray;
    a {
        white-space: nowrap;
    }
    .navbar-nav .nav-link.nav-link-multiline {
        line-height: 1.2;
    }
}

.brand-image {
    height: 42px;
}

.color-bar {
    height: 0.2rem;
    display: flex;
}

.participants-warning {
    opacity: 0.4;
    font-weight: normal;
}

.deactivate {
    opacity: 0.4;
}

.textanswer-link {
    color: $black;
}
.textanswer-original {
    color: $medium-gray;
}

.grade-course-table tr {
    height: 57px;
}

.sortable-ghost {
    background: $lighter-gray;
}

.table-striped tbody tr.sortable-ghost {
    background: $light-gray;
}

.sortable .movable {
    width: 10px;
}

.sortable .movable span.movable-icon {
    font-size: 16px;
    top: 8px;
    cursor:move;
}

.text-answer li,a {
    word-wrap: break-word;
}

.card-body .form-group:last-of-type {
    margin-bottom: 0;
}

td.icon {
    padding: 0 !important;
    text-align: center;
    min-width: 20px;
}

.card-header .nav-pills {
    .nav-link {
        padding: 0.1rem 0.5rem;
    }
}

/* Results index page */
// make the line always break between semester and year (e.g., "WT<break>17/18" and "ST<break>18")
.semester-short-name {
    word-spacing: 30000px;
}

.reset-button {
    color: $dark-gray;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}
.reset-button:hover {
    color: $darker-gray;
}
.reset-button:active {
    color: $black;
}

.result-filter-list {
    max-height: 170px;
    overflow-y: auto;
    padding-left: 4px;
}
