{% extends "fsr_base.html" %}

{% load i18n %}

{% block subtitle %}
    {{ block.super }}
    {% if questionnaire %}
        <li><a href="{% url "evap.staff.views.questionnaire_index" %}">{% trans "Questionnaires" %}</a></li>
        <li>{{ questionnaire.name }}</li>
    {% else %}
        <li>{% trans "Questionnaires" %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if questionnaire %}
    <p>
        <a href="{% url "evap.staff.views.questionnaire_edit" questionnaire.id %}" class="btn btn-sm btn-default">{% trans "Edit" %}</a>
        <a href="{% url "evap.staff.views.questionnaire_copy" questionnaire.id %}" class="btn btn-sm btn-default">{% trans "Copy" %}</a>
        {% if questionnaire.can_fsr_delete %}
            <a href="{% url "evap.staff.views.questionnaire_delete" questionnaire.id %}" class="btn btn-sm btn-danger">{% trans "Delete" %}</a></li>
        {% else %}
            <a href="#" class="btn btn-sm btn-danger" disabled="disabled">{% trans "Delete" %}</a></li>
        {% endif %}
    </p>
    {% endif %}
{% endblock %}
