{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Infotexts' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="card mb-3">
            <div class="card-body">
                <table id="question_table" class="table">
                    <thead>
                    <tr>
                        <th style="width: 45%">{% trans 'Title/Content (German)' %}</th>
                        <th style="width: 45%">{% trans 'Title/Content (English)' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in formset %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <tr>
                            <td colspan="2" style="font-weight: bold; border-bottom-width: 0"
                                class="text-center pb-0 pt-3">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% include 'bootstrap_form_field_widget.html' with field=form.title_de %}
                                {% include 'bootstrap_form_field_widget.html' with field=form.content_de %}
                            </td>
                            <td>
                                {% include 'bootstrap_form_field_widget.html' with field=form.title_en %}
                                {% include 'bootstrap_form_field_widget.html' with field=form.content_en %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save infotexts' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
