{% extends 'base.html' %}
{% load staff_templatetags %}

{% block title %}{% translate 'Manage' %} - {{ block.super }}{% endblock %}

{% block breadcrumb_bar %}
    <div class="breadcrumb-bar">
        <ul class="breadcrumb">
            {% block breadcrumb %}
                {% if not user.is_manager %}
                    {% breadcrumb_item %}
                        {% translate 'Manage' %}
                    {% endbreadcrumb_item %}
                {% else %}
                    {% breadcrumb_item_url 'staff:index' %}
                        {% translate 'Manage' %}
                    {% endbreadcrumb_item_url %}
                {% endif %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
