{% extends "staff_semester_base.html" %}

{% load static %}

{% block content %}
    {{ block.super }}

    {% include "staff_message_rendering_template.html" with errors=errors warnings=warnings success_messages=success_messages %}

    <form id="semester-import-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
        <div class="card card-outline-info">
            <div class="card-header"> {% trans "Semester import" %} </div>
            <div class="card-body">
                <p>
                {% trans "Upload Excel file (" %}<a href="{% url "staff:download_sample_xls" "sample.xls" %}">{% trans "Sample File"%}</a>{% trans "). This will create all containing students, teachers and courses and connect them. It will also set the entered values as default for all courses." %}
                </p>
                {% csrf_token %}
                {% include "bootstrap_form.html" with form=excel_form %}
            </div>
            <div class="card-footer">
                {% if not test_passed %}
                    <button name="operation" value="test" type="submit" class="btn btn-primary form-submit-btn">{% trans "Upload and Test" %}</button>
                {% else %}
                    <button name="operation" value="test" type="submit" class="btn btn-secondary form-submit-btn">{% trans "Upload and Test" %}</button>
                    <div class="form-submit-btn-divider"></div>
                    <button name="operation" value="import" type="submit" class="btn btn-primary form-submit-btn">{% trans "Import previously uploaded file" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
