{% extends 'staff_evaluation_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:semester_preparation_reminder' semester.id %}">{% translate 'Preparation reminder' %}</a></li>
    <li class="breadcrumb-item">{{ responsible }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form id="send-reminder-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <fieldset>
                    <div class="row justify-content-center">
                        <div class="email-form col-9">
                            {% include 'bootstrap_form.html' with form=form email_form=True fields_as_pills=form.visible_fields|slice:"-2:" %}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% translate 'Send email' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
