{% extends 'staff_semester_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Preparation reminder' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    
    {% if responsible_list %}
        <div class="d-flex mb-3">
            <div class="mr-auto">
                <button type="button" id="remindAllButton" onClick="remindAllModalShow()" class="btn btn-sm btn-light">{% trans 'Remind All' %}</button>
            </div>
        </div>
    {% endif %}

    {% for responsible, evaluations, delegates in responsible_list %}
        <div class="card{% if not forloop.last %} mb-3{% endif %}">
            <div class="card-header d-flex">
                <span class="pl-1 mr-auto">
                    <a href="{% url 'staff:user_edit' responsible.id %}">{{ responsible.full_name }}</a>, {% trans 'Delegates' %}:
                    {% for delegate in delegates %}
                        <a href="{% url 'staff:user_edit' delegate.id %}">{{ delegate.full_name }}</a>{% if not forloop.last %},{% endif %}
                    {% empty %}
                        &mdash;
                    {% endfor %}
                </span>
                <div>
                    <a href="{% url 'staff:send_reminder' semester.id responsible.id %}" class="btn btn-sm btn-light">{% trans 'Send Reminder' %}</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 57%">{% trans 'Name' %}</th>
                            <th style="width: 18%">{% trans 'Start of evaluation' %}</th>
                            <th style="width: 25%">{% trans 'Last modified by' %}</th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for evaluation in evaluations %}
                            <tr{% if evaluation.state != 'prepared' %} class="deactivate"{% endif %}>
                                <th scope="row">
                                    {% with approval_state_values=evaluation.state|approval_state_values %}
                                        <span class="{{ approval_state_values.icon }}" data-toggle="tooltip" data-placement="top" title="{{ approval_state_values.description }}"></span>
                                    {% endwith %}
                                    <a href="{% url 'staff:evaluation_edit' semester.id evaluation.id %}">{{ evaluation.full_name }}</a><br />
                                    {% include 'evaluation_badges.html' with mode='manager' %}
                                </th>
                                <td>{% include 'staff_evaluation_evaluation_period.html' with state=evaluation.state start_only=True %}</td>
                                <td>
                                    {% if evaluation.last_modified_user %}
                                        {{ evaluation.last_modified_user }}
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Remind all' as title %}
    {% trans 'Do you really want to remind everyone?' as question %}
    {% trans 'Remind all' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='remindAllModal' title=title question=question action_text=action_text btn_type='primary' %}
    <script type="text/javascript">
        function remindAllModalAction() {
            var remindAllButton = $('#remindAllButton');
            remindAllButton.prop('disabled', true);
            remindAllButton.text('{% trans 'Reminding everyone' %}');

            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_preparation_reminder' semester_id=semester.id %}",
                success: function(){
                    location.reload();
                },
                error: function(){
                    window.alert("{% trans 'The server is not responding.' %}");
                }
            })
        }
    </script>
{% endblock %}
