{% extends 'staff_base.html' %}

{% load staff_templatetags %}

{% block breadcrumb %}
    {{ block.super }}
    {% if questionnaire %}
        {% url 'staff:questionnaire_index' as question_index_url %}
        {% breadcrumb_item question_index_url %} 
            {% translate 'Questionnaires' %}
        {% endbreadcrumb_item %}

        {% if disable_breadcrumb_questionnaire %}
            {% breadcrumb_item %} 
                {{ questionnaire.name }}
            {% endbreadcrumb_item %}
        {% else %}
        
            {% url 'staff:questionnaire_edit' questionnaire.id as question_edit_url %}
            {% breadcrumb_item question_edit_url %} 
                {{ questionnaire.name }}
            {% endbreadcrumb_item %}
        {% endif %}
    {% else %}
        {% breadcrumb_item %} 
            {% translate 'Questionnaires' %}
        {% endbreadcrumb_item %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
