{% extends 'staff_semester_base.html' %}

{% load evaluation_filters %}

{% block content %}
    {{ block.super }}

    {% if semester.is_archived %}
        <p class="bs-callout bs-callout-info">{% trans 'This semester is archived.' %}</p>
    {% endif %}

    <h3>
        {{ semester.name }}
        {% if request.user.is_staff %}
            &nbsp;
            <a href="{% url 'staff:semester_edit' semester.id %}" class="btn btn-sm btn-secondary">{% trans 'Edit' %}</a>
            <a onclick="deleteSemesterModalShow({{ semester.id }}, '{{ semester.name|escapejs }}');" class="btn btn-sm btn-danger{% if not semester.can_staff_delete %} disabled{% endif %}">{% trans 'Delete' %}</a>
            <a onclick="archiveSemesterModalShow({{ semester.id }}, '{{ semester.name|escapejs }}');" class="btn btn-sm btn-warning{% if not semester.is_archiveable %} disabled{% endif %}">{% trans 'Archive' %}</a>
        {% endif %}
    </h3>

    <div class="card mb-3">
        <div class="card-header d-flex">
            <a class="collapse-toggle" data-toggle="collapse" href="#overviewCard" aria-expanded="false" aria-controls="overviewCard" onclick="saveCollapseState()">{% trans 'Overview' %}</a>
            {% if request.user.is_staff %}
                <div class="ml-auto">
                    {% if not semester.is_archived %}
                        <a href="{% url 'staff:semester_todo' semester.id %}" class="btn btn-sm btn-light">{% trans 'Todo' %}</a>
                    {% endif %}
                    <div class="btn-switch ml-2">
                        <div class="btn-switch-label">{% trans 'Reward points active' %}</div>
                        <div class="btn-group icon-buttons">
                            <a href="{% url 'rewards:semester_activation' semester.id 'on' %}" class="btn btn-sm btn-light{% if rewards_active %} active{% endif %}"><span class="fas fa-check" aria-hidden="true"></span></a>
                            <a href="{% url 'rewards:semester_activation' semester.id 'off' %}" class="btn btn-sm btn-light{% if rewards_active == False %} active{% endif %}"><span class="fas fa-times" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="btn-switch ml-2">
                        <div class="btn-switch-label">{% trans 'Grades downloadable' %}</div>
                        <div class="btn-group icon-buttons">
                            <a href="{% url 'grades:semester_grade_activation' semester.id 'on' %}" class="btn btn-sm btn-light{% if grades_downloadable %} active{% endif %}"><span class="fas fa-check" aria-hidden="true"></span></a>
                            <a href="{% url 'grades:semester_grade_activation' semester.id 'off' %}" class="btn btn-sm btn-light{% if grades_downloadable == False %} active{% endif %}"><span class="fas fa-times" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-body collapse show" id="overviewCard">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 19%">{% trans 'Degree' %}</th>
                        <th style="width: 30%">{% trans 'Evaluation period' %}</th>
                        <th style="width: 17%">{% trans 'Evaluated courses' %}</th>
                        <th style="width: 17%">{% trans 'Reviewed comments' %}</th>
                        <th style="width: 17%">{% trans 'Participation' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for degree, stats in degree_stats.items %}
                    <tr{% if degree == 'total' %} class="total-stats"{% endif %}>
                        <td>
                            {% if degree == 'total' %}{% trans 'Total' %}{% else %}{{ degree }}{% endif %}
                        </td>
                        <td>
                            {% if stats.num_courses != 0 %}
                                {{ stats.first_start }} &ndash; {{ stats.last_end }}
                            {% endif %}
                        </td>
                        <td>
                            {% include 'progress_bar.html' with done=stats.num_courses_evaluated total=stats.num_courses %}
                        </td>
                        <td>
                            {% include 'progress_bar.html' with done=stats.num_comments_reviewed total=stats.num_comments %}
                        </td>
                        <td>
                            {% include 'progress_bar.html' with done=stats.num_votes total=stats.num_enrollments_in_evaluation %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-primary">
        <div class="card-header d-flex">
            {% trans 'Courses' %}
            {% if request.user.is_staff %}
                <div class="ml-auto">
                    {% if not semester.is_archived %}
                        <div class="btn-group" role="group">
                            <a id="btnAdd" role="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Create/Import' %}</a>
                            <div class="dropdown-menu" aria-labelledby="btnAdd">
                                <a class="dropdown-item" href="{% url 'staff:course_create' semester.id %}">{% trans 'Create course' %}</a>
                                <a class="dropdown-item" href="{% url 'staff:single_result_create' semester.id %}">{% trans 'Create single result' %}</a>
                                <a class="dropdown-item" href="{% url 'staff:semester_import' semester.id %}">{% trans 'Import courses' %}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="btn-group ml-2" role="group">
                        <a id="btnExport" role="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Export' %}</a>
                        <div class="dropdown-menu" aria-labelledby="btnExport">
                            <a class="dropdown-item" href="{% url 'staff:semester_export' semester.id %}">{% trans 'Export results' %}</a>
                            <a class="dropdown-item" href="{% url 'staff:semester_raw_export' semester.id %}">{% trans 'Export raw course data' %}</a>
                            <a class="dropdown-item" href="{% url 'staff:semester_participation_export' semester.id %}">{% trans 'Export participation data' %}</a>
                        </div>
                    </div>
                    {% if not semester.is_archived %}
                        <a href="{% url 'staff:semester_questionnaire_assign' semester.id %}" class="btn btn-sm btn-light ml-2">{% trans 'Assign questionnaires' %}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="btn-switch mb-2" id="course-filter-buttons">
                <div class="btn-switch-label my-auto pr-0">{% trans 'Filter' %}</div>
                <div class="btn-toolbar">
                    <div class="btn-group icon-buttons">
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-circle icon-yellow"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'In preparation' %}">
                            <span class="fas fa-circle icon-yellow"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-square icon-gray"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Awaiting editor review' %}">
                            <span class="far fa-square icon-gray"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-check-square icon-yellow"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Approved by editor, awaiting staff review' %}">
                            <span class="far fa-check-square icon-yellow"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-check-square icon-green"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Approved by staff' %}">
                            <span class="far fa-check-square icon-green"></span>
                        </a>
                    </div>
                    <div class="btn-group icon-buttons">
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-pause icon-gray"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluation did not start yet' %}">
                            <span class="fas fa-pause icon-gray"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-play icon-gray"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'In evaluation' %}">
                            <span class="fas fa-play icon-gray"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-stop icon-green"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluated' %}">
                            <span class="fas fa-stop icon-green"></span>
                        </a>
                    </div>
                    <div class="btn-group icon-buttons">
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-comment icon-gray"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'No text answers available' %}">
                            <span class="fas fa-comment icon-gray"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-comment icon-yellow"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Text answers awaiting review' %}">
                            <span class="fas fa-comment icon-yellow"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-comment icon-green"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Text answers reviewed' %}">
                            <span class="fas fa-comment icon-green"></span>
                        </a>
                    </div>
                    <div class="btn-group icon-buttons">
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-gray"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluation not finished' %}">
                            <span class="fas fa-chart-bar icon-gray"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-red"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Results not yet published although they probably could be' %}">
                            <span class="fas fa-chart-bar icon-red"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-yellow"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Results not yet published' %}">
                            <span class="fas fa-chart-bar icon-yellow"></span>
                        </a>
                        <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-green"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Results published' %}">
                            <span class="fas fa-chart-bar icon-green"></span>
                        </a>
                    </div>
                </div>
            </div>
            <form id="course_operation_form" method="GET" action="{% url 'staff:semester_course_operation' semester.id %}">
                <table id="course-table" class="table table-striped table-narrow vertically-aligned">
                    <thead>
                        <tr>
                            <th data-orderable="false"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{% trans 'Course' %}</th>
                            <th>{% trans 'Evaluation period' %}</th>
                            <th data-orderable="false"></th>
                            <th data-orderable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                        <tr id="course-row-{{ course.id }}">
                            {% include 'staff_semester_view_course.html' with semester=semester course=course info_only=False %}
                        </tr>
                    {% empty %}
                        <tr><td><i>{% trans 'There are no courses in this semester.' %}</i><td></tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if request.user.is_staff and not semester.is_archived %}
                    <div class="my-2">
                        <a role="button" class="btn btn-sm btn-secondary"
                            onclick="$('#course_operation_form td').prev().find(':checkbox').prop('checked', true);">
                            {% trans 'Select all' %}
                        </a>
                        <a role="button" class="btn btn-sm btn-secondary"
                            onclick="$('#course_operation_form :checkbox').prop('checked', false);">{% trans 'Select none' %}
                        </a>
                    </div>
                    <div>
                        <button name="target_state" value="prepared" type="submit" class="btn btn-sm btn-light"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Courses in preparation or approved by editors' %}">
                            <span class="fas fa-circle icon-yellow"></span>
                            <span class="far fa-check-square icon-yellow"></span>
                            {% trans 'Ask for editor review' %}
                        </button>
                        <button name="target_state" value="new" type="submit" class="btn btn-sm btn-light"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Courses awaiting editor review, approved by editor or approved by staff' %}">
                            <span class="far fa-square icon-gray"></span>
                            <span class="far fa-check-square icon-yellow"></span>
                            <span class="far fa-check-square icon-green"></span>
                            {% trans 'Revert to preparation' %}
                        </button>
                        <button name="target_state" value="in_evaluation" type="submit" class="btn btn-sm btn-light"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Courses waiting for evaluation period to start' %}">
                            <span class="fas fa-pause icon-gray"></span>
                            {% trans 'Start evaluation' %}
                        </button>
                        <button name="target_state" value="published" type="submit" class="btn btn-sm btn-light"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Unpublished courses' %}">
                            <span class="fas fa-chart-bar icon-yellow"></span>
                            <span class="fas fa-chart-bar icon-red"></span>
                            {% trans 'Publish' %}
                        </button>
                        <button name="target_state" value="reviewed" type="submit" class="btn btn-sm btn-light"
                            data-toggle="tooltip" data-placement="top" title="{% trans 'Published courses' %}">
                            <span class="fas fa-chart-bar icon-green"></span>
                            {% trans 'Unpublish' %}
                        </button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Delete semester' as title %}
    {% trans 'Do you really want to delete the semester <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete semester' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteSemesterModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteSemesterModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_delete' %}",
                data: {"semester_id": dataId},
                success: function(){ location.replace("{% url 'staff:index' %}"); },
                error: function(){}
            });
        };
    </script>
    {% trans 'Archive semester' as title %}
    {% trans 'Do you really want to archive the semester <strong id="data-label"></strong>?' as question %}
    {% trans 'Archive semester' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='archiveSemesterModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function archiveSemesterModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_archive' %}",
                data: {"semester_id": dataId},
                success: function(){ location.reload(); },
                error: function(){}
            });
        };
    </script>
    {% trans 'Delete course' as title %}
    {% trans 'Do you really want to delete the course <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete course' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteCourseModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteCourseModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:course_delete' %}",
                data: {"course_id": dataId},
                success: function(){ $('#course-row-'+dataId).hide('slow', function(){ $('#course-row-'+dataId).remove(); }); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        $('.btn-toggle').click(function() {
            $(this).find('.btn').toggleClass('active');

            if ($(this).find('.btn-primary').size()>0) {
                $(this).find('.btn').toggleClass('btn-primary');
            }
            $(this).find('.btn').toggleClass('btn-secondary');
        });

        if (localStorage['collapse_overview'] === 'false') {
            $('#overviewCard').collapse('hide');
        }
        else {
            $('#overviewCard').collapse('show');
        }

        function saveCollapseState() {
            var state = window.localStorage['collapse_overview'] === 'true';
            localStorage['collapse_overview'] = (!state).toString();
        }

        $(window).bind("pageshow", function () {
            $('#course_operation_form :checkbox').prop('checked', false); // prevent wrong autofills
        });
    </script>


    {% get_current_language as LANGUAGE_CODE %}
    {% load static %}
    {% load compress %}

    {% compress js %}
        <script type="text/javascript" src="{% get_static_prefix %}js/plugins/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/plugins/dataTables.bootstrap4.min.js"></script>
    {% endcompress %}

    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(
            // return true for each line that should be visible after filtering
            // inspired by https://datatables.net/examples/plug-ins/range_filtering.html
            function( settings, data, dataIndex ) {
                if ($("[data-filter].active").length > 0) {
                    // check whether any icon row contains the data-filter value of the active button
                    return data.slice(1,5).some(str => str.includes($("[data-filter].active")[0].dataset.filter));
                }
                return true;
            }
        );

        $(document).ready(function() {
            var table = $('#course-table').DataTable({
                "paging": false,
                "info": false,
                "stateSave": true,
                "language": {
                    "url": "{% get_static_prefix %}dataTables/{{ LANGUAGE_CODE }}.json"
                },
                "order": [[5, "asc"]],
                "dom": 'frt',
                fnInitComplete: function() {
                    // add counts to each filter button
                    $("#course-filter-buttons [data-filter]").each(function(i, obj) {
                        var iconCount = 0;
                        [1,2,3,4].forEach(i => {
                            iconCount += table.column(i).data().filter((value, index) => value.includes(obj.dataset.filter)).count();
                        });
                        $(`<span class="badge badge-pill ${iconCount == 0 ? 'badge-btn-zero' : 'badge-btn'}">${iconCount}</span>`).appendTo(obj);
                    });

                    // add click events for filter buttons
                    $('#course-filter-buttons [data-filter]').click(function(e) {
                        // toggle active states and refresh table
                        var button = $(e.target).closest("a");
                        button.toggleClass("active");
                        $("[data-filter].active").not(button).removeClass("active");
                        table.draw();

                        // store which button was selected
                        localStorage.removeItem('course-filter_{{ semester.id }}');
                        if($("[data-filter].active").length) {
                            localStorage['course-filter_{{ semester.id }}'] = $("[data-filter].active")[0].dataset.filter;
                        }
                    });

                    // activate previously stored active button after page reload
                    $('#course-filter-buttons [data-filter="' + localStorage['course-filter_{{ semester.id }}'] + '"]').addClass("active");
                    table.draw();
                }
            });
        });
    </script>
{% endblock %}
