{% extends 'staff_semester_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Grade publish reminder' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>
        {% trans 'Grade publish reminder' %} ({{ semester.name }})
    </h3>
    <div class="card">
        <div class="card-body">
            {% for responsible, courses in responsible_list %}
                <b>{{ responsible.full_name }}</b><br />
                {% for course in courses %}
                    - {{ course.name }} (<span class="font-italic">{{ course.type }}</span>)<br />
                {% endfor %}
                {% if not forloop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
