{% extends 'staff_course_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Comments' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="d-flex">
        <h3 class="mr-auto">{{ course.name }} ({{ course.semester.name }})</h3>
        <div class="btn-switch my-auto d-print-none">
            <div class="btn-switch-label">{% trans 'View' %}</div>
            <div class="btn-group">
                <a href="{% url 'staff:course_comments' semester.id course.id %}" role="button" class="btn btn-sm btn-light{% if view == 'quick' %} active{% endif %}">
                    {% trans 'Quick' %}
                </a>
                <a href="{% url 'staff:course_comments' semester.id course.id %}?view=full" role="button" class="btn btn-sm btn-light{% if view == 'full' %} active{% endif %}">
                    {% trans 'Full' %}
                </a>
                <a href="{% url 'staff:course_comments' semester.id course.id %}?view=unreviewed" role="button" class="btn btn-sm btn-light{% if view == 'unreviewed' %} active{% endif %}">
                    {% trans 'Unreviewed' %}
                </a>
            </div>
        </div>
    </div>

    <div class="bs-callout bs-callout-warning">
        {% blocktrans %}If you select "no" as publishing option for a text answer on this page, the respective answer will be deleted irrevocably when publishing the course's results. If you should edit an answer, the original answer will also be deleted when publishing the course's results.{% endblocktrans %}
    </div>
{% endblock %}
