{% extends 'staff_base.html' %}

{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:user_index' %}">{% trans 'Users' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Import users' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% trans 'Import users' %}</h3>

    {% include 'staff_message_rendering_template.html' with errors=errors warnings=warnings success_messages=success_messages %}

    <form id="user-import-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <p>
                    {% trans 'Upload Excel file' %}
                    (<a href="{% url 'staff:download_sample_xls' 'sample_user.xls' %}">{% trans 'download sample file' %}</a>,
                    <button type="button" class="btn-link" onclick="copyHeaders(['Title', 'First name', 'Last name', 'Email'])">{% trans 'copy headers to clipboard' %}</button>).
                    {% trans 'This will create all contained users.' %}
                </p>
                {% include 'bootstrap_form.html' with form=excel_form %}
            </div>
        </div>
        <div class="card card-submit-area{% if test_passed %} card-submit-area-2{% endif %} text-center mb-3">
            <div class="card-body">
                {% if not test_passed %}
                    <button name="operation" value="test" type="submit" class="btn btn-primary form-submit-btn">{% trans 'Upload and test' %}</button>
                {% else %}
                    <button name="operation" value="test" type="submit" class="btn btn-light form-submit-btn">{% trans 'Upload and test' %}</button>
                    <button name="operation" value="import" type="button" onclick="importUserModalShow('import');" class="btn btn-primary form-submit-btn">{% trans 'Import previously uploaded file' %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block modals %}
{{ block.super }}
    {% trans 'Import Users' as title %}
    {% blocktrans asvar question %}Do you really want to import users from the Excel file? {% endblocktrans %}
    {% trans 'Import Users' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='importUserModal' title=title question=question action_text=action_text btn_type='primary' %}
    <script type="text/javascript">
        function importUserModalAction(dataId) {
            var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "operation").val(dataId);
            $('#user-import-form').append(input);
            $('#user-import-form').submit();   
        };
    </script>

{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}js/copy-to-clipboard.js"></script>
{% endblock %}
