{% extends 'staff_questionnaire_base.html' %}

{% block content %}
    {{ block.super }}
    <form id="questionnaire-form" method="POST" class="form-horizontal select2form">
        {% csrf_token %}
        <fieldset>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'General Options' %}</h5>
                    {% include 'bootstrap_form.html' with form=form %}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'Questions' %}</h5>
                    {{ formset.management_form }}
                    {% include 'bootstrap_form_errors.html' with errors=formset.non_form_errors %}
                    <table id="question_table" class="table table-vertically-aligned mb-3">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width: 37%">{% trans 'Question text (German)' %}</th>
                                <th style="width: 37%">{% trans 'Question text (English)' %}</th>
                                <th style="width: 20%">{% trans 'Question type' %}</th>
                                <th style="width: 6%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form_element in formset %}
                                {% include 'bootstrap_form_errors.html' with errors=form_element.non_field_errors %}

                                <tr class="select2tr sortable">
                                    {% for hidden in form_element.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% if editable %}
                                        <td class="movable">
                                            <span class="movable-icon fas fa-arrows-alt-v"></span>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% for field in form_element.visible_fields %}
                                        <td>{% include 'bootstrap_form_field_widget.html' with field=field %}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save questionnaire' %}</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block additional_javascript %}
    {% if editable %}
        {% include 'sortable_form_js.html' %}
        <script type="text/javascript">
            rowChanged = function(row) {
                nameDe = $(row.find('input[id$=-text_de]')).val();
                nameEn = $(row.find('input[id$=-text_en]')).val();
                return nameDe || nameEn
            };
            rowAdded = function(row) {
                row.find('a.btn-secondary').remove();
                applySelect2(row.find("select"));
            };
            makeFormSortable("question_table", "questions", rowChanged, rowAdded, "", true, true);
        </script>
    {% endif %}
{% endblock %}
