{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Users' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="d-flex mb-3">
        <div class="mr-auto">
            <a href="{% url 'staff:user_import' %}" class="btn btn-sm btn-light">{% trans 'Import users' %}</a>
            <a href="{% url 'staff:user_merge_selection' %}" class="btn btn-sm btn-light">{% trans 'Merge users' %}</a>
            <a href="{% url 'staff:user_bulk_delete' %}" class="btn btn-sm btn-light">{% trans 'Bulk delete users' %}</a>
            <a href="{% url 'staff:user_create' %}" class="btn btn-sm btn-dark">{% trans 'Create new user' %}</a>
        </div>
        <div class="btn-switch btn-switch-light">
            <div class="btn-switch-label">{% trans 'Inactive users' %}</div>
            <div class="btn-switch btn-group">
                <a href="{% url 'staff:user_index' %}?filter_users=false" role="button" class="btn btn-sm btn-light{% if not filter_users %} active{% endif %}">
                    {% trans 'Show' %}
                </a>
                <a href="{% url 'staff:user_index' %}?filter_users=true" role="button" class="btn btn-sm btn-light{% if filter_users %} active{% endif %}">
                    {% trans 'Hide' %}
                </a>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <table class="table table-striped vertically-aligned user-table" data-ordering="false">
                <thead>
                    <tr>
                        <th style="width: 25%">{% trans 'Name' %}</th>
                        <th style="width: 25%">{% trans 'Username' %}</th>
                        <th style="width: 40%">{% trans 'Information' %}</th>
                        <th style="width: 10%">{% trans 'Actions' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr id="user-row-{{ user.id }}">
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{% include 'staff_user_badges.html' with user=user %}</td>
                        <td>
                            <a href="{% url 'staff:user_edit' user.id %}" class="btn btn-secondary btn-sm"><span class="fas fa-pencil-alt"></span></a>
                            {% if user.can_be_deleted_by_manager %}
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteModalShow({{ user.id }}, '{{ user.full_name|escapejs }}');">
                                    <span class="fas fa-trash"></span
                                ></button>
                            {% else %}
                                <button type="button" disabled class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="left"
                                    title="{% blocktrans %}This user contributes to an evaluation (or is a delegate or CC user of
                                    such a person), participates in an evaluation whose participations haven't been archived yet or has special
                                    rights and as such cannot be deleted.{% endblocktrans %}">
                                    <span class="fas fa-trash"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Delete user' as title %}
    {% trans 'Do you really want to delete the user <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete user' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:user_delete' %}",
                data: {"user_id": dataId},
                success: function(){ $('#user-row-'+dataId).hide('slow', function(){ $('#user-row-'+dataId).remove(); }); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
{% endblock %}

{% block additional_javascript %}
    {% include 'datatables.html' with table_selector='.user-table' %}
{% endblock %}
