{% extends "staff_base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans "Course types" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="mb-3">
        <a href="{% url "staff:course_type_merge_selection" %}" class="btn btn-sm btn-secondary">{% trans "Merge course types" %}</a>
    </div>

    <form id="course-type-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {{ formset.management_form }}

        <table id="course_types_table" class="table vertically-aligned">
            <thead>
                <tr>
                    <th style="width: 45%">{% trans 'Name (German)' %}</th>
                    <th style="width: 45%">{% trans 'Name (English)' %}</th>
                    <th style="width: 10%">{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <td>
                            {% include "bootstrap_form_field_widget.html" with field=form.name_de %}
                        </td>
                        <td>
                            {% include "bootstrap_form_field_widget.html" with field=form.name_en %}
                        </td>
                        <td>
                            {% if form.instance.can_staff_delete %}
                                {% include "bootstrap_form_field_widget.html" with field=form.DELETE %}
                            {% else %}
                                <div class="disabled-tooltip" data-toggle="tooltip" data-placement="left" title="{% trans 'This course type cannot be deleted because it is used for at least one course.' %}"><a role="button" class="btn btn-sm btn-danger disabled"><span class="fa fa-trash"></a></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save course types' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        $('#course_types_table tbody tr').formset({
            prefix: 'form',
            deleteCssClass: 'btn btn-danger btn-sm fa fa-trash',
            deleteText: '',
            addText: '{% trans "add another" %}',
            added: function(row){
                //Remove all error messages
                row.find(".error-label").remove();
            }
        });
    </script>
{% endblock %}
