{% extends 'staff_base.html' %}

{% block title %}
    {% if semester %}
        {{ semester.name }} -
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Semesters' %}</li>
    {% if semester %}
        {% if disable_breadcrumb_semester %}
            <li class="breadcrumb-item">{{ semester.name }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{% url 'staff:semester_view' semester.id %}{% if request.GET.tab %}?tab={{ request.GET.tab }}{% endif %}">{{ semester.name }}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}
