{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:user_index' %}">{% trans 'Users' %}</a></li>
    {% if form.instance.id %}
        <li class="breadcrumb-item">{{ form.instance.full_name }}</li>
    {% else %}
        <li class="breadcrumb-item">{% trans 'Create user' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% if form.instance.id %}{% trans 'Edit user' %}{% else %}{% trans 'Create user' %}{% endif %}</h3>

    <form id="user-form" method="POST" enctype="multipart/form-data" class="form-horizontal multiselect-form">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="ml-auto col-sm-9 mb-3">
                    {% include 'staff_user_badges.html' with user=form.instance %}
                </div>
                {% include 'bootstrap_form.html' with form=form %}
            </div>
        </div>

        {% if form.instance.pk %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'Represented Users' %}</h5>
                    {% include 'user_list_with_links.html' with users=form.instance.represented_users.all %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'CC-User for' %}</h5>
                    {% include 'user_list_with_links.html' with users=form.instance.ccing_users.all %}
                </div>
            </div>
            {% if courses_contributing_to %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Export result pages' %}</h5>
                        <ul>
                            {% for semester, courses in courses_contributing_to %}
                                {% if courses %}
                                    <li>{{ semester.name }}</li>
                                    <ul>
                                        {% for course in courses %}
                                            <li>
                                                <a href="{% url 'results:course_detail' semester.id course.id %}?view=export&contributor_id={{ form.instance.id }}">
                                                    {{ course.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save user' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
