{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Templates' %}</li>
    <li class="breadcrumb-item">{{ template.name }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form id="template-form" method="POST" enctype="multipart/form-data" class="form-horizontal multiselect-form">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body row">
                <div class="col-9">
                    {% include 'bootstrap_form.html' with form=form email_form=True %}
                </div>
                <div class="col-3">
                    {% trans 'The following variables are available for this email template:' %}
                    {% for available_variable in available_variables %}
                        <code>{% templatetag openvariable %} {{ available_variable }} {% templatetag closevariable %}</code><br />
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save template' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
