{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Course types' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="mb-3">
        <a href="{% url 'staff:course_type_merge_selection' %}" class="btn btn-sm btn-secondary">{% trans 'Merge course types' %}</a>
    </div>

    <form id="course-type-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="card mb-3">
            <div class="card-body">
                <table id="course_types_table" class="table vertically-aligned">
                    <thead>
                        <tr>
                            <th class="movable"></th>
                            <th style="width: 45%">{% trans 'Name (German)' %}</th>
                            <th style="width: 45%">{% trans 'Name (English)' %}</th>
                            <th style="width: 10%">{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr class="sortable">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <td class="movable">
                                    <span class="movable-icon fas fa-arrows-alt-v"></span>
                                </td>
                                <td>
                                    {% include 'bootstrap_form_field_widget.html' with field=form.name_de %}
                                </td>
                                <td>
                                    {% include 'bootstrap_form_field_widget.html' with field=form.name_en %}
                                </td>
                                <td>
                                    {% if form.instance.can_be_deleted_by_manager %}
                                        {% include 'bootstrap_form_field_widget.html' with field=form.DELETE %}
                                    {% else %}
                                        <button type="button" disabled class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="left"
                                            title="{% trans 'This course type cannot be deleted because it is used for at least one course.' %}">
                                            <span class="fas fa-trash"></span>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save course types' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    {% include 'sortable_form_js.html' %}

    <script type="text/javascript">
        rowChanged = function(row) {
            nameDe = $(row.find('input[id$=-name_de]')).val();
            nameEn = $(row.find('input[id$=-name_en]')).val();
            return nameDe || nameEn
        };
        rowAdded = function(row) { };
        makeFormSortable("course_types_table", "form", rowChanged, rowAdded, "", true, false);
    </script>
{% endblock %}
