{% extends "staff_course_base.html" %}

{% load static %}

{% block content %}
    {{ block.super }}

    {% include "staff_message_rendering_template.html" with errors=errors warnings=warnings success_messages=success_messages %}

    <div class="row mb-3">
        <div class="col">
            <form id="participant-import-form" method="POST" enctype="multipart/form-data" class="form-vertical">
                <div class="card">
                    <div class="card-body import-card">
                        <h4 class="card-title">{% trans "Import Participants" %}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{% trans "From Excel file" %}</h6>
                        <p class="card-text">{% trans "Upload Excel file with participant data" %} (<a href="{% url "staff:download_sample_xls" "sample_user.xls" %}">{% trans "Sample File"%}</a>). {% trans "This will create all containing users." %}</p>
                        {% csrf_token %}
                        {% include "bootstrap_form.html" with form=participant_excel_form %}
                    </div>
                    <div class="card-footer text-center">
                        {% if not participant_test_passed %}
                            <button name="operation" value="test-participants" type="submit" class="btn btn-sm btn-primary form-submit-btn">{% trans "Upload and Test" %}</button>
                        {% else %}
                            <button name="operation" value="test-participants" type="submit" class="btn btn-sm btn-secondary form-submit-btn">{% trans "Upload and Test" %}</button>
                            <div class="form-submit-btn-divider"></div>
                            <button name="operation" value="import-participants" type="submit" class="btn btn-sm btn-primary form-submit-btn">{% trans "Import previously uploaded file" %}</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form id="participant-copy-form" method="POST" enctype="multipart/form-data" class="form-vertical">
                <div class="card">
                    <div class="card-body import-card">
                        <h4 class="card-title">{% trans "Copy Participants" %}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{% trans "From other course" %}</h6>
                        <p class="card-text">{% trans "Copy participants from another course." %}</p>
                        {% csrf_token %}
                        {% include "bootstrap_form.html" with form=participant_copy_form %}
                    </div>
                    <div class="card-footer text-center">
                        <button name="operation" value="copy-participants" type="submit" class="btn btn-sm btn-primary form-submit-btn">{% trans "Copy participants" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form id="contributor-import-form" method="POST" enctype="multipart/form-data" class="form-vertical">
                <div class="card">
                    <div class="card-body import-card">
                        <h4 class="card-title">{% trans "Import Contributors" %}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{% trans "From Excel file" %}</h6>
                        <p class="card-text">{% trans "Upload Excel file with contributor data" %} (<a href="{% url "staff:download_sample_xls" "sample_user.xls" %}">{% trans "Sample File"%}</a>). {% trans "This will create all containing users." %}</p>
                        {% csrf_token %}
                        {% include "bootstrap_form.html" with form=contributor_excel_form %}
                    </div>
                    <div class="card-footer text-center">
                        {% if not contributor_test_passed %}
                            <button name="operation" value="test-contributors" type="submit" class="btn btn-sm btn-primary form-submit-btn">{% trans "Upload and Test" %}</button>
                        {% else %}
                            <button name="operation" value="test-contributors" type="submit" class="btn btn-sm btn-secondary form-submit-btn">{% trans "Upload and Test" %}</button>
                            <div class="form-submit-btn-divider"></div>
                            <button name="operation" value="import-contributors" type="submit" class="btn btn-sm btn-primary form-submit-btn">{% trans "Import previously uploaded file" %}</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form id="contributor-copy-form" method="POST" enctype="multipart/form-data" class="form-vertical">
                <div class="card">
                    <div class="card-body import-card">
                        <h4 class="card-title">{% trans "Copy Contributors" %}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{% trans "From other course" %}</h6>
                        <p class="card-text">{% trans "Copy contributors from another course." %}</p>
                        {% csrf_token %}
                        {% include "bootstrap_form.html" with form=contributor_copy_form %}
                    </div>
                    <div class="card-footer text-center">
                        <button name="operation" value="copy-contributors" type="submit" class="btn btn-sm btn-primary form-submit-btn">{% trans "Copy Contributors" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
