{% load staff_templatetags %}

{% for message in success_messages %}
    <div class="alert alert-success alert-dismissable">
        <a role="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="fa fa-times"></span></a>
        {{ message }}
    </div>
{% endfor %}

{% for error in errors %}
    <div class="alert alert-danger alert-dismissable">
        <a role="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="fa fa-times"></span></a>
        {{ error }}
    </div>
{% endfor %}

{% for key, warninglist in warnings.items %}
    {% if warninglist %}
        <div class="card card-outline-warning mb-3">
            <div class="card-header" id="{{ key }}-q">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ key }}">{{ key|warningname }}</a>
            </div>
            <div id="{{ key }}" class="panel-collapse collapse in">
                <div class="card-body">
                    {% for warning in warninglist %}
                        <div class="alert alert-warning alert-dismissable">
                            <a role="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="fa fa-times"></span></a>
                            {{ warning }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
