{% extends 'staff_base.html' %}

{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Degrees' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form id="degree-form" method="POST" class="form-horizontal tomselectform">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="card mb-3">
            <div class="card-body">
                <table id="degree_table" class="table table-vertically-aligned">
                    <thead>
                        <tr>
                            <th class="movable"></th>
                            <th style="width: 25%">{% trans 'Name (German)' %}</th>
                            <th style="width: 25%">{% trans 'Name (English)' %}</th>
                            <th style="width: 40%">{% trans 'Import names' %}</th>
                            <th class="text-end" style="width: 10%">{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr class="tomselecttr sortable">
                                <td class="movable">
                                    <span class="movable-icon fas fa-up-down"></span>
                                </td>
                                <td>
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% include 'bootstrap_form_field_widget.html' with field=form.name_de %}
                                </td>
                                <td>
                                    {% include 'bootstrap_form_field_widget.html' with field=form.name_en %}
                                </td>
                                <td>
                                    {% include 'bootstrap_form_field_widget.html' with field=form.import_names %}
                                </td>
                                <td class="text-end">
                                    {% if form.instance.can_be_deleted_by_manager %}
                                        {% include 'bootstrap_form_field_widget.html' with field=form.DELETE class="d-none" %}
                                    {% else %}
                                        <button type="button" disabled class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="{% trans 'This degree cannot be deleted because it is used for at least one course.' %}">
                                            <span class="fas fa-trash"></span>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save degrees' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    <script src="{% static 'js/sortable_form.js' %}"></script>

    <script type="text/javascript">
        rowChanged = function(row) {
            nameDe = $(row.find('input[id$=-name_de]')).val();
            nameEn = $(row.find('input[id$=-name_en]')).val();
            return nameDe || nameEn
        };
        rowAdded = function(row) {
            applyTomSelect(row.find("select").get(), tagTomSelectOptions);
        };
        makeFormSortable("degree_table", "form", rowChanged, rowAdded, "", true, true);

        applyTomSelect(document.querySelectorAll("select:not(.form-template select)"), tagTomSelectOptions);
    </script>
{% endblock %}
