{% extends 'staff_questionnaire_base.html' %}

{% load static %}

{% block content %}
    {{ block.super }}
    {% if not editable %}
        <div class="callout callout-info">
            {% translate 'Some fields are disabled as this questionnaire is already in use.' %}
        </div>
    {% endif %}
    <form id="questionnaire-form" method="POST" class="form-horizontal tomselectform">
        {% csrf_token %}
        <fieldset>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% translate 'General Options' %}</h5>
                    {% include 'bootstrap_form.html' with form=form %}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="card mb-3">
                <div class="card-body table-responsive">
                    <h5 class="card-title">{% translate 'Questions' %}</h5>
                    {{ formset.management_form }}
                    {% include 'bootstrap_form_errors.html' with errors=formset.non_form_errors %}
                    <table id="question_table" class="table table-vertically-aligned mb-3">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="width-percent-37">{% translate 'Question text (German)' %}</th>
                                <th class="width-percent-37">{% translate 'Question text (English)' %}</th>
                                <th class="width-percent-20">{% translate 'Question type' %}</th>
                                <th class="width-percent-6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form_element in formset %}
                                {% include 'bootstrap_form_errors.html' with errors=form_element.non_field_errors %}

                                <tr class="tomselecttr sortable">
                                    {% for hidden in form_element.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% if editable %}
                                        <td class="movable">
                                            <span class="movable-icon fas fa-up-down"></span>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td>{% include 'bootstrap_form_field_widget.html' with field=form_element.text_de %}</td>
                                    <td>{% include 'bootstrap_form_field_widget.html' with field=form_element.text_en %}</td>
                                    <td class="question-type">
                                        {% include 'bootstrap_form_field_widget.html' with field=form_element.type %}
                                        <div class="form-check mt-1">
                                            <input class="form-check-input allow-textanswer-checkbox" id="{{ form_element.allows_additional_textanswers.id_for_label }}" name="{{ form_element.allows_additional_textanswers.html_name }}"
                                                type="checkbox" data-keep="true" {% if form_element.allows_additional_textanswers.value %} checked{% endif %}
                                                {% if form_element.allows_additional_textanswers.field.disabled %} disabled{% endif %} />
                                            <label class="form-check-label" for="{{ form_element.allows_additional_textanswers.id_for_label }}">{{ form_element.allows_additional_textanswers.label }}</label>
                                        </div>
                                    </td>
                                    <td>{% include 'bootstrap_form_field_widget.html' with field=form_element.DELETE %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% translate 'Save questionnaire' %}</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block additional_javascript %}
    {% if editable %}
        <script type="module">
            import { makeFormSortable } from "{% static 'js/sortable-form.js' %}";
            const rowChanged = function(row) {
                const nameDe = row.querySelector('textarea[id$=-text_de]')?.value;
                const nameEn = row.querySelector('textarea[id$=-text_en]')?.value;
                return nameDe || nameEn;
            };
            const rowAdded = function(row) {
                row.querySelectorAll('a.btn-secondary').forEach(el => {
                    el.remove();
                });
                applyTomSelect(row.querySelectorAll("select"));
                registerSelectChangedHandlers();
            };
            makeFormSortable("question_table", "questions", rowChanged, rowAdded, true, true);

            const selectChangedHandler = function(e) {
                const checkbox = this.closest("td.question-type").querySelector("input[type=checkbox]");
                if (e.currentTarget.value == 0 || e.currentTarget.value == 5) {  // 0: Text question; 5: Heading
                    checkbox.checked = false;
                    checkbox.disabled = true;
                } else {
                    checkbox.disabled = false;
                }
            };

            const registerSelectChangedHandlers = function() {
                document.querySelectorAll(".question-type select").forEach(selectElement => {
                    selectElement.addEventListener('change', selectChangedHandler);
                });
            };
            registerSelectChangedHandlers();
        </script>
    {% endif %}
{% endblock %}
