{% extends "staff_base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% load staff_templatetags %}
{% load evaluation_templatetags %}

{% block subtitle %}
    {{ block.super }}
    <li>{% trans "Users" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div>
        <a href="{% url "staff:user_import" %}" class="btn btn-sm btn-default">{% trans "Import users" %}</a>
        <a href="{% url "staff:user_merge_selection" %}" class="btn btn-sm btn-default">{% trans "Merge users" %}</a>
        <a href="{% url "staff:user_bulk_delete" %}" class="btn btn-sm btn-default">{% trans "Bulk delete users" %}</a>
        <a href="{% url "staff:user_create" %}{% if filter %}?filter={{ filter|urlencode }}{% endif %}" class="btn btn-sm btn-success">{% trans "Create new user" %}</a>
    </div>
    <table class="table table-striped user-table">
        <thead>
            <tr>
                <th class="col-sm-3">{% trans "Name" %}</th>
                <th class="col-sm-3">{% trans "Username" %}</th>
                <th class="col-sm-4">{% trans "Information" %}</th>
                <th class="col-sm-2">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr id="user-row-{{ user.id }}">
                <td>{{ user.full_name }}</td>
                <td>{{ user.username }}</td>
                <td>{% include_staff_user_labels user %}</td>
                <td>
                    <a href="{% url "staff:user_edit" user.id %}" class="btn btn-default btn-sm">{% trans "Edit" %}</a>
                    {% if user.can_staff_delete %}
                        <a class="btn btn-danger btn-sm" onclick="show_delete_modal({{ user.id }}, '{{ user.full_name|escapejs }}');">{% trans "Delete" %}</a>
                    {% else %}
                        <div data-toggle="tooltip" data-placement="left" class="disabled-tooltip"
                            title="{% blocktrans %}This user contributes to a course (or is a delegate or CC user of
                            such a person), participates in a course that hasn't been archived yet or has special
                            rights and as such cannot be deleted.{% endblocktrans %}">
                            <a class="btn btn-sm btn-danger disabled">{% trans "Delete" %}</a>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans "Delete user" as title %}
    {% trans 'Do you really want to delete the user <strong id="data-label"></strong>?' as question %}
    {% trans "Delete user" as action_text %}
    {% include_confirmation_modal "delete_modal" title question action_text "danger" %}
    <script type="text/javascript">
        function delete_modal_action(data_id) {
            $.ajax({
                type: "POST",
                url: "{% url "staff:user_delete" %}",
                data: {"user_id": data_id},
                success: function(){ $('#user-row-'+data_id).hide('slow', function(){ $('#user-row-'+data_id).remove(); }); },
                error: function(){ $('#user-row-'+data_id).effect("highlight", {color:"#eb595a"}, 2000); }
            });
        };
    </script>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/plugins/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.user-table').dataTable({
                "paging": false,
                "info": false,
                "stateSave": true,
                "ordering": false,
                "language": {
                    "url": "{% get_static_prefix %}dataTables/{{ LANGUAGE_CODE }}.json"
                }
            });
        });
    </script>
{% endblock %}
