{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Grade publish reminder' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>
        Grade publish reminder ({{ semester.name }})
    </h3>
    <div class="card">
        <div class="card-body">
            {% for responsible, courses in responsible_list %}
                <p>
                    <b>{{ responsible.full_name }}</b>
                </p>
                <ul>
                    {% for course in courses %}
                    <li>{{ course.name }} (<i>{{course.type}}</i>)</li>
                    {% endfor %}
                </ul>
                {% if not forloop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
