{% load i18n %}

{% if questionnaires %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{% trans headline %}</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped questionnaire-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-sm-8">{% trans "Questionnaire" %}</th>
                        <th class="col-sm-4">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for questionnaire in questionnaires %}
                    <tr class="sortable questionnaire" data-id="{{ questionnaire.id }}" data-index="{{ questionnaire.index }}">
                        <td style="width: 10px; cursor:move"><span style="font-size: 16px; top: 8px;" class="glyphicon glyphicon-move"></span></td>
                        <td>
                            <strong>{{ questionnaire.name }}</strong>
                            <br>
                            {% blocktrans count questionnaire.question_set.all.count as count %}{{ count }} question {% plural %} {{ count }} questions{% endblocktrans %},
                            {% blocktrans count questionnaire.contributions.count as count %}used {{ count }} time {% plural %} used {{ count }} times {% endblocktrans %}
                            {% if questionnaire.obsolete %}<span class="label label-info">{% trans "obsolete" %}</span>{% endif %}
                        </td>
                        <td>
                            {% if questionnaire.can_staff_edit %}
                                <a href="{% url "staff:questionnaire_edit" questionnaire.id %}" class="btn btn-sm btn-default">{% trans "Edit" %}</a>
                            {% else %}
                                <div data-toggle="tooltip" data-placement="left" class="disabled-tooltip" title="{% trans "This questionnaire cannot be edited because it is already in use." %}"><a href="#" class="btn btn-sm btn-default" disabled="disabled">{% trans "Edit" %}</a></div>
                            {% endif %}
                            <a href="{% url "staff:questionnaire_view" questionnaire.id %}" class="btn btn-sm btn-default">{% trans "Preview" %}</a>
                            <a href="{% url "staff:questionnaire_copy" questionnaire.id %}" class="btn btn-sm btn-default">{% trans "Copy" %}</a>
                            {% if questionnaire.can_staff_delete %}
                                <a href="{% url "staff:questionnaire_delete" questionnaire.id %}" class="btn btn-sm btn-danger">{% trans "Delete" %}</a>
                            {% else %}
                                <div data-toggle="tooltip" data-placement="left" class="disabled-tooltip" title="{% trans "This questionnaire cannot be deleted because it is already in use." %}"><a href="#" class="btn btn-sm btn-danger" disabled="disabled">{% trans "Delete" %}</a></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
