{% extends "staff_course_base.html" %}

{% load morefilters %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <h3>{{ course.name }} ({{ course.semester.name }})</h3>
    
    {% if course_sections %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Comments about the Course" %}</span>
            </div>
            <div class="panel-body">
                {% regroup course_sections by questionnaire as sections_grouped %}
                {% include "staff_course_comments_section.html" %}
            </div>
        </div>
    {% endif %}
    {% if contributor_sections %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Comments about the Contributors" %}</span>
            </div>
            <div class="panel-body">
                {% regroup contributor_sections by questionnaire as sections_grouped %}
                {% include "staff_course_comments_section.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
    function press(id, action) {
        if($("#"+id+"-"+action).hasClass("active")) {
            $("#"+id+"-buttons").children().removeClass("active");
            action = "unreview";
        }
        else {
            $("#"+id+"-buttons").children().removeClass("active");
            $("#"+id+"-"+action).addClass("active");
        }
        var parameters = {"id": id, "action": action, "course_id": {{ course.id }}};
        $.post('{% url "evap.staff.views.course_comments_update_publish" %}', parameters);
    }
    </script>
{% endblock %}
