{% extends "staff_base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:user_index' %}">{% trans 'Users' %}</a></li>
    {% if form.instance.id %}
        <li class="breadcrumb-item">{{ form.instance.full_name }}</li>
    {% else %}
        <li class="breadcrumb-item">{% trans 'Create user' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% if form.instance.id %}{% trans 'Edit user' %}{% else %}{% trans 'Create user' %}{% endif %}</h3>

    <div class="ml-auto col-sm-9 mb-3">
        {% include "staff_user_labels.html" with user=form.instance %}
    </div>

    <form id="user-form" method="POST" enctype="multipart/form-data" class="form-horizontal multiselect-form">
        {% csrf_token %}
        {% include "bootstrap_form.html" with form=form %}

        {% if form.instance.pk %}
            <fieldset>
                <legend>{% trans "Represented Users" %}</legend>
                {% include "user_list_with_links.html" with users=form.instance.represented_users.all %}
            </fieldset>
            <fieldset>
                <legend>{% trans "CC-User for" %}</legend>
                {% include "user_list_with_links.html" with users=form.instance.ccing_users.all %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Courses contributing to (active semester)" %}</legend>
                {% if courses_contributing_to %}
                    <ul>
                        {% for course in courses_contributing_to %}
                            <li>{{ course.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        <i>{% trans "No courses" %}</i>
                    </p>
                {% endif %}
            </fieldset>
        {% endif %}
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans "Save user" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
