{% for entry in importer_log.success_messages %}
    <div class="alert alert-success alert-dismissible">
        {{ entry.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endfor %}

{% for category, errorlist in importer_log.errors_by_category.items %}
    <div class="card collapsible card-outline-danger mb-3">
        <div class="card-header">
            <a class="collapse-toggle" data-bs-toggle="collapse" href="#{{ category.value.id }}Card" aria-expanded="false"
                    aria-controls="{{ category.value.id }}Card">
                {{ category.value.display_name }}
            </a>
        </div>
        <div class="collapse show" id="{{ category.value.id }}Card">
            <div class="card-body">
                {% for error in errorlist %}
                    <div class="alert alert-danger alert-dismissible">
                        {{ error.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% for category, warninglist in importer_log.warnings_by_category.items %}
    <div class="card card-outline-warning collapsible mb-3">
        <div class="card-header">
            <a class="collapse-toggle" data-bs-toggle="collapse" href="#{{ category.value.id }}Card" aria-expanded="false"
                    aria-controls="{{ category.value.id }}Card">
                {{ category.value.display_name }}
            </a>
        </div>
        <div class="collapse show" id="{{ category.value.id }}Card">
            <div class="card-body">
                {% for warning in warninglist %}
                    <div class="alert alert-warning alert-dismissible">
                        {{ warning.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
