{% extends "staff_semester_base.html" %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Select the questionnaires which shall be assigned each of these course types and the responsible contributors. This will only change courses in the state 'new'. If you do select nothing, the currently applied questionnaires for the corresponding course type or contributor will not be changed." %}
    </p>
    <form id="questionnaire-assign-form" method="POST" class="form-horizontal multiselect-form">
        {% csrf_token %}
        <fieldset>
            {% include "bootstrap_form.html" with form=form %}
        </fieldset>
        <div class="form-group well">
            <div class="offset-sm-3 col-sm-6">
               <input type="submit" value="{% trans "Assign questionnaires" %}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}
