{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'FAQ Sections' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="card mb-3">
            <div class="card-body">
                <table id="section_table" class="table vertically-aligned">
                    <thead>
                        <tr>
                            <th class="movable"></th>
                            <th style="width: 45%">{% trans 'Section title (German)' %}</th>
                            <th style="width: 45%">{% trans 'Section title (English)' %}</th>
                            <th style="width: 10%">{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in formset %}
                        <tr class="sortable">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <td class="movable">
                                <span class="movable-icon fas fa-arrows-alt-v"></span>
                            </td>
                            <td>{% include 'bootstrap_form_field_widget.html' with field=form.title_de %}</td>
                            <td>{% include 'bootstrap_form_field_widget.html' with field=form.title_en %}</td>
                            <td>
                                {% if form.instance.id %}
                                    <a href="{% url 'staff:faq_section' form.instance.id %}" class="btn btn-secondary btn-sm"><span class="fas fa-pencil-alt"></span></a>
                                {% endif %}
                                {% include 'bootstrap_form_field_widget.html' with class="d-none" field=form.DELETE %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save FAQ sections' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    {% include 'sortable_form_js.html' %}

    <script type="text/javascript">
        rowChanged = function(row) {
            nameDe = $(row.find('input[id$=-title_de]')).val();
            nameEn = $(row.find('input[id$=-title_en]')).val();
            return nameDe || nameEn
        };
        rowAdded = function(row) {
            row.find('a.btn-secondary').remove();
        };
        makeFormSortable("section_table", "form", rowChanged, rowAdded, "", true, false);
    </script>
{% endblock %}
