{% extends "staff_semester_base.html" %}

{% load i18n %}
{% load static %}
{% load morefilters %}

{% block content %}
    {{ block.super }}

    <div class="button-menu">
        <a href="{% url "evap.staff.views.semester_edit" semester.id %}" class="btn btn-sm btn-default">{% trans "Edit Semester" %}</a>
        <a href="{% url "evap.staff.views.semester_delete" semester.id %}" class="btn btn-sm btn-danger" {% if not semester.can_staff_delete %} disabled="disabled" {% endif %}>{% trans "Delete Semester" %}</a>
        <a href="{% url "evap.staff.views.semester_archive" semester.id %}" class="btn btn-sm btn-danger" {% if not semester.is_archiveable %} disabled="disabled" {% endif %}>{% trans "Archive Semester" %}</a>
        &nbsp;
        <a href="{% url "evap.staff.views.course_create" semester.id %}" class="btn btn-sm btn-default">{% trans "Create Course" %}</a>
        <a href="{% url "evap.staff.views.semester_import" semester.id %}" class="btn btn-sm btn-default">{% trans "Import Courses" %}</a>
        <a href="{% url "evap.staff.views.semester_assign_questionnaires" semester.id %}" class="btn btn-sm btn-default">{% trans "Assign Questionnaires" %}</a>
        &nbsp;
        <a href="{% url "evap.staff.views.semester_lottery" semester.id %}" class="btn btn-sm btn-default">{% trans "Lottery" %}</a>
        &nbsp;
        <a href="{% url "evap.staff.views.semester_todo" semester.id %}" class="btn btn-sm btn-default">{% trans "Todo" %}</a>
        &nbsp;

        <div class="btn-group">
            <a href="{% url "evap.rewards.views.semester_reward_points" semester.id %}" class="btn btn-sm btn-default">{% trans "Reward Points" %}</a>
            <div class="btn-group btn-toggle">
                <a href="{% url "evap.rewards.views.semester_activation" semester.id "on" %}" class="btn btn-sm btn-default {% if rewards_active %}active{% endif %}">{% trans "On" %}</a>
                <a href="{% url "evap.rewards.views.semester_activation" semester.id "off" %}" class="btn btn-sm btn-default {% if rewards_active|is_false %}active{% endif %}">{% trans "Off" %}</a>
            </div>
        </div>
    </div>

    {% if courses_by_state %}
        <ul class="nav nav-tabs">
            {% for state, courses in courses_by_state %}
                <li><a href="#tab{{ forloop.counter }}" data-tab="{{ forloop.counter }}" data-toggle="tab">{{ state|statename }} ({{ courses|length }})</a></li>
            {% endfor %}
        </ul>

            <div class="tab-content">
            {% for state, courses in courses_by_state %}
                <div id="tab{{ forloop.counter }}" class="tab-pane">
                <table class="table table-striped">
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td class="maximize">
                            <div>
                            {% if course.can_staff_edit %}
                                <a href="{% url "evap.staff.views.course_edit" semester.id course.id %}">{{ course.name }}</a>
                            {% else %}
                                {{ course.name }}
                            {% endif %}
                            </div>
                            <div style="font-style: italic">
                                {{ course.responsible_contributors_name }}
                            </div>
                            <span class="label label-default">{{ course.degree }}</span>
                            <span class="label label-default">{{ course.kind }}</span>
                            <span class="label label-default">{% if course.is_graded %}{% trans "graded" %}{% else %}{% trans "not graded" %}{% endif %}</span>
                            {% for warning in course.warnings %}
                                <span class="label label-warning">{{ warning }}</span>
                            {% endfor %}
                        </td>
                        <td class="minimize">{{ course.vote_start_date|date:"SHORT_DATE_FORMAT" }} - {{ course.vote_end_date|date:"SHORT_DATE_FORMAT" }}</td>
                        {% if state == 'inEvaluation' or state == 'evaluated' or state == 'reviewed' or state == 'published' %}
                            {% with num_participants=course.num_participants num_voters=course.num_voters num_textanswers=course.textanswer_set.count num_checked_textanswers=course.checked_textanswer_set.count %}
                                {% if num_participants %}
                                    <td class="minimize">
                                        <p class="twipsify" title="{% trans "Voters" %}">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span>{{ num_voters }}/{{ num_participants }}</span>
                                            <span>({{ num_voters|percentage:num_participants|default:'&mdash;' }})</span>
                                        </p>
                                        {% if course.can_staff_review %}
                                            <a href="{% url "evap.staff.views.course_review" semester.id course.id %}" class="twipsify" title="{% trans "Click to review text answers" %}">
                                                <span class="glyphicon glyphicon-comment"></span>
                                                <span>{{ num_checked_textanswers }}/{{ num_textanswers }}</span>
                                                <span>({{ num_checked_textanswers|percentage:num_textanswers|default:'&mdash;' }})</span>
                                            </a>
                                        {% else %}
                                            <p class="twipsify" title="{% trans "Text answers" %}">
                                                <span class="glyphicon glyphicon-comment"></span>
                                                <span>{{ num_textanswers }}</span>
                                            </p>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <p class="twipsify" title="{% trans "Voters" %}">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span>&mdash;</span>
                                    </p>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <td class="minimize">
                                <p class="twipsify" title="{% trans "Participants" %}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>{{ course.num_participants }}</span>
                                </p>
                            </td>
                        {% endif %}
                        <td class="minimize">
                            <a href="{% url "evap.staff.views.course_email" semester.id course.id %}" class="btn btn-sm btn-default">{% trans "Email" %}</a>
                            {% if state == 'new' or state == 'prepared' or state == 'lecturerApproved' or state == 'approved' %}
                                <a href="{% url "evap.staff.views.course_preview" semester.id course.id %}" class="btn btn-sm btn-default">{% trans "Preview" %}</a>
                            {% endif %}
                            {% if state == 'inEvaluation' or state == 'evaluated' or state == 'reviewed' or state == 'published' %}
                                <a href="{% url "evap.staff.views.course_comments" semester.id course.id %}" class="btn btn-sm btn-default">{% trans "Comments" %}</a>
                            {% endif %}
                            {% if state == 'inEvaluation' or state == 'evaluated' or state == 'reviewed' %}
                                <a href="{% url "evap.results.views.course_detail" semester.id course.id %}" title="{% trans "Preview results" %}" class="btn btn-sm btn-default">{% trans "Preview results" %}</a>
                            {% endif %}
                            {% if course.can_staff_delete %}
                                <a href="{% url "evap.staff.views.course_delete" semester.id course.id %}" class="btn btn-sm btn-danger">{% trans "Delete" %}</a>
                            {% endif %}
                            {% if state == 'published' %}
                                <a href="{% url "evap.results.views.course_detail" semester.id course.id %}" title="{% trans "Results" %}" class="btn btn-sm btn-default">{% trans "Results" %}</a>
                                <a href="{% url "evap.staff.views.course_unpublish" semester.id course.id %}" title="{% trans "Unpublish" %}" class="btn btn-sm btn-default">{% trans "Unpublish" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

                <p>
                {% ifequal state "new" %}
                    <a class="btn btn-default" href="{% url "evap.staff.views.semester_contributor_ready" semester.id %}">{% trans "Enable courses for Lecturer Review..." %}</a>
                {% endifequal %}
                {% ifequal state "prepared" %}
                    <a class="btn btn-default" href="{% url "evap.staff.views.semester_revert_to_new" semester.id %}">{% trans "Revert courses to New..." %}</a>
                {% endifequal %}
                {% if state == 'new' or state == 'prepared' or state == 'lecturerApproved' %}
                    <a class="btn btn-default" href="{% url "evap.staff.views.semester_approve" semester.id %}">{% trans "Approve courses..." %}</a>
                {% endif %}

                {% ifequal state "lecturerApproved" %}
                    <a class="btn btn-default" href="{% url "evap.staff.views.semester_contributor_ready" semester.id %}">{% trans "Re-Enable courses for Lecturer Review..." %}</a>
                {% endifequal %}

                {% ifequal state "reviewed" %}
                    <a class="btn btn-default" href="{% url "evap.staff.views.semester_publish" semester.id %}">{% trans "Publish courses..." %}</a>
                {% endifequal %}
                </p>
                <p>&nbsp;</p>
                </div>
            {% endfor %}
            </div>
    {% else %}
        <p>{% trans "There are no courses for this semester yet." %}</p>
    {% endif %}
{% endblock %}

{% block on_document_ready %}
    var defaultTab = "#tab1";

    // The selected tab can change in three ways:
    // 1. The page is opened
    //    Select the tab given in the url, or select the previously selected tab, or default to tab 1
    var storedHash = localStorage.getItem('evap.staff_semester_view.last_tab');
    var hash = window.location.hash || storedHash || defaultTab;
    //    Don't add a new history item, but replace the current one by appending the selected tab
    $('ul.nav a[href="' + hash + '"]').tab('show');
    history.replaceState(null, null, hash);

    // 2. The user clicks on a tab link
    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      //  Add a new history item
      history.pushState(null, null, this.hash);
    });

    // 3. The user navigates back
    $(window).on("popstate", function() {
        var hash = window.location.hash || defaultTab;
        $('ul.nav a[href="' + hash + '"]').tab('show');
    });

    // This event captures all three occasions of changing the selected tab
    // and persists the newly selected tab into localStorage
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('evap.staff_semester_view.last_tab', this.hash);
    });

    $('.btn-toggle').click(function() {
        $(this).find('.btn').toggleClass('active');  
        
        if ($(this).find('.btn-primary').size()>0) {
            $(this).find('.btn').toggleClass('btn-primary');
        }            
        $(this).find('.btn').toggleClass('btn-default');
    });
{% endblock %}
