{% extends "staff_base.html" %}

{% load i18n %}
{% load static %}

{% block subtitle %}
    {{ block.super }}
    <li>{% trans "FAQ Sections" %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="col-sm-offset-1">
        <table id="section_table" class="table">
            {% for form in formset %}
                {% if forloop.first %}
                    <thead>
                        <th style="width: 10px;">&nbsp;</th>
                        {% for field in form.visible_fields %}
                            {% if forloop.last %}
                                <th>{% trans "Actions" %}</th>
                            {% else %}
                                <th>{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                {% endif %}

                <tr>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <td style="width: 10px; cursor:move"><span style="font-size: 16px; top: 8px;" class="glyphicon glyphicon-move"></span></td>
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.last and form.instance.id %}
                                <a href="{% url "evap.staff.views.faq_section" form.instance.id %}" class="btn btn-default btn-sm">{% trans "Edit" %}</a>
                            {% endif %}
                            {{ field.errors }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
        <div class="form-group well">
            <div class="col-sm-6">
                <input type="submit" value="{% trans "Save FAQ sections" %}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        // set the order fields to the position the rows currently have on the page
        function apply_ordering() {
            $(document).find('tr').each(function(i) {
                name_de = $($(this).find('input[id$=-title_de]')).val();
                name_en = $($(this).find('input[id$=-title_en]')).val();
                if (name_de || name_en) {
                    $(this).find('input[id$=-order]').val(i);
                }
                else {
                    // if the row is empty (has no text in the input fields) set the order to -1 (default),
                    // so that the one extra row doesn't change its initial value
                    $(this).find('input[id$=-order]').val(-1);
                }
            });
        }

        $(document).ready(function() {
            if ($.fn.button.noConflict != undefined) {
                $.fn.button.noConflict();
            }

            $('#section_table tbody tr').formset({
                prefix: 'form',
                deleteCssClass: 'btn btn-danger btn-sm',
                deleteText: '{% trans "remove" %}',
                addText: '{% trans "add another" %}',
                added: function(row) {
                    row.find('input[id$=-order]').val(row.parent().children().length);
                    row.find('a.btn-default').remove();
                }
            });

            $('tbody').sortable({
                items: 'tr',
                handle: 'td:first'
            });

            $('form').submit(function() {
                apply_ordering();
                return true;
            });
        });
    </script>
{% endblock %}
