{% extends "staff_semester_base.html" %}

{% load i18n %}
{% load staff_templatetags %}

{% block content %}
    {{ block.super }}
    <p>{% blocktrans %}Do you want to change the states of the following courses from <strong>{{ current_state_name }}</strong> to <strong>{{ new_state_name }}</strong>?{% endblocktrans %}</p>

    <form method="POST">
        {% csrf_token %}
        {% for course in courses %}
            <input type="hidden" name="course_ids" value="{{ course.id }}" />
        {% endfor %}

        <table class="table table-striped">
            <tbody>
            {% for course in courses %}
                <tr>
                    {% include_staff_semester_view_course semester course.state course disable_if_archived info_only=True %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button type="submit" name="operation" value="{{ operation }}" class="btn btn-primary">{% trans "Confirm" %}</button>
        <a href="{% url "evap.staff.views.semester_view" semester.id %}" class="btn btn-default">{% trans "Cancel" %}</a>
    </form>
{% endblock %}
