{% extends "staff_course_base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block content %}
    {{ block.super }}

    {% include "staff_message_rendering_template.html" with errors=errors warnings=warnings success_messages=success_messages %}

    <div class="panel panel-info">
        <div class="panel-heading"> Participant Import </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-6">
                    <form id="participant-import-form" method="POST" enctype="multipart/form-data" class="form-vertical">
                        <div class="panel panel-default">
                            <div class="panel-heading"> From Excel File </div>
                            <div class="panel-body">
                                <p>
                                {% trans "Upload user data from excel file (" %}<a href="{% get_static_prefix %}sample_user.xls">{% trans "Sample File"%}</a>{% trans "). This will create all containing users." %}
                                </p>
                                {% csrf_token %}
                                {% bootstrap_form excel_form layout='vertical' %}
                            </div>
                            <div class="panel-footer text-center">
                                {% if not participant_test_passed %}
                                <button name="operation" value="test" type="submit" class="btn btn-primary form-submit-btn">{% trans "Upload and Test" %}</button>
                                {% else %}
                                <button name="operation" value="test" type="submit" class="btn btn-default form-submit-btn">{% trans "Upload and Test" %}</button>
                                <div class="form-submit-btn-divider"></div>
                                <button name="operation" value="import" type="submit" class="btn btn-primary form-submit-btn">{% trans "Import previously uploaded file" %}</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-xs-6">
                    <form id="participant-copy-form" method="POST" enctype="multipart/form-data" class="form-vertical">
                        <div class="panel panel-default">
                            <div class="panel-heading"> From Other Course </div>
                            <div class="panel-body">
                                <p>
                                {% trans "Copy users from another course." %}
                                </p>
                                {% csrf_token %}
                                {% bootstrap_form copy_form layout='vertical'%}
                            </div>
                            <div class="panel-footer text-center">
                                <button form="participant-copy-form" name="operation" value="copy" type="submit" class="btn btn-primary form-submit-btn">{% trans "Copy Participants" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- Participant Import Panel End --!>

    <div class="panel panel-info">
    <div class="panel-heading"> Contributor Import </div>
    <div class="panel-body">
    Coming Soon!
    </div>
    </div>
    {% endblock %}
