{% extends 'staff_semester_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Assign questionnaires' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% trans 'Assign questionnaires' %}</h3>

    <form id="questionnaire-assign-form" method="POST" class="form-horizontal multiselect-form">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <p>{% trans 'Select the questionnaires which shall be assigned each of these course types and the responsible contributors. This will only change courses in preparation. If you do select nothing, the currently applied questionnaires for the corresponding course type or contributor will not be changed.' %}</p>
                <fieldset>
                    {% include 'bootstrap_form.html' with form=form %}
                </fieldset>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Assign questionnaires' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
