{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:course_type_index' %}">{% trans 'Course types' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Merge course types' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% trans 'Merge course types' %}</h3>

    <form id="course-type-merge-selection-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <p>{% trans 'Select the course types you want to merge.' %}</p>
                {% include 'bootstrap_form.html' with form=form %}
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Show merge info' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
