{% extends 'staff_semester_base.html' %}

{% load evaluation_filters %}

{% block content %}
    {{ block.super }}

    <h3>
        {{ semester.name }}
        {% if request.user.is_manager %}
            &nbsp;
            <a href="{% url 'staff:semester_edit' semester.id %}" class="btn btn-sm btn-secondary">{% trans 'Edit' %}</a>
            <a onclick="deleteSemesterModalShow({{ semester.id }}, '{{ semester.name|escapejs }}');" class="btn btn-sm btn-danger{% if not semester.can_be_deleted_by_manager %} disabled{% endif %}">{% trans 'Delete' %}</a>
        {% endif %}
    </h3>

    {% if request.user.is_manager %}
        <div class="card collapsible mb-3">
            <div class="card-header d-flex">
                <a class="collapse-toggle{% if not semester.participations_are_archived and not semester.grade_documents_are_deleted and not semester.results_are_archived %} collapsed{% endif %}" data-toggle="collapse" href="#archivingCard">{% trans 'Archiving' %}</a>
            </div>
            <div class="collapse{% if semester.participations_are_archived or semester.grade_documents_are_deleted or semester.results_are_archived %} show{% endif %}" id="archivingCard">
                <div class="card-body">
                    {% if semester.participations_can_be_archived %}
                        <a onclick="archiveParticipationsModalShow({{ semester.id }}, '{{ semester.name|escapejs }}');" class="btn btn-sm btn-warning">{% trans 'Archive participations' %}</a>
                    {% elif semester.participations_are_archived %}
                        <a class="btn btn-sm btn-success disabled">{% trans 'Participations have been archived' %}</a>
                    {% else %}
                        <span data-toggle="tooltip" data-placement="top" title="{% trans 'The participations in this semester can not be archived.' %}"><a class="btn btn-sm btn-warning disabled">{% trans 'Archive participations' %}</a></span>
                    {% endif %}
                    {% if semester.grade_documents_can_be_deleted %}
                        <a onclick="deleteGradeDocumentsModalShow({{ semester.id }}, '{{ semester.name|escapejs }}');" class="btn btn-sm btn-warning">{% trans 'Delete grade documents' %}</a>
                    {% elif semester.grade_documents_are_deleted %}
                        <a class="btn btn-sm btn-success disabled">{% trans 'Grade documents have been deleted' %}</a>
                    {% endif %}
                    {% if semester.results_can_be_archived %}
                        <a onclick="archiveResultsModalShow({{ semester.id }}, '{{ semester.name|escapejs }}');" class="btn btn-sm btn-warning">{% trans 'Archive results' %}</a>
                    {% elif semester.results_are_archived %}
                        <a class="btn btn-sm btn-success disabled">{% trans 'Results have been archived' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card collapsible mb-3">
        <div class="card-header d-flex">
            <a class="collapse-toggle" data-toggle="collapse" href="#overviewCard" aria-expanded="false" aria-controls="overviewCard" onclick="saveCollapseState()">{% trans 'Overview' %}</a>
            {% if request.user.is_manager %}
                <div class="ml-auto">
                    {% if not semester.participations_are_archived %}
                        <a href="{% url 'staff:semester_preparation_reminder' semester.id %}" class="btn btn-sm btn-light">{% trans 'Preparation reminder' %}</a>
                        <a href="{% url 'staff:semester_grade_reminder' semester.id %}" class="btn btn-sm btn-light ml-2">{% trans 'Grade publish reminder' %}</a>
                    {% endif %}
                    <div class="btn-switch ml-2">
                        <div class="btn-switch-label">{% trans 'Reward points active' %}</div>
                        <div class="btn-switch btn-group icon-buttons">
                            <a href="{% url 'rewards:semester_activation' semester.id 'on' %}" class="btn btn-sm btn-light{% if rewards_active %} active{% endif %}"><span class="fas fa-check" aria-hidden="true"></span></a>
                            <a href="{% url 'rewards:semester_activation' semester.id 'off' %}" class="btn btn-sm btn-light{% if not rewards_active %} active{% endif %}"><span class="fas fa-times" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="collapse show" id="overviewCard">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 19%">{% trans 'Degree' %}</th>
                            <th style="width: 30%">{% trans 'Evaluation period' %}</th>
                            <th style="width: 17%">{% trans 'Finished evaluations' %}</th>
                            <th style="width: 17%">{% trans 'Reviewed text answers' %}</th>
                            <th style="width: 17%">{% trans 'Participation' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for degree, stats in degree_stats.items %}
                        <tr{% if degree == 'total' %} class="total-stats"{% endif %}>
                            <td>
                                {% if degree == 'total' %}{% trans 'Total' %}{% else %}{{ degree }}{% endif %}
                            </td>
                            <td>
                                {% if stats.num_evaluations != 0 %}
                                    {{ stats.first_start }} &ndash; {{ stats.last_end }}
                                {% endif %}
                            </td>
                            <td>
                                {% include 'progress_bar.html' with done=stats.num_evaluations_evaluated total=stats.num_evaluations %}
                            </td>
                            <td>
                                {% include 'progress_bar.html' with done=stats.num_textanswers_reviewed total=stats.num_textanswers %}
                            </td>
                            <td>
                                {% include 'progress_bar.html' with done=stats.num_votes total=stats.num_enrollments_in_evaluation %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-outline-primary">
        <div class="card-header d-flex">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="evaluationsTab" data-toggle="pill" href="#evaluations" role="tab" onclick="saveSelectedTab('evaluations');">
                        <span class="fas fa-clipboard-check"></span> {% trans 'Evaluations' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="coursesTab" data-toggle="pill" href="#courses" role="tab" onclick="saveSelectedTab('courses');">
                        <span class="fas fa-chalkboard-teacher"></span> {% trans 'Courses' %}
                    </a>
                </li>
            </ul>
            {% if request.user.is_manager %}
                <div class="ml-auto">
                    {% if not semester.participations_are_archived %}
                        <div class="btn-group" role="group">
                            <a id="btnAdd" role="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Create/Import' %}</a>
                            <div class="dropdown-menu" aria-labelledby="btnAdd">
                                <a class="dropdown-item" href="{% url 'staff:course_create' semester.id %}"><span class="fas fa-fw fa-chalkboard-teacher"></span> {% trans 'Create course' %}</a>
                                <a class="dropdown-item" href="{% url 'staff:evaluation_create' semester.id %}"><span class="fas fa-fw fa-clipboard-check"></span> {% trans 'Create evaluation' %}</a>
                                <a class="dropdown-item" href="{% url 'staff:single_result_create' semester.id %}"><span class="fas fa-fw fa-poll"></span> {% trans 'Create single result' %}</a>
                                <a class="dropdown-item" href="{% url 'staff:semester_import' semester.id %}"><span class="fas fa-fw fa-file-import"></span> {% trans 'Import courses and evaluations' %}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="btn-group ml-2" role="group">
                        <a id="btnExport" role="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Export' %}</a>
                        <div class="dropdown-menu" aria-labelledby="btnExport">
                            <a class="dropdown-item" href="{% url 'staff:semester_export' semester.id %}">{% trans 'Export results' %}</a>
                            <a class="dropdown-item" href="{% url 'staff:semester_raw_export' semester.id %}">{% trans 'Export raw evaluation data' %}</a>
                            <a class="dropdown-item" href="{% url 'staff:semester_participation_export' semester.id %}">{% trans 'Export participation data' %}</a>
                        </div>
                    </div>
                    {% if not semester.participations_are_archived %}
                        <a href="{% url 'staff:semester_questionnaire_assign' semester.id %}" class="btn btn-sm btn-light ml-2">{% trans 'Assign questionnaires' %}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="card-body tab-content">
            <div class="tab-pane show active" id="evaluations" role="tabpanel">
                <div class="btn-switch mb-2" id="evaluation-filter-buttons">
                    <div class="btn-switch-label my-auto pr-0">{% trans 'Filter' %}</div>
                    <div>
                        <div class="btn-switch btn-group icon-buttons">
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-circle icon-yellow"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'In preparation' %}">
                                <span class="fas fa-circle icon-yellow"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-square icon-gray"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Awaiting editor review' %}">
                                <span class="far fa-square icon-gray"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-check-square icon-yellow"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Approved by editor, awaiting manager review' %}">
                                <span class="far fa-check-square icon-yellow"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-check-square icon-green"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Approved by manager' %}">
                                <span class="far fa-check-square icon-green"></span>
                            </a>
                        </div>
                        <div class="btn-switch btn-group icon-buttons">
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-pause icon-gray"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluation did not start yet' %}">
                                <span class="fas fa-pause icon-gray"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-play icon-gray"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'In evaluation' %}">
                                <span class="fas fa-play icon-gray"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-stop icon-green"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluated' %}">
                                <span class="fas fa-stop icon-green"></span>
                            </a>
                        </div>
                        <div class="btn-switch btn-group icon-buttons">
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-comment icon-gray"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'No text answers available' %}">
                                <span class="fas fa-comment icon-gray"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-comment icon-yellow"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Text answers awaiting review' %}">
                                <span class="fas fa-comment icon-yellow"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-comment icon-green"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Text answers reviewed' %}">
                                <span class="fas fa-comment icon-green"></span>
                            </a>
                        </div>
                        <div class="btn-switch btn-group icon-buttons">
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-gray"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluation not finished' %}">
                                <span class="fas fa-chart-bar icon-gray"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-red"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Results not yet published although they probably could be' %}">
                                <span class="fas fa-chart-bar icon-red"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-yellow"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Results not yet published' %}">
                                <span class="fas fa-chart-bar icon-yellow"></span>
                            </a>
                            <a role="button" class="btn btn-sm btn-light" data-filter="fa-chart-bar icon-green"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Results published' %}">
                                <span class="fas fa-chart-bar icon-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <form id="evaluation_operation_form" method="GET" action="{% url 'staff:semester_evaluation_operation' semester.id %}">
                    <table id="evaluation-table" class="table table-striped table-narrow vertically-aligned">
                        {% if num_evaluations > 0 %}
                            <thead>
                                <tr>
                                    <th data-orderable="false"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Evaluation period' %}</th>
                                    <th data-orderable="false"></th>
                                    <th data-orderable="false"></th>
                                </tr>
                            </thead>
                        {% endif %}
                        <tbody>
                        {% for evaluation in evaluations %}
                            <tr id="evaluation-row-{{ evaluation.id }}">
                                {% include 'staff_semester_view_evaluation.html' with semester=semester evaluation=evaluation info_only=False %}
                            </tr>
                        {% empty %}
                            <tr><td><i>{% trans 'There are no evaluations in this semester.' %}</i><td></tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if request.user.is_manager and not semester.participations_are_archived %}
                        <div class="my-2">
                            <a role="button" class="btn btn-sm btn-secondary"
                                onclick="$('#evaluation_operation_form td').prev().find(':checkbox').prop('checked', true);">
                                {% trans 'Select all' %}
                            </a>
                            <a role="button" class="btn btn-sm btn-secondary"
                                onclick="$('#evaluation_operation_form :checkbox').prop('checked', false);">{% trans 'Select none' %}
                            </a>
                        </div>
                        <div>
                            <button name="target_state" value="prepared" type="submit" class="btn btn-sm btn-light"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluations in preparation or approved by editors' %}">
                                <span class="fas fa-circle icon-yellow"></span>
                                <span class="far fa-check-square icon-yellow"></span>
                                {% trans 'Ask for editor review' %}
                            </button>
                            <button name="target_state" value="new" type="submit" class="btn btn-sm btn-light"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluations awaiting editor review, approved by editor or approved by manager' %}">
                                <span class="far fa-square icon-gray"></span>
                                <span class="far fa-check-square icon-yellow"></span>
                                <span class="far fa-check-square icon-green"></span>
                                {% trans 'Revert to preparation' %}
                            </button>
                            <button name="target_state" value="in_evaluation" type="submit" class="btn btn-sm btn-light"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Evaluations waiting for evaluation period to start' %}">
                                <span class="fas fa-pause icon-gray"></span>
                                {% trans 'Start evaluation' %}
                            </button>
                            <button name="target_state" value="published" type="submit" class="btn btn-sm btn-light"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Unpublished evaluations' %}">
                                <span class="fas fa-chart-bar icon-yellow"></span>
                                <span class="fas fa-chart-bar icon-red"></span>
                                {% trans 'Publish' %}
                            </button>
                            <button name="target_state" value="reviewed" type="submit" class="btn btn-sm btn-light"
                                data-toggle="tooltip" data-placement="top" title="{% trans 'Published evaluations' %}">
                                <span class="fas fa-chart-bar icon-green"></span>
                                {% trans 'Unpublish' %}
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="tab-pane" id="courses" role="tabpanel">
                <table id="course-table" class="table table-striped table-narrow vertically-aligned">
                    {% if courses %}
                        <thead>
                            <tr role="row">
                                <th>{% trans 'Course' %}</th>
                                <th>{% trans 'Responsible' %}</th>
                                <th>{% trans '#Evaluations' %}</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for course in courses %}
                            <tr id="course-row-{{ course.id }}">
                                <td style="width: 40%" data-order="{{ course.name }}">
                                    <div>
                                        <a href="{% url 'staff:course_edit' semester.id course.id %}">{{ course.name }}</a>
                                    </div>
                                    {% include 'course_badges.html' %}
                                </td>
                                <td style="width: 40%;">
                                    <div class="font-italic">
                                        {{ course.responsibles_names }}
                                    </div>
                                </td>
                                <td style="width: 10%;">
                                    {% if course.evaluations.count == 0 %}
                                        <span class="badge badge-warning">{% trans 'No evaluations' %}</span>
                                    {% else %}
                                        {{ course.evaluations.count }}
                                    {% endif %}
                                </td>
                                <td class="text-right" style="width: 10%;">
                                    {% if course.can_be_deleted_by_manager %}
                                        <a onclick="deleteCourseModalShow({{ course.id }}, '{{ course.name|escapejs }}');" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"><span class="fas fa-trash" aria-hidden="true"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td><i>{% trans 'There are no courses in this semester.' %}</i><td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Delete semester' as title %}
    {% trans 'Do you really want to delete the semester <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete semester' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteSemesterModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteSemesterModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_delete' %}",
                data: {"semester_id": dataId},
                success: function(){ location.replace("{% url 'staff:index' %}"); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
    {% trans 'Archive participations' as title %}
    {% blocktrans asvar question %}Do you really want to archive all participations in the semester <strong id="data-label"></strong>? Further changes to the evaluations won't be possible and you can't undo this action.{% endblocktrans %}
    {% trans 'Archive participations' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='archiveParticipationsModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function archiveParticipationsModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_archive_participations' %}",
                data: {"semester_id": dataId},
                success: function(){ location.reload(); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
    {% trans 'Delete grade documents' as title %}
    {% blocktrans asvar question %}Do you really want to delete the grade documents in the semester <strong id="data-label"></strong>? This will delete all existing grade documents for this semester's courses and will disable new uploads. You can't undo this action.{% endblocktrans %}
    {% trans 'Delete grade documents' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteGradeDocumentsModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteGradeDocumentsModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_delete_grade_documents' %}",
                data: {"semester_id": dataId},
                success: function(){ location.reload(); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
    {% trans 'Archive results' as title %}
    {% blocktrans asvar question %}Do you really want to archive the results in the semester <strong id="data-label"></strong>? This will make the results of all evaluations inaccessible for all users except their contributors and managers. You can't undo this action.{% endblocktrans %}
    {% trans 'Archive results' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='archiveResultsModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function archiveResultsModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:semester_archive_results' %}",
                data: {"semester_id": dataId},
                success: function(){ location.reload(); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
    {% trans 'Delete evaluation' as title %}
    {% trans 'Do you really want to delete the evaluation <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete evaluation' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteEvaluationModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteEvaluationModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:evaluation_delete' %}",
                data: {"evaluation_id": dataId},
                success: function(){ $('#evaluation-row-'+dataId).hide('slow', function(){ $('#evaluation-row-'+dataId).remove(); }); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
    {% trans 'Delete course' as title %}
    {% trans 'Do you really want to delete the course <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete course' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteCourseModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteCourseModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:course_delete' %}",
                data: {"course_id": dataId},
                success: function(){ $('#course-row-'+dataId).hide('slow', function(){ $('#course-row-'+dataId).remove(); }); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        $('.btn-toggle').click(function() {
            $(this).find('.btn').toggleClass('active');

            if ($(this).find('.btn-primary').size()>0) {
                $(this).find('.btn').toggleClass('btn-primary');
            }
            $(this).find('.btn').toggleClass('btn-secondary');
        });

        if (localStorage['collapse_overview'] === 'false') {
            $('#overviewCard').collapse('hide');
        }
        else {
            $('#overviewCard').collapse('show');
        }

        function saveCollapseState() {
            var state = window.localStorage['collapse_overview'] === 'true';
            localStorage['collapse_overview'] = (!state).toString();
        }

        if(localStorage['selected_tab'] === 'courses') {
            $('#coursesTab').tab('show');
        }

        function saveSelectedTab(tab) {
            localStorage['selected_tab'] = tab;
        }

        $(window).bind("pageshow", function () {
            $('#evaluation_operation_form :checkbox').prop('checked', false); // prevent wrong autofills
        });
    </script>


    {% get_current_language as LANGUAGE_CODE %}
    {% load static %}
    {% load compress %}

    {% compress js %}
        <script type="text/javascript" src="{% get_static_prefix %}js/plugins/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/plugins/dataTables.bootstrap4.min.js"></script>
    {% endcompress %}

    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(
            // return true for each line that should be visible after filtering
            // inspired by https://datatables.net/examples/plug-ins/range_filtering.html
            function( settings, data, dataIndex ) {
                if (settings.nTable.id === 'evaluation-table' && $("[data-filter].active").length > 0) {
                    // check whether any icon row contains the data-filter value of the active button
                    return data.slice(1,5).some(str => str.includes($("[data-filter].active")[0].dataset.filter));
                }
                return true;
            }
        );

        $(document).ready(function() {
            var evaluationTable = $('#evaluation-table').DataTable({
                "paging": false,
                "info": false,
                "stateSave": true,
                "language": {
                    "url": "{% get_static_prefix %}dataTables/{{ LANGUAGE_CODE }}.json"
                },
                "order": [[5, "asc"]],
                "dom": 'frt',
                fnInitComplete: function() {
                    // add counts to each filter button
                    $("#evaluation-filter-buttons [data-filter]").each(function(i, obj) {
                        var iconCount = 0;
                        [1,2,3,4].forEach(i => {
                            iconCount += evaluationTable.column(i).data().filter((value, index) => value.includes(obj.dataset.filter)).count();
                        });
                        $(`<span class="badge badge-pill ${iconCount == 0 ? 'badge-btn-zero' : 'badge-btn'}">${iconCount}</span>`).appendTo(obj);
                    });

                    // add click events for filter buttons
                    $('#evaluation-filter-buttons [data-filter]').click(function(e) {
                        // toggle active states and refresh table
                        var button = $(e.target).closest("a");
                        button.toggleClass("active");
                        $("[data-filter].active").not(button).removeClass("active");
                        evaluationTable.draw();

                        // store which button was selected
                        localStorage.removeItem('evaluation-filter_{{ semester.id }}');
                        if($("[data-filter].active").length) {
                            localStorage['evaluation-filter_{{ semester.id }}'] = $("[data-filter].active")[0].dataset.filter;
                        }
                    });

                    // activate previously stored active button after page reload
                    $('#evaluation-filter-buttons [data-filter="' + localStorage['evaluation-filter_{{ semester.id }}'] + '"]').addClass("active");
                    evaluationTable.draw();
                }
            });
            var courseTable = $('#course-table').DataTable({
                "paging": false,
                "info": false,
                "stateSave": true,
                "language": {
                    "url": "{% get_static_prefix %}dataTables/{{ LANGUAGE_CODE }}.json"
                },
                "order": [[0, "asc"]],
                "dom": 'frt'
            });
        });
    </script>
{% endblock %}
