{% extends 'staff_base.html' %}

{% block content %}
    <div class="card-columns staff-index-card-columns">
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Semesters' %}</h4>
            {% if semesters %}
                <ul>
                {% for semester in semesters %}
                    <li><a href="{% url 'staff:semester_view' semester.id %}">{{ semester.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                {% translate 'There are no semesters yet.' %}
            {% endif %}
            <a href="{% url 'staff:semester_create' %}" class="btn btn-sm btn-dark mt-2">{% translate 'Create new semester' %}</a>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Questionnaires' %}</h4>
            <ul>
                <li><a href="{% url 'staff:questionnaire_index' %}">{% translate 'All questionnaires' %}</a></li>
            </ul>
            <a href="{% url 'staff:questionnaire_create' %}" class="btn btn-sm btn-dark mt-2">{% translate 'Create new questionnaire' %}</a>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Users' %}</h4>
            <ul>
                <li><a href="{% url 'staff:user_list' %}">{% translate 'All users' %}</a></li>
                <li><a href="{% url 'staff:user_import' %}">{% translate 'Import users' %}</a></li>
                <li><a href="{% url 'staff:user_export' %}">{% trans 'Export users' %}</a></li>
                <li><a href="{% url 'staff:user_merge_selection' %}">{% translate 'Merge users' %}</a></li>
                <li><a href="{% url 'staff:user_bulk_update' %}">{% translate 'Update users' %}</a></li>
            </ul>
            <a href="{% url 'staff:user_create' %}" class="btn btn-sm btn-dark mt-2">{% translate 'Create new user' %}</a>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Programs' %}</h4>
            <ul>
                <li><a href="{% url 'staff:program_index' %}">{% translate 'All programs' %}</a></li>
            </ul>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Course types' %}</h4>
            <ul>
                <li><a href="{% url 'staff:course_type_index' %}">{% translate 'All course types' %}</a></li>
                <li><a href="{% url 'staff:course_type_merge_selection' %}">{% translate 'Merge course types' %}</a></li>
            </ul>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Text answer warnings' %}</h4>
            <ul>
                <li>
                    <a href="{% url 'staff:text_answer_warnings' %}">
                        {% translate 'All text answer warnings' %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Reward Points' %}</h4>
            <ul>
                <li><a href="{% url 'rewards:reward_point_redemption_events' %}">{% translate 'Reward point redemption events' %}</a></li>
            </ul>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'Templates' %}</h4>
            <ul>
                {% for template in templates %}
                    <li><a href="{% url 'staff:template_edit' template.id %}">{{ template.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="card staff-index-card card-body">
            <h4 class="card-title">{% translate 'FAQ and Infotexts' %}</h4>
            <ul>
                <li><a href="{% url 'staff:faq_index' %}">{% translate 'All FAQ Sections' %}</a></li>
                <li><a href="{% url 'staff:infotexts' %}">{% translate 'All Infotexts' %}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
