{% extends "staff_semester_base.html" %}

{% load i18n %}

{% block content %}
    {{ block.super }}
    {% if not form.is_valid %}
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
        <legend>{% trans "Lottery" %}</legend>
        {{ form.as_div }}
        </fieldset>
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" value="{% trans "Perform Lottery" %}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    {% else %}
    <p>
        {% trans "The lottery was performed and the winners are:" %}
    </p>
    <ul>
        {% for user in winners %}
            <li>
                {{ user.full_name }}
                {% if user.email %}
                    (<a href="mailto:{{ user.email }}">{{ user.email }}</a>)
                {% endif %}
            </li>
        {% empty %}
            <li>None</li>
        {% endfor %}
    </ul>
    <p>
        {{ eligible|length }} {% trans "users were eligible for the lottery." %}
    </p>
    {% endif %}
{% endblock %}
