{% extends 'staff_base.html' %}

{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:user_index' %}">{% translate 'Users' %}</a></li>
    <li class="breadcrumb-item">{% translate 'Import users' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% translate 'Import users' %}</h3>

    {% include 'staff_message_rendering_template.html' with importer_log=importer_log %}

    <form id="user-import-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <p>
                    {% translate 'Upload Excel file' %}
                    (<a href="{% url 'staff:download_sample_file' 'sample_user.xlsx' %}">{% translate 'Download sample file' %}</a>,
                    <button type="button" class="btn btn-link" id="copy-user-headers-button">{% translate 'Copy headers to clipboard' %}</button>).
                    {% translate 'This will create all contained users.' %}
                </p>
                {% include 'bootstrap_form.html' with form=excel_form %}
            </div>
        </div>
        <div class="card card-submit-area{% if test_passed %} card-submit-area-2{% endif %} text-center mb-3">
            <div class="card-body">
                {% if not test_passed %}
                    <button name="operation" value="test" type="submit" class="btn btn-light form-submit-btn">{% translate 'Upload and test' %}</button>
                {% else %}
                    <button name="operation" value="test" type="submit" class="btn btn-light form-submit-btn">{% translate 'Upload and test' %}</button>
                    <confirmation-modal type="submit" name="operation" value="import">
                        <span slot="title">{% translate 'Import Users' %}</span>
                        <span slot="action-text">{% translate 'Import Users' %}</span>
                        <span slot="question">
                            {% blocktranslate trimmed %}
                                Do you really want to import the users from the Excel file?
                            {% endblocktranslate %}
                        </span>

                        <button slot="show-button" type="button" class="btn btn-primary form-submit-button">{% translate 'Import previously uploaded file' %}</button>
                    </confirmation-modal>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript" src="{% static 'js/copy-to-clipboard.js' %}"></script>
    <script type="text/javascript">
        document.getElementById("copy-user-headers-button").addEventListener("click", () => copyHeaders(['Title', 'First name', 'Last name', 'Email']));
    </script>
{% endblock %}
