{% extends "staff_course_base.html" %}

{% load evaluation_filters %}
{% load bootstrap3 %}

{% block content %}
    {{ block.super }}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{% blocktrans %}Please fill out all required fields and select at least one recipient group.{% endblocktrans %}</div>
    {% endif %}
    <form id="course-email-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="email-form">
                {% for field in form %}
                    <div class="form-row">
                        {% if field.name == "recipients" %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label class="col-md-2 control-label" name="{{ field.name}}">{{ field.label }}</label>
                                <div class="col-md-10">
                                    <div class="btn-group" data-toggle="buttons">
                                        {% for choice in field %}
                                            <label class="btn btn-sm btn-default control-label {% if choice.data.value in field.value %}active{% endif %}" name="{{ field.name }}">
                                                <input id="{{ choice.id_for_label }}" name="{{ choice.data.name }}" type="checkbox" value="{{ choice.data.value }}" autocomplete="off" {% if choice.data.value in field.value %}checked{% endif %} />
                                                {{ choice.choice_label }} {{ choice.id }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <input name="export" type="submit" formnovalidate value="{% trans "Show Recipients" %}" class="btn btn-sm btn-primary"/>
                                </div>
                            </div>
                        {% else %}
                            {% bootstrap_field field layout='horizontal' %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="well submit-area text-center">
            <input name="send" type="submit" value="{% trans "Send email" %}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}
