{% extends 'staff_base.html' %}

{% load staff_templatetags %}

{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb_item_url 'staff:questionnaire_index' %}
        {% translate 'Questionnaires' %}
    {% endbreadcrumb_item_url %}
    {% if questionnaire %}
        {% breadcrumb_item_url 'staff:questionnaire_edit' questionnaire.id %}
            {{ questionnaire.name }}
        {% endbreadcrumb_item_url %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
