{% load staff_templatetags %}

{% for message in success_messages %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="fas fa-times"></span>
        </button>
        {{ message }}
    </div>
{% endfor %}

{% for error in errors %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="fas fa-times"></span>
        </button>
        {{ error }}
    </div>
{% endfor %}

{% for key, warninglist in warnings.items %}
    {% if warninglist %}
        <div class="card collapsible card-outline-warning mb-3">
            <div class="card-header">
                <a class="collapse-toggle" data-toggle="collapse" href="#{{ key }}Card" aria-expanded="false" aria-controls="{{ key }}Card">{{ key|warningname }}</a>
            </div>
            <div class="collapse show" id="{{ key }}Card">
                <div class="card-body">
                    {% for warning in warninglist %}
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span class="fas fa-times"></span>
                            </button>
                            {{ warning }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
