<div class="card mb-3">
    <div class="card-body">
         {% if heading %}<h4 class="card-title">{{ heading }}</h4>{% endif %} 
        <div class="form-check mb-2">
            <input class="form-check-input" id="send_email{{ id_suffix }}" type="checkbox" name="send_email{{ id_suffix }}"
                checked onclick="$('#email_form{{ id_suffix }}').toggle();" />
            <label class="form-check-label" for="send_email{{ id_suffix }}">{% trans 'Send email notifications' %}</label>
        </div>
        <div class="email-form" id="email_form{{ id_suffix}}">
            <div class="form-group d-flex">
                <div class="form-label">Email subject</div>
                <div class="form-field"><input class="form-control" name="email_subject{{ id_suffix }}" type="text" value="{{ email_template.subject }}" /></div>
            </div>
            <div class="form-group d-flex">
                <div class="form-label">Email body</div>
                <div class="form-field"><textarea class="form-control" cols="40" rows="10" name="email_body{{ id_suffix }}">{{ email_template.body }}</textarea></div>
            </div>
        </div>
    </div>
</div>
