{% extends 'staff_base.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:user_index' %}">{% trans 'Users' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Merge users' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{% trans 'Merge users' %}</h3>

                    <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p>{% trans 'Select the users you want to merge.' %}</p>
                                {% include 'bootstrap_form.html' with form=form wide=False %}
                            </div>
                        </div>
                        <div class="card card-submit-area text-center mb-3">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">{% trans 'Show merge info' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{% trans 'Merge suggestions' %}</h3>
                    {% for users in suggested_merges %}
                        <div class="card mb-3">
                            <div class="card-body">
                                    <p><b>{{ users.0.full_name }}</b></p>
                                    <p>{{ users.0.email }}</p>
                                    <p>{{ users.1.email }}</p>
                                    <div class="text-center">
                                    <a href="{% url 'staff:user_merge' users.0.id users.1.id %}" class="btn btn-primary">Show merge info</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
