{% extends "staff_course_base.html" %}

{% load bootstrap3 %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "staff:course_comments" semester.id course.id %}#{{ text_answer.id }}">{% trans "Comments" %}</a></li>
    <li>{{ text_answer.id }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>{% trans "Comment" %}</h2>
    <form id="comment-edit-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="well submit-area text-center">
            <input type="submit" value="{% trans "Save comment" %}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}
