{% load i18n %}
{% load morefilters %}
{% load static %}

{% if state == 'new' or state == 'prepared' or state == 'editorApproved' or state == 'reviewed' or state == 'published' %}
    {% if info_only|is_false %}
        <td class="minimize">
            <input type="checkbox" name="course" id="option{{course.id}}" value="{{course.id}}" {{disable_if_archived}}/>
        </td>
    {% endif %}
{% endif %}
<td class="maximize">
    <div>
    {% if course.can_staff_edit and info_only|is_false %}
        <a href="{% url "staff:course_edit" semester.id course.id %}">{{ course.name }}</a>
    {% else %}
        {{ course.name }}
    {% endif %}
    </div>
    <div style="font-style: italic">
        {{ course.responsible_contributor.full_name }}
    </div>
    {% for degree in course.degrees.all %}
        <span class="label label-default">{{ degree }}</span>
    {% endfor %}
    <span class="label label-default">{{ course.type }}</span>
    <span class="label label-default">{% if course.is_graded %}{% trans "graded" %}{% else %}{% trans "not graded" %}{% endif %}</span>
    {% if course.is_single_result %}
        <span class="label label-info">{% trans "Single result" %}</span>
    {% endif %}
    {% for warning in course.warnings %}
        <span class="label label-warning">{{ warning }}</span>
    {% endfor %}
</td>
<td class="minimize text-center">
    {{ course.vote_start_date|date:"SHORT_DATE_FORMAT" }}{% if course.is_single_result|is_false %} - {{ course.vote_end_date|date:"SHORT_DATE_FORMAT" }}{% endif %}
    {% if course.state == 'inEvaluation' %}
        <br>
        {% if course.days_left_for_evaluation <= 0 %}
            <span class="label label-danger">{% trans "ends today" %}</span>
        {% elif course.days_left_for_evaluation == 1 %}
            <span class="label label-danger">{% trans "ends tomorrow" %}</span>
        {% elif course.days_left_for_evaluation < 5 %}
            <span class="label label-default">{% blocktrans with days=course.days_left_for_evaluation %}{{ days }} days left{% endblocktrans %}</span>
        {% endif %}
    {% endif %}
</td>
{% if state == 'inEvaluation' or state == 'evaluated' or state == 'reviewed' or state == 'published' %}
    {% if course.num_participants %}
        <td class="minimize">
            <p data-toggle="tooltip" data-placement="left" title="{% trans "Voters" %}">
                <span class="glyphicon glyphicon-user"></span>
                <span>{{ course.num_voters }}/{{ course.num_participants }}</span>
                <span>({{ course.num_voters|percentage:course.num_participants|default:'&madsh;' }})</span>
            </p>
            {% if course.num_textanswers > 0 and state != 'published' and info_only|is_false %}
                <a href="{% url "staff:course_comments" semester.id course.id %}" data-toggle="tooltip" data-placement="left"title="{% trans "Click to review text answers" %}">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>{{ course.num_reviewed_textanswers }}/{{ course.num_textanswers }}</span>
                    <span>({{ course.num_reviewed_textanswers|percentage:course.num_textanswers|default:'&mdash;' }})</span>
                </a>
            {% else %}
                <p data-toggle="tooltip" data-placement="left" title="{% trans "Text answers" %}">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>{{ course.num_textanswers }}</span>
                </p>
            {% endif %}
        </td>
    {% else %}
        <td class="minimize">
            <p data-toggle="tooltip" data-placement="left" title="{% trans "Voters" %}">
                <span class="glyphicon glyphicon-user"></span>
                <span>&mdash;</span>
            </p>
        </td>
    {% endif %}
{% else %}
    <td class="minimize">
        <p data-toggle="tooltip" data-placement="left" title="{% trans "Participants" %}">
            <span class="glyphicon glyphicon-user"></span>
            <span>{{ course.num_participants }}</span>
        </p>
    </td>
{% endif %}
{% if info_only|is_false %}
    <td class="minimize">
        <a href="{% url "staff:course_email" semester.id course.id %}" class="btn btn-sm btn-default">{% trans "Email" %}</a>
        {% if state == 'new' or state == 'prepared' or state == 'editorApproved' or state == 'approved' %}
            <a href="{% url "staff:course_preview" semester.id course.id %}" class="btn btn-sm btn-default">{% trans "Preview" %}</a>
        {% endif %}
        {% if state == 'inEvaluation' or state == 'evaluated' or state == 'reviewed' %}
            <a href="{% url "results:course_detail" semester.id course.id %}" title="{% trans "Preview results" %}" class="btn btn-sm btn-default">{% trans "Preview results" %}</a>
        {% endif %}
        {% if course.can_staff_delete %}
            <a href="{% url "staff:course_delete" semester.id course.id %}" class="btn btn-sm btn-danger">{% trans "Delete" %}</a>
        {% endif %}
        {% if state == 'published' %}
            <a href="{% url "results:course_detail" semester.id course.id %}" title="{% trans "Results" %}" class="btn btn-sm btn-default">{% trans "Results" %}</a>
        {% endif %}
    </td>
{% endif %}
