{% extends "staff_course_base.html" %}

{% load i18n %}
{% load static %}
{% load morefilters %}

{% block content %}
    {{ block.super }}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{% blocktrans %}Please fill out all required fields and select at least one recipient group.{% endblocktrans %}</div>
    {% endif %}
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="email-form">
                {% for field in form %}
                    <div class="form-row">
                        {% if field.name == "recipients" %}
                            <div class="form-label vertically-aligned {% if field.errors %}error{% endif %}" name="{{ field.name }}">{{ field.label }}</div>
                            <div class="form-field btn-group" data-toggle="buttons">
                                {% for choice in field %}
                                    <label class="btn btn-sm btn-default {% if choice.choice_value in field.value %}active{% endif %} {% if field.errors %}error{% endif %}" name="{{ field.name }}" onclick="changedFieldValue('{{ field.name }}')">
                                        <input id="{{ choice.id_for_label }}" name="{{ choice.name }}" type="checkbox" value="{{ choice.choice_value }}" autocomplete="off" {% if choice.choice_value in field.value %}checked="checked"{% endif %}/>
                                        {{ choice.choice_label }} {{ choice.id }}
                                    </label>
                                {% endfor %}
                            </div>
                        {% elif field.name == "subject" %}
                            <div class="form-label {% if field.errors %}error{% endif %}" name="{{ field.name }}">{{ field.label }}</div>
                            <div class="form-field"><input class="form-control {% if field.errors %}error{% endif %}" id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" oninput="changedFieldValue('{{ field.name }}');"/></div>
                        {% elif field.name == "body" %}
                            <div class="form-label {% if field.errors %}error{% endif %}" name="{{ field.name }}">{{ field.label }}</div>
                            <div class="form-field"><textarea class="form-control {% if field.errors %}error{% endif %}" cols="40" rows="10" id="{{ field.id_for_label }}" name="{{ field.name }}" oninput="changedFieldValue('{{ field.name }}');"></textarea></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="well submit-area text-center">
            <input type="submit" value="{% trans "Send email" %}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        function changedFieldValue(fieldName) {
            // remove error highlighting when field was changed
            $("[name=" + fieldName + "]").removeClass("error");
        }
    </script>
{% endblock %}
