{% extends 'staff_questionnaire_base.html' %}

{% block content %}
    {{ block.super }}
    <div class="row mb-3">
        <div class="col my-auto">
            <a href="{% url 'staff:questionnaire_create' %}" class="btn btn-sm btn-dark">{% trans 'Create new questionnaire' %}</a>
        </div>
        <div class="col-auto my-auto">
            <div class="btn-switch btn-switch-light">
                <div class="btn-switch-label">{% trans 'Hidden questionnaires' %}</div>
                <div class="btn-switch btn-group">
                    <a href="{% url 'staff:questionnaire_index' %}?filter_questionnaires=false" role="button" class="btn btn-sm btn-light{% if not filter_questionnaires %} active{% endif %}">
                    {% trans 'Show' %}
                    </a>
                    <a href="{% url 'staff:questionnaire_index' %}?filter_questionnaires=true" role="button" class="btn btn-sm btn-light{% if filter_questionnaires %} active{% endif %}">
                        {% trans 'Hide' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="input-group col-3 my-auto">
            <input type="text" class="form-control" placeholder="{% trans 'Search...' %}" id="search">
            <div class="input-group-append">
                <button class="btn btn-light text-secondary" type="button" onclick="clearFilter();" data-toggle="tooltip" data-placement="top" title="{% trans 'Clear filter' %}"><span class="fas fa-backspace"></span></button>
              </div>
        </div>
    </div>

    {% if general_questionnaires_top or general_questionnaires_bottom or contributor_questionnaires %}
        {% trans 'Top general questionnaires' as headline %}
        {% include 'staff_questionnaire_index_list.html' with questionnaires=general_questionnaires_top headline=headline extra_classes='mb-3' type='top' %}
        {% trans 'Contributor questionnaires' as headline %}
        {% include 'staff_questionnaire_index_list.html' with questionnaires=contributor_questionnaires headline=headline extra_classes='mb-3' type='contributor' %}
        {% trans 'Bottom general questionnaires' as headline %}
        {% include 'staff_questionnaire_index_list.html' with questionnaires=general_questionnaires_bottom headline=headline extra_classes='' type='bottom' %}
    {% else %}
        <p>
            {% trans 'There are no questionnaires yet.' %}
        </p>
    {% endif %}
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Delete questionnaire' as title %}
    {% trans 'Do you really want to delete the questionnaire <strong id="data-label"></strong>?' as question %}
    {% trans 'Delete questionnaire' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteQuestionnaireModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteQuestionnaireModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:questionnaire_delete' %}",
                data: {"questionnaire_id": dataId},
                success: function(){ $('#questionnaire-row-'+dataId).hide('slow', function(){ $('#questionnaire-row-'+dataId).remove(); }); },
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        function updateTableStripes() {
            $('.questionnaire-table tr:not(.table-header)').removeClass("odd-row");
            $('.questionnaire-table').each(function () {
                $(this).find('tr:not(.table-header):not(.d-none)').filter(function (index, element) {
                    return index % 2 === 0;
                }).addClass("odd-row");
            });
        }

        var delayTimer;
        function updateTable() {
            var searchValue = $('input#search').val().toLowerCase();
            localStorage['questionnaires_enteredSearchValue'] = $('input#search').val();

            // find which rows to show
            $('.questionnaire-table tr:not(.table-header)').each(function () {
                var questionnaireName = $(this).find('.questionnaire-name').html().toLowerCase();
                var showRow = searchValue.length === 0 || questionnaireName.includes(searchValue);
                $(this).toggleClass("d-none", !showRow);
            });

            updateTableStripes();
        }

        function clearFilter() {
            $('input#search').val('');
            updateTable();
        }

        $(document).ready(function () {
            $('.questionnaire-table tbody').sortable({
                handle: ".fa-arrows-alt-v",
                draggable: ".sortable",
                scrollSensitivity: 70,
                onUpdate: function (event) {
                    // update indices of all questionnaires in the table
                    var questionnaires = $(event.item).parent().children();
                    var updatedIndices = {};
                    for (var i = 0; i < questionnaires.length; i++) {
                        var questionnaire = $(questionnaires[i]);
                        updatedIndices[questionnaire.attr('data-id')] = i;
                    }
                    $.post("{% url 'staff:questionnaire_update_indices' %}", updatedIndices);
                    updateTableStripes();
                }
            });

            // load previously selected filter
            $('input#search').val(localStorage['questionnaires_enteredSearchValue']);

            // add change handler for search field
            $('input#search').on('change paste input', function () {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(function () {
                    updateTable();
                }, 200);
            });

            // apply initial filters
            updateTable();
        });
    </script>
{% endblock %}
