{% extends 'staff_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'staff:user_index' %}">{% trans 'Users' %}</a></li>
    {% if form.instance.id %}
        <li class="breadcrumb-item">{{ form.instance.full_name }}</li>
    {% else %}
        <li class="breadcrumb-item">{% trans 'Create user' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% if form.instance.id %}{% trans 'Edit user' %}{% else %}{% trans 'Create user' %}{% endif %}</h3>

    <div class="card card-submit-area text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Resend email with active evaluations' %}</h5>
            <button type="button" class="btn btn-light" onclick="resendEmailModalShow({{ form.instance.id }}, '{{ form.instance.full_name|escapejs }}');">{% trans 'Send email' %}</button>
        </div>
    </div>


    <form id="user-form" method="POST" enctype="multipart/form-data" class="form-horizontal multiselect-form">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="ms-auto col-sm-9 mb-3">
                    {% include 'staff_user_badges.html' with user=form.instance %}
                </div>
                {% include 'bootstrap_form.html' with form=form %}
            </div>
        </div>

        {% if form.instance.pk %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'Represented Users' %}</h5>
                    {% include 'user_list_with_links.html' with users=form.instance.represented_users.all %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'CC-User for' %}</h5>
                    {% include 'user_list_with_links.html' with users=form.instance.ccing_users.all %}
                </div>
            </div>
            {% if evaluations_contributing_to %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <h5 class="card-title me-auto">{% trans 'Export evaluation results' %}</h5>
                            <div>
                                <a href="{% url 'staff:export_contributor_results' form.instance.id %}" class="btn btn-sm btn-light">{% trans 'Export all results' %}</a>
                            </div>
                        </div>
                        <ul>
                            {% regroup evaluations_contributing_to by course.semester as evaluation_list %}
                            {% for semester_evaluations in evaluation_list %}
                                <li>{{ semester_evaluations.grouper.name }}</li>
                                <ul>
                                    {% for evaluation in semester_evaluations.list %}
                                        <li>
                                            {% if evaluation|can_results_page_be_seen_by:form.instance %}
                                                <a href="{% url 'results:evaluation_detail' semester_evaluations.grouper.id evaluation.id %}?view=export&contributor_id={{ form.instance.id }}">
                                                    {{ evaluation.full_name }}
                                                </a>
                                            {% else %}
                                                {{ evaluation.full_name }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans 'Save user' %}</button>
                {% if form.instance and form.instance.can_be_deleted_by_manager %}
                    <button type="button" class="btn btn-danger" onclick="deleteModalShow({{ form.instance.id }}, '{{ form.instance.full_name|escapejs }}');">
                        {% trans 'Delete user' %}
                    </button>
                {% else %}
                    <span tabindex="0" data-bs-toggle="tooltip" title="{% blocktrans %}This user contributes to an evaluation, participates in an evaluation whose participations haven't been archived yet or has special rights and as such cannot be deleted.{% endblocktrans %}">
                    <button type="button" disabled class="btn btn-danger">
                        {% trans 'Delete user' %}
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% trans 'Delete user' as title %}
    {% trans 'Do you really want to delete the user <strong data-label=""></strong>?<br/>This person will also be removed from every other user having this person as a delegated or CC-user.' as question %}
    {% trans 'Delete user' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='deleteModal' title=title question=question action_text=action_text btn_type='danger' %}
    <script type="text/javascript">
        function deleteModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:user_delete' %}",
                data: {"user_id": dataId},
                success: function(){window.location="{% url 'staff:user_index' %}"},
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>

    {% trans 'Resend email' as title %}
    {% trans 'Do you really want to resend the email ?' as question %}
    {% trans 'Resend email' as action_text %}
    {% include 'confirmation_modal.html' with modal_id='resendEmailModal' title=title question=question action_text=action_text btn_type='success' %}
    <script type="text/javascript">
        function resendEmailModalAction(dataId) {
            $.ajax({
                type: "POST",
                url: "{% url 'staff:user_resend_email' %}",
                data: {"user_id": dataId},
                success: function(){window.location="{% url 'staff:user_index' %}"},
                error: function(){ window.alert("{% trans 'The server is not responding.' %}"); }
            });
        };
    </script>
{% endblock %}