{% extends "staff_semester_base.html" %}

{% load static %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Upload semester data from excel file (" %}<a href="{% get_static_prefix %}sample.xls">{% trans "Sample File"%}</a>{% trans "). This will create all containing students, teachers and courses and connect them. It will also set the entered values as default for all courses." %}
    </p>
    <form id="semester-import-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
       {% csrf_token %}
       {{ form.as_div }}
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                <button name="operation" value="test" type="submit" class="btn btn-primary">{% trans "Test" %}</button>
                <button name="operation" value="import" type="submit" class="btn btn-default">{% trans "Import" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
