{% if user.pk %}
    {% if user.is_staff %}
        <span class="badge badge-primary">{% trans "Staff" %}</span>
    {% elif user.is_reviewer %}
        <span class="badge badge-primary">{% trans "Reviewer" %}</span>
    {% endif %}
    {% if user.is_grade_publisher %}
        <span class="badge badge-primary">{% trans "Grade publisher" %}</span>
    {% endif %}
    {% if user.is_contributor %}
        <span class="badge badge-info">{% trans "Contributor" %}</span>
    {% endif %}
    {% if user.is_responsible %}
        <span class="badge badge-info">{% trans "Responsible" %}</span>
    {% endif %}
    {% if user.is_external %}
        <span class="badge badge-dark">{% trans "External" %}</span>
    {% endif %}
    {% if not user.is_active %}
        <span class="badge badge-danger">{% trans "Inactive" %}</span>
    {% endif %}
    {% if not user.email %}
        <span class="badge badge-danger">{% trans "No email" %}</span>
    {% endif %}
{% endif %}
