{% extends "staff_course_base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block content %}
    {{ block.super }}
    <p>
        {% trans "Upload course participants data from excel file" %} (<a href="{% get_static_prefix %}sample_user.xls">{% trans "Sample File"%}</a>). {% trans "This will create user accounts for all contained students and adds them as participants for the course." %}
    </p>
    <form id="participant-import-form" method="POST" enctype="multipart/form-data" class="form-horizontal">
       {% csrf_token %}
       {% bootstrap_form form layout='horizontal' %}
        <div class="form-group well">
            <div class="col-sm-offset-2 col-sm-6">
                <button name="operation" value="test" type="submit" class="btn btn-primary">{% trans "Test" %}</button>
                <button name="operation" value="import" type="submit" class="btn btn-default">{% trans "Import" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
