{% extends "staff_questionnaire_base.html" %}

{% load i18n %}
{% load staff_templatetags %}

{% block content %}
    {{ block.super }}
    <p>
        <a href="{% url "staff:questionnaire_create" %}" class="btn btn-sm btn-success">{% trans "Create new questionnaire" %}</a>
    </p>
    <p>
    {% if course_questionnaires or contributor_questionnaires %}
        {% include_staff_questionnaire_index_list course_questionnaires "Course questionnaires" %}
        {% include_staff_questionnaire_index_list contributor_questionnaires "Contributor questionnaires" %}
    {% else %}
        {% trans "There are no questionnaires yet." %}
    {% endif %}
    </p>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">

    $('.questionnaire-table tbody').sortable({
        handle: ".glyphicon-move",
        draggable: ".sortable",
        onUpdate: function( event ) {
            // update indices of all questionnaires in the table
            var questionnaires = $(event.item).parent().children();
            var updatedIndices = {};
            for (var i = 0; i < questionnaires.length; i++) {
                var questionnaire = $(questionnaires[i]);
                questionnaire.attr('data-index', i);
                updatedIndices[questionnaire.attr('data-id')] = i;
            }
            $.post('{% url "staff:questionnaire_update_indices" %}', updatedIndices);
        }
    });
    </script>
{% endblock %}
