{% extends 'staff_semester_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Export' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% trans 'Export' %} {{ semester.name }}</h3>

    <form id="semester-export-form" method="POST" class="form-horizontal multiselect-form">
        {% csrf_token %}

        {{ formset.management_form }}

        <div class="card mb-3">
            <div class="card-body">
                <p>{% trans 'Select the course types you want to export. Add multiple lines to create an export file with multiple sheets.' %}</p>
                <table id="exportsheets-table" class="table">
                    <thead>
                        <tr>
                            <th style="width: 90%">{% trans 'Course types' %}</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            {% include 'bootstrap_form_errors.html' with errors=form.non_field_errors %}
                            <tr class="sortable">
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                <td>
                                    {% include 'multiple_checkbox_widget.html' with field=form.selected_course_types %}
                                </td>
                                <td>{{ form.DELETE }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="include_unpublished" type="checkbox" name="include_unpublished" />
                    <label class="form-check-label" for="include_unpublished">
                        {% trans 'Include unpublished evaluations where the evaluation period ended in the export' %}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="include_not_enough_voters" type="checkbox" name="include_not_enough_voters" />
                    <label class="form-check-label" for="include_not_enough_voters">
                        {% trans 'Include evaluations where not enough votes were given in the export' %}
                    </label>
                </div>
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary form-submit-btn">{% trans 'Export' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    {% include 'sortable_form_js.html' %}

    <script type="text/javascript">
        rowChanged = function(row) {
            id = row.find("input[id$=-id]").val();
            return id;
        };
        rowAdded = function(row) { };
        makeFormSortable("exportsheets-table", "form", rowChanged, rowAdded, "", false, false);
    </script>
{% endblock %}
