{% extends 'staff_semester_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans 'Todo' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% for responsible, evaluations, delegates in responsible_list %}
        <div class="card{% if not forloop.last %} mb-3{% endif %}">
            <div class="card-header d-flex">
                <span class="pl-1 mr-auto">
                    <a href="{% url 'staff:user_edit' responsible.id %}">{{ responsible.full_name }}</a>, {% trans 'Delegate' %}:
                    {% for delegate in delegates %}
                        <a href="{% url 'staff:user_edit' delegate.id %}">{{ delegate.full_name }}</a>{% if not forloop.last %},{% endif %}
                    {% empty %}
                        &mdash;
                    {% endfor %}
                </span>
                <div>
                    <a href="{% url 'staff:send_reminder' semester.id responsible.id %}" class="btn btn-sm btn-light">{% trans 'Send Reminder' %}</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 40%">{% trans 'Name' %}</th>
                            <th style="width: 17%">{% trans 'State' %}</th>
                            <th style="width: 18%">{% trans 'Start of evaluation' %}</th>
                            <th style="width: 25%">{% trans 'Last modified by' %}</th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for evaluation in evaluations %}
                            <tr{% if evaluation.state != 'prepared' %} class="deactivate"{% endif %}>
                                <th scope="row">
                                    <a href="{% url 'staff:evaluation_edit' semester.id evaluation.id %}">{{ evaluation.full_name }}</a><br />
                                    {% include 'evaluation_badges.html' with mode='manager' %}
                                </th>
                                <td>{{ evaluation.state|statename }}</td>
                                <td>{% include 'staff_evaluation_evaluation_period.html' with state=evaluation.state start_only=True %}</td>
                                <td>
                                    {% if evaluation.last_modified_user %}
                                        {{ evaluation.last_modified_user }}
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}
