{% extends 'base.html' %}

{% block title %}{% trans 'Manage' %} - {{ block.super }}{% endblock %}

{% block breadcrumb_bar %}
    <ul class="breadcrumb">
        {% block breadcrumb %}
            {% if disable_breadcrumb_manager or not user.is_manager %}
                <li class="breadcrumb-item">{% trans 'Manage' %}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'staff:index' %}">{% trans 'Manage' %}</a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}
