{% extends 'staff_base.html' %}

{% load staff_templatetags %}

{% block breadcrumb %}
    {{ block.super }}
    {% url 'staff:course_type_index' as course_type_index_url %}
    {% breadcrumb_item course_type_index_url %} 
        {% translate 'Course types' %}
    {% endbreadcrumb_item %}

    {% breadcrumb_item %} 
        {% translate 'Merge course types' %}
    {% endbreadcrumb_item %}
    
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>{% translate 'Merge course types' %}</h3>

    <form id="course-type-merge-selection-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <p>{% translate 'Select the course types you want to merge.' %}</p>
                {% include 'bootstrap_form.html' with form=form %}
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% translate 'Show merge info' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
