{% extends 'staff_semester_base.html' %}
{% load staff_templatetags %}

{% block title %}
    {% if course %}
        {{ course.name }} -
    {% elif evaluation.course %}
        {{ evaluation.course.name }} -
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}

    {% if course %}
        {% url 'staff:course_edit' course.id as course_edit_url %}
        {% breadcrumb_item course_edit_url %} 
            {{ course.name }}
        {% endbreadcrumb_item %}
    {% elif evaluation.course %}
        {% url 'staff:course_edit' evaluation.course.id as course_edit_url %}
        {% breadcrumb_item course_edit_url %} 
            {{ evaluation.course.name }}
        {% endbreadcrumb_item %}
    {% endif %}
{% endblock %}
