{% extends 'base.html' %}
{% load staff_templatetags %}

{% block title %}{% translate 'Manage' %} - {{ block.super }}{% endblock %}

{% block breadcrumb_bar %}
    <div class="breadcrumb-bar">
        <ul class="breadcrumb">
            {% block breadcrumb %}
                {% if disable_breadcrumb_manager or not user.is_manager %}
                    {% create_breadcrumb %} 
                        {% translate 'Manage' %}
                    {% endcreate_breadcrumb %}
                {% else %}
                    {% url 'staff:index' as staff_index_url %}
                    {% create_breadcrumb url=staff_index_url %} 
                        {% translate 'Manage' %}
                    {% endcreate_breadcrumb %}
                {% endif %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
