{% extends 'staff_semester_base.html' %}

{% load evaluation_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% translate 'Preparation reminder' %}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% if responsible_list %}
        <div class="d-flex mb-3">
            <div class="me-auto">

                <form reload-on-success method="POST" action="{% url 'staff:semester_preparation_reminder' semester_id=semester.id %}">
                    {% csrf_token %}

                    <input type="hidden" name="semester_id" value="{{ semester.id }}" />

                    <confirmation-modal type="submit">
                        <span slot="title">{% translate 'Remind all' %}</span>
                        <span slot="action-text">{% translate 'Remind all' %}</span>
                        <span slot="question">{% translate 'Do you really want to remind everyone?' %}</span>

                        <button slot="show-button" type="button" id="remindAllButton" class="btn btn-sm btn-light">{% translate 'Remind all' %}</button>
                    </confirmation-modal>
                </form>
            </div>
        </div>
    {% endif %}

    {% for responsible, evaluations, delegates in responsible_list %}
        <div class="card{% if not forloop.last %} mb-3{% endif %}">
            <div class="card-header d-flex">
                <span class="ps-1 me-auto">
                    <a href="{% url 'staff:user_edit' responsible.id %}">{{ responsible.full_name }}</a>, {% translate 'Delegates' %}:
                    {% for delegate in delegates %}
                        <a href="{% url 'staff:user_edit' delegate.id %}">{{ delegate.full_name }}</a>{% if not forloop.last %},{% endif %}
                    {% empty %}
                        &mdash;
                    {% endfor %}
                </span>
                <div>
                    <a href="{% url 'staff:send_reminder' semester.id responsible.id %}" class="btn btn-sm btn-light">{% translate 'Send reminder' %}</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="width-percent-57">{% translate 'Name' %}</th>
                            <th class="width-percent-18">{% translate 'Start of evaluation' %}</th>
                            <th class="width-percent-25">{% translate 'Last modified by' %}</th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for evaluation in evaluations %}
                            <tr{% if evaluation.state != evaluation.State.PREPARED %} class="deactivate"{% endif %}>
                                <th scope="row">
                                    {% with approval_state_values=evaluation.state|approval_state_values %}
                                        <span class="{{ approval_state_values.icon }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ approval_state_values.description }}"></span>
                                    {% endwith %}
                                    <a href="{% url 'staff:evaluation_edit' evaluation.id %}">{{ evaluation.full_name }}</a><br />
                                    {% include 'evaluation_badges.html' with mode='manager' %}
                                </th>
                                <td>{% include 'staff_evaluation_evaluation_period.html' with state=evaluation.state start_only=True %}</td>
                                <td>
                                    {% if evaluation.related_logentries.0.user %}
                                        {{ evaluation.related_logentries.0.user }} ({{ evaluation.related_logentries.0.datetime|date:"SHORT_DATETIME_FORMAT" }})
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}
