{% extends "staff_semester_base.html" %}

{% block content %}
    {{ block.super }}
    <form id="semester-form" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                {% include "bootstrap_form.html" with form=form %}
            </div>
        </div>
        <div class="card card-submit-area text-center mb-3">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">{% trans "Save semester" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
