{% load evaluation_filters %}

{% for questionnaire, contributor, label, is_responsible, results in sections %}
    <div class="card">
        <div class="card-header">
            {{ questionnaire.public_name }}{% if contributor %}: {{ contributor.full_name }}{% if is_responsible %} ({% trans "responsible" %}){% endif %}{% if label %} &ndash; <i>{{ label }}</i>{% endif %}{% endif %}
        </div>
        <div class="card-body">
            {% for result in results %}
                <p>{{ result.question.text }}</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-10">{% trans "Comment" %}</th>
                            <th class="col-sm-2">{% trans "Publish" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for answer in result.answers %}
                            <tr id="{{ answer.id }}">
                                <td class="text-answer">
                                    {% if answer.reviewed_answer %}
                                        <a class="comment-link" href="{% url "staff:course_comment_edit" semester.id course.id answer.id %}">{{ answer.reviewed_answer|linebreaksbr }}</a><br />
                                        <span class="comment-original">({{ answer.original_answer|linebreaksbr }})</span>
                                    {% else %}
                                        <a class="comment-link" href="{% url "staff:course_comment_edit" semester.id course.id answer.id %}">{{ answer.original_answer|linebreaksbr }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <div id="{{ answer.id }}-buttons" class="btn-group btn-toggle">
                                        <span id="{{ answer.id }}-publish" onclick="press({{ answer.id }}, 'publish');" class="btn btn-sm btn-secondary {% if answer.is_published %}active{% endif %}">{% trans "yes" %}</span>
                                        {% if contributor %}<span id="{{ answer.id }}-make_private" onclick="press({{ answer.id }}, 'make_private');" class="btn btn-sm btn-secondary {% if answer.is_private %}active{% endif %}">{% trans "private" %}</span>{% endif %}
                                        <span id="{{ answer.id }}-hide" onclick="press({{ answer.id }}, 'hide');" class="btn btn-sm btn-secondary {% if answer.is_hidden %}active{% endif %}">{% trans "no" %}</span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endfor %}
