{% extends "staff_base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url "staff:faq_index" %}">{% trans "FAQ Sections" %}</a></li>
    <li>{{ section.title }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}

        <table id="question_table" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Question/Answer (german)" %}</th>
                    <th>{% trans "Question/Answer (english)" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                <tr class="sortable">
                    <td class="movable">
                        <span class="movable-icon glyphicon glyphicon-move"></span>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.question_de.errors }}
                        {{ form.question_de }}
                        {{ form.answer_de.errors }}
                        {{ form.answer_de }}
                    </td>
                    <td>
                        {{ form.question_en.errors }}
                        {{ form.question_en }}
                        {{ form.answer_en.errors }}
                        {{ form.answer_en }}
                    </td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-group well">
            <div class="col-sm-6">
                <input type="submit" value="{% trans "Save FAQ section" %}" class="btn btn-primary" onclick="preventAccidentalClosing = false;"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    {% include "sortable_form_js.html" %}

    <script type="text/javascript">
        preventAccidentalClosing = true;

        row_changed = function(row) {
            q_de = $(row.find('input[id$=-question_de]')).val();
            q_en = $(row.find('input[id$=-question_en]')).val();
            return q_de || q_en
        };
        row_added = function(row) { };
        make_form_sortable("question_table", "questions", row_changed, row_added, "", true, false);
    </script>
{% endblock %}
