{% extends "staff_base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">{% trans "Templates" %}</li>
    <li class="breadcrumb-item">{{ template.name }}</li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form id="template-form" method="POST" enctype="multipart/form-data" class="form-horizontal multiselect-form">
        {% csrf_token %}
        {% include "bootstrap_form.html" with form=form %}
        <div class="form-group well">
            <div class="offset-sm-3 col-sm-6">
                <input type="submit" value="{% trans "Save template" %}" onclick="preventAccidentalClosing = false;" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript"> preventAccidentalClosing = true; </script>
{% endblock %}
