name: Debug Mode Test Run

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-20.04

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: evap
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    name: Debug mode

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup python
        uses: ./.github/setup_python

      - name: Run tests
        run: python manage.py test --debug-mode
